<div *ngIf="docs.length > 0">
  <table *ngIf="docs.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let field of config.exportFields[state.entity]">{{'field.' + field.name | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of docs; let idx = index">
        <td>{{idx + 1}}</td>
        <td *ngFor="let field of config.exportFields[state.entity]">
          <ng-container *ngIf="!field.secured || hasRights(r)">
            <ng-container *ngIf="!field.heslar">
              {{r[field.name]}}
            </ng-container>
            <ng-container *ngIf="field.heslar">
              {{r[field.name | translateHeslar: field.heslar]}}
            </ng-container>
          </ng-container>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
