@if (state.loading()) {
  <div class="app-display-table app-loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
}
@if (!state.loading() && docs.length > 0) {
  <div>
    @if (docs.length > 0) {
      <ng-container *ngTemplateOutlet="paginationTmpl"></ng-container>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'export.field.handle' | translate }}</th>
            @for (item of config.choiceApi; track item) {
              <th>{{ 'export.field.' + item.label | translate }}</th>
            }
            @for (field of config.exportFields[state.entity]; track field) {
              @if (!field.hidden) {
                <th>{{ 'export.field.' + (field.label ? field.label : field.name) | translate }}</th>
              }
              
            }
          </tr>
        </thead>
        <tbody>
          @for (r of docs; track r; let idx = $index) {
            <tr>
              <td>{{idx + 1}}</td>
              <td>{{ config.serverUrl + 'id/' + r['ident_cely']}}</td>
              @for (item of config.choiceApi; track item) {
                <td>{{ item.url + r['ident_cely']}}</td>
              }
              @for (field of config.exportFields[state.entity]; track field) {
                @if (!field.hidden) {
                <td>
                  @if (field.byPath) {
                    @if (field.heslar) {
                      {{ r[field.label] ? (r[field.label] + '' | translate) : '' }}
                      <!-- {{ getByPath(r, field.name, field.map) | translate}} -->
                    }
                    @if (!field.heslar && field.type === 'date') {
                      {{ r[field.label] ? (r[field.label] + '' | date : 'yyyy-MM-dd') : '' }}
                      <!-- {{ getByPath(r, field.name, field.map) | date : 'yyyy-MM-dd'}} -->
                    }
                    @if (!field.heslar && field.type !== 'date') {
                      {{r[field.label] ? r[field.label] : ''}}
                      <!-- {{ getByPath(r, field.name, field.map) }} -->
                    }
                  }
                  @if (!field.byPath) {
                    @if (field.type === 'boolean') {
                      {{r[field.name] + '' | translate}}
                    }
                    @if (field.heslar) {
                      {{ r[field.name] ? (r[field.name] + '' | translate) : '' }}
                    }
                    @if (!field.heslar && field.type === 'date') {
                      {{r[field.name] | date : 'yyyy-MM-dd'}}
                    }
                    @if (!field.heslar && field.type !== 'date' && field.type !== 'boolean') {
                      {{r[field.name] ? r[field.name] : ''}}
                    }
                  }
                </td>
              }
              }
            </tr>
          }
        </tbody>
      </table>
      <ng-container *ngTemplateOutlet="paginationTmpl"></ng-container>
    }
  </div>
}

<ng-template  #paginationTmpl>
  <div class="app-fxLayout app-row app-baseline">
    <span class="app-pipe"></span>
    <a (click)="downloadFormat('csv')" [download]="'export.csv'">csv</a> 
    <span class="app-pipe"></span>
    <a (click)="downloadFormat('xlsx')" [download]="'export.xlsx'">xlsx</a> 
    <span class="app-pipe"></span>
    <a (click)="downloadFormat('xml')" [download]="'export.xml'">xml</a>
    <span class="app-pipe"></span>
    <a (click)="downloadFormat('json')" [download]="'export.json'">json</a>
    <span class="app-pipe"></span>

  @if (numFound > docs.length) {
    <mat-paginator class="app-fxFlex"
      [hidePageSize]="false"
      [length]="numFound"
      [pageSize]="state.rows"
      [pageIndex]="state.page"
      [pageSizeOptions]="[10, 100, 1000]"
      (page)="pageChanged($event)">
    </mat-paginator>

  <mat-form-field class="app-num" appearance="outline"><!--fxHide_sm fxHide_xs-->
    <mat-label>{{ 'paginator.desc.Číslo stránky' | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="pageIndex" (keyup.enter)="setPage()" name="pageIndex">
    <mat-icon matSuffix [title]="'paginator.tooltip.Přejděte číslo stránky' | translate" (click)="setPage()" class="app-cursor-pointer">send</mat-icon>
  </mat-form-field>

  <mat-form-field class="app-sort" appearance="outline"><!--fxHide_md fxHide_sm fxHide_xs-->
    <mat-label>{{ 'paginator.desc.Řazení' | translate }}</mat-label>
    <mat-select [(ngModel)]="state.sort">
      <mat-select-trigger>
        {{state.sort ? ('paginator.sortBy.' + state.sort.label | translate) : ('' | translate)  }} &#160;
      </mat-select-trigger>
      @for (sort of state.sorts_by_entity; track sort) {
        <mat-option (click)="sortBy(sort)" [value]="sort">
          {{ 'paginator.sortBy.' + sort.label | translate }} <mat-icon>{{ sort.dir === 'desc' ? 'expand_more' : 'expand_less' }}</mat-icon>
        </mat-option>
      }
    </mat-select>
    <div matSuffix class="app-fxLayout app-row app-pr-2">
      <mat-icon matSuffi (click)="$event.stopPropagation()" class="app-pl-0 app-color-primary" [title]="'paginator.dir.' + state.sort.dir | translate">{{ state.sort.dir === 'desc' ? 'expand_more' : 'expand_less' }}</mat-icon>
      <mat-icon matSuffi>arrow_drop_down</mat-icon>
    </div>
    <!-- <mat-icon matSuffix (click)="$event.stopPropagation()" class="app-pl-0 app-color-primary" [matTooltip]="'paginator.dir.' + state.sort.dir | translate">{{ state.sort.dir === 'desc' ? 'expand_more' : 'expand_less' }}</mat-icon> -->
  </mat-form-field>
  }
  </div>
</ng-template>
