<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" [class.app-entity-knihovna_3d]="!isChild && !isDocumentDialogOpen" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title>
      <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
      <mat-icon class="app-entity-dokument" [matTooltip]="'entities.dokument.title' | translate">{{ config.entityIcons["knihovna_3d"] }}</mat-icon>
      <ng-container [ngSwitch]="isChild">
        <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
        <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
      </ng-container><span class="app-pipe"></span>
      <ng-container *ngFor="let a of result.autor; let last = last;">
        <app-inline-filter [isChild]="isChild" [field]="'f_autor'" [value]="a"></app-inline-filter><span *ngIf="!last">; </span>
      </ng-container><span class="app-pipe"></span>
      <app-inline-filter [isChild]="isChild" [field]="'f_rok_vzniku'" [value]="result.rok_vzniku" [isYear]="true"></app-inline-filter>
      <span class="app-pipe"></span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [class.app-detail-closed]="!detailExpanded">
    <div fxLayout="row" fxLayoutGap="16px" class="app-row-gap-16" fxFlexFill>
      <div *ngIf="imgSrc" class="app-thumb">
        <a *ngIf="isChild" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank">
          <img [src]="imgSrc" />
        </a>
        <a *ngIf="!isChild" (click)="viewFiles()">
          <img [src]="imgSrc" />
        </a>
      </div>
      <div *ngIf="!imgSrc && state.itemView === 'col' && !isDocumentDialogOpen" fxFlex class="app-thumb app-thumb-missing" [matTooltip]="'Obrázek není k dispozici' | translate">
        <mat-icon>image_not_supported</mat-icon>
      </div>
      <div fxFlex *ngIf="mapDetail || state.isMapaCollapsed" class="app-metadata">
        <div *ngIf="result.typ_dokumentu || result.material_originalu || result.rada || result.pristupnost">
          <ng-container *ngIf="result.typ_dokumentu">
            <label class="app-label">{{ 'field.f_typ_dokumentu' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_typ_dokumentu'" [value]="result.typ_dokumentu" [heslar]="'typ_dokumentu'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.material_originalu">
            <label class="app-label">{{ 'Materiál' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_material_dokumentu'" [value]="result.material_originalu" [heslar]="'material_dokumentu'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.rada">
            <label class="app-label">{{ 'field.f_rada' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'rada'" [value]="result.rada" [heslar]="'rada'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.pristupnost">
            <label class="app-label">{{ 'field.pristupnost' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'pristupnost'" [value]="result.pristupnost" [heslar]="'pristupnost'"></app-inline-filter>
          </ng-container>
        </div>
        <div *ngIf="result.komponenta_dokument_obdobi || result.komponenta_dokument_presna_datace || result.komponenta_dokument_areal">
          <ng-container *ngIf="result.komponenta_dokument_obdobi || result.komponenta_dokument_presna_datace">
            <label class="app-label">{{ 'field.obdobi' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="result.komponenta_dokument_obdobi" [heslar]="'obdobi_druha'"></app-inline-filter>
            <ng-container *ngIf="result.presna_datace">&#160;({{ result.komponenta_dokument_presna_datace }})</ng-container> 
          </ng-container><span class="app-pipe"></span>
          <ng-container *ngIf="result.komponenta_dokument_areal">
            <label class="app-label">{{ 'field.f_areal' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_areal'" [value]="result.komponenta_dokument_areal" [heslar]="'areal_druha'"></app-inline-filter>
          </ng-container><span class="app-pipe"></span>
        </div>
        <div *ngIf="result.extra_data_odkaz">
          <label class="app-label">{{'Odkaz' | translate}}:</label>&#160;
          <ng-container *ngFor="let item of result.extra_data_odkaz">
            <a [href]="item" target="_blank">{{ item }}</a> 
          </ng-container>  
        </div>
        <div *ngIf="result.popis" class="app-truncate-text">
          <ng-container>
            <label class="app-label">{{ 'field.f_popis' | translate }}:</label>&#160;{{ result.popis }}
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex class="app-metadata">
      <ng-container *ngIf="result.jednotka_dokumentu_vazba_akce?.length > 0 || result.jednotka_dokumentu_vazba_druha_akce?.length > 0">
        {{'Počet akcí' | translate}}: <strong>{{result.jednotka_dokumentu_vazba_akce?.length + result.jednotka_dokumentu_vazba_druha_akce?.length}}</strong>
        <span class="app-pipe"></span>
      </ng-container> 
      <ng-container *ngIf="result.jednotka_dokumentu_vazba_lokalita?.length > 0 || result.jednotka_dokumentu_vazba_druha_lokalita?.length > 0">
        {{'Počet lokalit' | translate}}: <strong>{{result.jednotka_dokumentu_vazba_lokalita?.length + result.jednotka_dokumentu_vazba_druha_lokalita?.length}}</strong>
        <span class="app-pipe"></span>
      </ng-container> 
      <ng-container *ngIf="result.soubor?.length > 0">
        {{'Počet souborů' | translate}}: <strong>{{result.soubor.length}}</strong>
      </ng-container>
    </div>
    <div>
      <button *ngIf="!mapDetail && result.loc" mat-flat-button (click)="service.showInMap(result)" [matTooltip]="'Zobrazit na mapě' | translate">
        <mat-icon>map</mat-icon>
      </button>
      <a mat-flat-button [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" [matTooltip]="'Persistentní odkaz' | translate">
        <mat-icon>link</mat-icon>
      </a>
      <button mat-flat-button (click)="service.showBiBText(result.ident_cely, bibTex)" [matTooltip]="'BibTeX'">
        <mat-icon>menu_book</mat-icon>
      </button>
      <button *ngIf="inDocument" mat-flat-button (click)="service.print()">
        <mat-icon>print</mat-icon>
      </button>
      <a *ngIf="!inDocument" mat-flat-button target="_blank" [href]="'print/'+result.ident_cely" >
        <mat-icon>print</mat-icon>
      </a>
      <button mat-flat-button *ngIf="state.logged" (click)="toggleFav()" [class.app-color-fav]="result.isFav" [matTooltip]="result.isFav ? ('Odebrat z oblíbených' | translate)  : ('Uložit do oblíbených' | translate)">
        <mat-icon>grade</mat-icon>
      </button>
      <button mat-flat-button [matTooltip]="'Přechod na API' | translate" [matMenuTriggerFor]="choiceApi">
        <mat-icon>api</mat-icon>
      </button>
      <mat-menu #choiceApi="matMenu">
        <a mat-menu-item *ngFor="let item of config.choiceApi" [href]="'https://api.aiscr.cz/dapro/oai?verb=GetRecord&identifier=https://api.aiscr.cz/id/' + result.ident_cely + '&metadataPrefix=' + item.metadataPrefix" target="_blank">
          {{ item.label }}
        </a>
      </mat-menu>
      <button mat-flat-button (click)="toggleDetail()" [ngClass]="detailExpanded ? 'app-rotate-up' : 'app-rotate-down'" *ngIf="!isDocumentDialogOpen">
        {{ (detailExpanded ? 'Skrýt detail' : 'Zobrazit detail') | translate }}<mat-icon>expand_more</mat-icon>
      </button>
      <button mat-flat-button class="app-col-detail" *ngIf="state.itemView === 'col' && !isDocumentDialogOpen" (click)="openDocument()">
        {{ 'Zobrazit detail' | translate }}
      </button>
      <button mat-flat-button class="app-col-detail" [mat-dialog-close]="false" *ngIf="state.itemView === 'col' && isDocumentDialogOpen">
        {{ 'Skrýt detail' | translate }}
      </button>  
    </div>
  </mat-card-actions>
  <mat-card-content *ngIf="detailExpanded && !isChild">
    <div class="app-card-detail">
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'Popis dokumentu' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr *ngIf="result.jazyk_dokumentu">
                <th class="app-label">{{ 'Jazyk' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_jazyk_dokumentu'" [value]="result.jazyk_dokumentu" [heslar]="'jazyk_dokumentu'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.popis">
                <th class="app-label">{{ 'Popis obsahu' | translate }}:</th>
                <td>{{ result.popis }}</td>
              </tr>
              <tr *ngIf="result.poznamka">
                <th class="app-label">{{ 'field.f_poznamka' | translate }}:</th>
                <td>{{ result.poznamka }}</td>
              </tr>
              <tr *ngIf="result.typ_dokumentu_posudek">
                <th class="app-label">{{ 'Zahrnuje posudky' | translate }}:</th>
                <td>{{ result.typ_dokumentu_posudek }}</td>
              </tr>
              <tr *ngIf="result.ulozeni_originalu">
                <th class="app-label">{{ 'field.f_ulozeni_originalu' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_ulozeni_originalu'" [value]="result.ulozeni_originalu" [heslar]="'ulozeni_originalu'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.oznaceni_originalu">
                <th class="app-label">{{ 'Původní označení' | translate }}:</th>
                <td>{{ result.oznaceni_originalu }}</td>
              </tr>
              <tr *ngIf="result.datum_zverejneni">
                <th class="app-label">{{ 'field.datum_zverejneni' | translate }}:</th>
                <td>{{ result.datum_zverejneni | date : 'dd.MM.yyyy' }}</td>
              </tr>
              <tr *ngIf="result.extra_data_cislo_objektu">
                <th class="app-label">{{ 'Objekt/kontext' | translate }}:</th>
                <td>{{ result.extra_data_cislo_objektu }}</td>
              </tr>
              <tr *ngIf="result.extra_data_cislo_northing || result.extra_data_easting">
                <th class="app-label">{{ 'Souřadnice (WGS-84)' | translate }}:</th>
                <td>{{ result.extra_data_northing }} : {{ result.extra_data_easting }}</td>
              </tr>
              <tr *ngIf="result.extra_data_format">
                <th class="app-label">{{ 'field.f_format' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'extra_data_format'" [value]="result.extra_data_format"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.extra_data_vyska">
                <th class="app-label">{{ 'Výška (cm)' | translate }}:</th>
                <td>{{ result.extra_data_vyska }}</td>
              </tr>
              <tr *ngIf="result.extra_data_sirka">
                <th class="app-label">{{ 'Šířka (cm)' | translate }}:</th>
                <td>{{ result.extra_data_sirka }}</td>
              </tr>
              <tr *ngIf="result.extra_data_meritko">
                <th class="app-label">{{ 'Měřítko' | translate }}:</th>
                <td>{{ result.extra_data_meritko }}</td>
              </tr>
              <tr *ngIf="result.extra_data_zachovalost">
                <th class="app-label">{{ 'field.f_zachovalost' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_zachovalost'" [value]="result.extra_data_zachovalost" [heslar]="'zachovalost'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.extra_data_nahrada">
                <th class="app-label">{{ 'Náhrada' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_nahrada'" [value]="result.extra_data_nahrada" [heslar]="'nahrada'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.extra_data_pocet_variant_originalu">
                <th class="app-label">{{ 'Počet variant' | translate }}:</th>
                <td>{{ result.extra_data_pocet_variant_originalu }}</td>
              </tr>
              <tr *ngIf="result.extra_data_odkaz">
                <th class="app-label">{{ 'Odkaz' | translate }}:</th>
                <td><a [href]="result.extra_data_odkaz" target="_blank">{{result.extra_data_odkaz}}</a></td>
              </tr>
              <tr *ngIf="result.extra_data_datum_vzniku">
                <th class="app-label">{{ 'field.extra_data_datum_vzniku' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'extra_data_datum_vzniku'" [value]="result.extra_data_datum_vzniku | date : 'yyyy-MM-dd'" [isDate]="true"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.extra_data_zeme">
                <th class="app-label">{{ 'field.f_zeme' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_zeme'" [value]="result.extra_data_zeme" [heslar]="'zeme'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.extra_data_region">
                <th class="app-label">{{ 'Region' | translate }}:</th>
                <td>{{ result.extra_data_region }}</td>
              </tr>
              <tr *ngIf="result.extra_data_udalost_typ">
                <th class="app-label">{{ 'Typ události' | translate }}:</th>
                <td>{{ result.extra_data_udalost_typ }}</td>
              </tr>
              <tr *ngIf="result.extra_data_udalost">
                <td>{{ result.extra_data_udalost }}</td>
              </tr>
              <tr *ngIf="result.extra_data_rok_od || result.extra_data_rok_do">
                <th class="app-label">{{ 'Rok od-do' | translate }}:</th>
                <td>{{ result.extra_data_rok_od }}-{{ result.extra_data_rok_do }}</td>
              </tr>
              <tr *ngIf="result.extra_data_osoby">
                <th class="app-label">{{ 'Osoby' | translate }}:</th>
                <td>{{ result.extra_data_osoby }}</td>
              </tr>
              <tr *ngIf="result.extra_data_duveryhodnost">
                <th class="app-label">{{ 'Důvěryhodnost' | translate }}:</th>
                <td>{{ result.extra_data_duveryhodnost }}</td>
              </tr>
            </tbody>
          </table>
          
          <mat-accordion multi="true">
            <app-let *ngIf="result.let_ident_cely" [result]="result.let"></app-let>
            <mat-expansion-panel #panel *ngIf="result.tvar_tvar || result.tvar_poznamka" [expanded]="true" hideToggle class="app-panel-inner">
              <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                <mat-panel-title>
                  <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                  {{ 'Dokumentované tvary' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="app-list-inside">
                <li><app-inline-filter [isChild]="isChild" [field]="'tvar_tvar'" [value]="result.tvar_tvar" [heslar]="'tvar'"></app-inline-filter><ng-container *ngIf="result.tvar_poznamka"> ({{ result.tvar_poznamka }})</ng-container></li>
              </ul>
            </mat-expansion-panel>

            <mat-expansion-panel #panel *ngFor="let jednotka_dokumentu of result.jednotka_dokumentu" [expanded]="true" hideToggle class="app-panel-inner">
              <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
                <mat-panel-title>
                  <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                  {{ 'Část dokumentu' | translate }}&#160;<a [routerLink]="'/id/' + jednotka_dokumentu.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ jednotka_dokumentu.ident_cely }} <mat-icon>link</mat-icon></a><ng-container *ngIf="jednotka_dokumentu.poznamka"> ({{ jednotka_dokumentu.poznamka }})</ng-container> 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container *ngIf="jednotka_dokumentu.vazba_akce || jednotka_dokumentu.vazba_lokalita">
                <label class="app-label">{{ 'Dokumentovaná akce/lokalita' | translate }}:</label>&#160;
                <ng-container *ngIf="jednotka_dokumentu.vazba_akce">
                  <a [routerLink]="'/id/' + jednotka_dokumentu.vazba_akce" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ jednotka_dokumentu.vazba_akce }} <mat-icon>link</mat-icon></a>
                </ng-container>
                <ng-container *ngIf="jednotka_dokumentu.vazba_druha_akce">
                  <a [routerLink]="'/id/' + jednotka_dokumentu.vazba_druha_akce" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ jednotka_dokumentu.vazba_druha_akce }} <mat-icon>link</mat-icon></a>
                </ng-container>
                <ng-container *ngIf="jednotka_dokumentu.vazba_lokalita">
                  <a [routerLink]="'/id/' + jednotka_dokumentu.vazba_lokalita" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ jednotka_dokumentu.vazba_lokalita }} <mat-icon>link</mat-icon></a>
                </ng-container>
                <ng-container *ngIf="jednotka_dokumentu.vazba_druha_lokalita">
                  <a [routerLink]="'/id/' + jednotka_dokumentu.vazba_druha_lokalita" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ jednotka_dokumentu.vazba_druha_lokalita }} <mat-icon>link</mat-icon></a>
                </ng-container>
              </ng-container>

              <mat-accordion multi="true">
                <app-dok-jednotka *ngFor="let dok_jednotka of result.dok_jednotka" [result]="dok_jednotka" [adbs]="result.adb"></app-dok-jednotka>
                <mat-expansion-panel #panel *ngFor="let kd of result.komponenta_dokument" [expanded]="true" hideToggle class="app-panel-inner">
                  <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
                    <mat-panel-title>
                      <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                      {{ 'Komponenta' | translate }}&#160;<ng-container *ngIf="kd.ident_cely"><a [routerLink]="'/id/' + kd.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ kd.ident_cely }} <mat-icon>link</mat-icon></a>&#160;–&#160;</ng-container>
                      <ng-container *ngIf="kd.obdobi">
                        <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="kd.obdobi" [heslar]="'obdobi_druha'"></app-inline-filter>
                      </ng-container>
                      <ng-container *ngIf="kd.jistota || kd.presna_datace">(<ng-container *ngIf="kd.jistota">{{ kd.jistota }};</ng-container>{{ kd.presna_datace }})</ng-container>
                      <ng-container *ngIf="kd.areal">&#160;–&#160;<app-inline-filter [isChild]="isChild" [field]="'f_areal'" [value]="kd.areal" [heslar]="'areal_druha'"></app-inline-filter></ng-container>
                      <ng-container *ngIf="kd.aktivita">
                        &#160;(<ng-container *ngFor="let ak of kd.aktivita; let last = last;"> <app-inline-filter [isChild]="isChild" [field]="'f_aktivita'" [value]="ak" [heslar]="'f_aktivita'"></app-inline-filter>
                        <span *ngIf="!last">,&#160; </span></ng-container>)
                      </ng-container>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-container *ngIf="kd.poznamka">{{ kd.poznamka }}</ng-container>
                  <mat-expansion-panel #panel *ngIf="kd.nalez_dokumentu" [expanded]="true" hideToggle class="app-panel-inner">
                    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                      <mat-panel-title>
                        <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                        {{ 'Nálezy' | translate }}:
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="app-list-inside">
                      <ng-container *ngIf="kd.nalez_dokumentu.length">
                        <li *ngFor="let nalez_dokumentu of kd.nalez_dokumentu">
                          <app-nalez [result]="nalez_dokumentu"></app-nalez>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="!kd.nalez_dokumentu.length">
                        <li>
                          <app-nalez [result]="kd.nalez_dokumentu"></app-nalez>
                        </li>
                      </ng-container>
                    </ul>
                  </mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel #panel *ngIf="jednotka_dokumentu.neident_akce" [expanded]="true" hideToggle class="app-panel-inner">
                  <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                    <mat-panel-title>
                      <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                      {{ 'Neidentifikovaná akce' | translate }}:
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.katastr || jednotka_dokumentu.neident_akce.okres">
                      <th class="app-label">{{ 'Katastr (okres)' | translate }}:</th>
                      <td>
                        <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="jednotka_dokumentu.neident_akce.katastr"></app-inline-filter>
                        <ng-container *ngIf="jednotka_dokumentu.neident_akce.okres">
                          &#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="jednotka_dokumentu.neident_akce.okres"></app-inline-filter>)
                        </ng-container></td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.vedouci">
                      <th class="app-label">{{ 'field.vedouci_akce' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.vedouci }}</td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.rok_zahajeni || jednotka_dokumentu.neident_akce.rok_ukonceni">
                      <th class="app-label">{{ 'Rok od-do' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.rok_zahajeni }}<ng-container *ngIf="jednotka_dokumentu.neident_akce.rok_ukonceni">-{{ jednotka_dokumentu.neident_akce.rok_ukonceni }}</ng-container></td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.lokalizace">
                      <th class="app-label">{{ 'field.lokalizace' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.lokalizace }}</td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.popis">
                      <th class="app-label">{{ 'field.f_popis' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.popis }}</td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.poznamka">
                      <th class="app-label">{{ 'field.f_poznamka' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.poznamka }}</td>
                    </tr>
                    <tr *ngIf="jednotka_dokumentu.neident_akce.pian">
                      <th class="app-label">{{ 'PIAN' | translate }}:</th>
                      <td>{{ jednotka_dokumentu.neident_akce.pian }}</td>
                    </tr>
                  </table> 
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="testData('souvisejici_zaznamy')" [expanded]="true" class="app-panel-souvisejici-zaznamy">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'Související záznamy' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-akce *ngFor="let akce of result.akce" [result]="akce" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-akce>
          <app-lokalita *ngFor="let lok of result.lokalita" [result]="lok" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-lokalita>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>