
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

//@use "scss/theme-colors";

@use "scss/app-vars";
@use "scss/app-flex-layout";
@use "scss/app-global";
@use "scss/app-layout";

@use "scss/app-adv-search";
@use "scss/app-sidenav-container";
@use "scss/app-export";
@use "scss/app-print";
@use "scss/app-mat-override";