<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title>
      <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
      <mat-icon *ngIf="isChild" class="app-entity-akce" [matTooltip]="'entities.akce' | translate">turned_in</mat-icon>
      <ng-container [ngSwitch]="isChild">
        <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
        <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
      </ng-container><span class="app-pipe"></span>
      {{ 'Část dokumentu' | translate }}&#160;<a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
      <ng-container *ngIf="result.poznamka"> ({{ result.poznamka }})</ng-container> 
      <span class="app-pipe"></span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="state.itemView === 'col' && !isDocumentDialogOpen && !isChild" class="app-thumb" fxLayout="row" fxFlexFill fxLayoutAlign="center center" [matTooltip]="'Obrázek není k dispozici' | translate">
      <mat-icon>image_not_supported</mat-icon>
    </div>
    <div class="app-metadata app-row-gap-16" >
      
      <ng-container *ngIf="result.vazba_akce || result.vazba_lokalita">
        <label class="app-label">{{ 'Dokumentovaná akce/lokalita' | translate }}:</label>&#160;
        <ng-container *ngIf="result.vazba_akce">
          <a [routerLink]="'/id/' + result.vazba_akce" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ result.vazba_akce }} <mat-icon>link</mat-icon></a><!-- <span class="app-comma">, </span> -->
        </ng-container>
        <ng-container *ngIf="result.vazba_druha_akce">
          <a [routerLink]="'/id/' + result.vazba_druha_akce" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ result.vazba_druha_akce }} <mat-icon>link</mat-icon></a>
        </ng-container>
        <ng-container *ngIf="result.vazba_lokalita">
          <a [routerLink]="'/id/' + result.vazba_lokalita" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ result.vazba_lokalita }} <mat-icon>link</mat-icon></a>
        </ng-container>
        <ng-container *ngIf="result.vazba_druha_lokalita">
          <a [routerLink]="'/id/' + result.vazba_druha_lokalita" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'Persistentní odkaz' | translate">{{ result.vazba_druha_lokalita }} <mat-icon>link</mat-icon></a>
        </ng-container>
      </ng-container>

      <mat-accordion multi="true">
        <!-- <app-dok-jednotka *ngFor="let dok_jednotka of result.dok_jednotka" [result]="dok_jednotka" [adbs]="result.adb"></app-dok-jednotka> -->
        <mat-expansion-panel #panel *ngFor="let kd of result.komponenta_dokument[0]" [expanded]="true" hideToggle class="app-panel-inner">
          <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
            <mat-panel-title>
              <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
              {{ 'Komponenta' | translate }}&#160;<ng-container *ngIf="kd.ident_cely"><a [routerLink]="'/id/' + kd.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'Persistentní odkaz' | translate">{{ kd.ident_cely }} <mat-icon>link</mat-icon></a>&#160;–&#160;</ng-container>
              <ng-container *ngIf="kd.obdobi">
                <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="kd.obdobi" [heslar]="'obdobi_druha'"></app-inline-filter>
              </ng-container>
              <ng-container *ngIf="kd.jistota || kd.presna_datace">(<ng-container *ngIf="kd.jistota">{{ kd.jistota }};</ng-container>{{ kd.presna_datace }})</ng-container>
              <ng-container *ngIf="kd.areal">&#160;–&#160;<app-inline-filter [isChild]="isChild" [field]="'f_areal'" [value]="kd.areal" [heslar]="'areal_druha'"></app-inline-filter></ng-container>
              <ng-container *ngIf="kd.aktivita">
                &#160;(<ng-container *ngFor="let ak of kd.aktivita; let last = last;"> <app-inline-filter [isChild]="isChild" [field]="'f_aktivita'" [value]="ak" [heslar]="'f_aktivita'"></app-inline-filter>
                <span *ngIf="!last">,&#160; </span></ng-container>)
              </ng-container>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="kd.poznamka">{{ kd.poznamka }}</ng-container>
          <mat-expansion-panel #panel *ngIf="kd.nalez_dokumentu" [expanded]="true" hideToggle class="app-panel-inner">
            <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
              <mat-panel-title>
                <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                {{ 'Nálezy' | translate }}:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="app-list-inside">
              <ng-container *ngIf="kd.nalez_dokumentu.length">
                <li *ngFor="let nalez_dokumentu of kd.nalez_dokumentu">
                  <app-nalez [result]="nalez_dokumentu"></app-nalez>
                </li>
              </ng-container>
              <ng-container *ngIf="!kd.nalez_dokumentu.length">
                <li>
                  <app-nalez [result]="kd.nalez_dokumentu"></app-nalez>
                </li>
              </ng-container>
            </ul>
          </mat-expansion-panel>
        </mat-expansion-panel>
        <mat-expansion-panel #panel *ngFor="let neident_akce of result.neident_akce" [expanded]="true" hideToggle class="app-panel-inner">
          <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
            <mat-panel-title>
              <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
              {{ 'Neidentifikovaná akce' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr *ngIf="neident_akce.katastr || neident_akce.okres">
              <th class="app-label">{{ 'Katastr (okres)' | translate }}:</th>
              <td>
                <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="neident_akce.katastr"></app-inline-filter>
                <ng-container *ngIf="neident_akce.okres">
                  &#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="neident_akce.okres"></app-inline-filter>)
                </ng-container></td>
            </tr>
            <tr *ngIf="neident_akce.vedouci">
              <th class="app-label">{{ 'field.vedouci_akce' | translate }}:</th>
              <td>{{ neident_akce.vedouci }}</td>
            </tr>
            <tr *ngIf="neident_akce.rok_zahajeni || neident_akce.rok_ukonceni">
              <th class="app-label">{{ 'Rok od-do' | translate }}:</th>
              <td>{{ neident_akce.rok_zahajeni }}<ng-container *ngIf="neident_akce.rok_ukonceni">-{{ neident_akce.rok_ukonceni }}</ng-container></td>
            </tr>
            <tr *ngIf="neident_akce.lokalizace">
              <th class="app-label">{{ 'field.lokalizace' | translate }}:</th>
              <td>{{ neident_akce.lokalizace }}</td>
            </tr>
            <tr *ngIf="neident_akce.popis">
              <th class="app-label">{{ 'field.f_popis' | translate }}:</th>
              <td>{{ neident_akce.popis }}</td>
            </tr>
            <tr *ngIf="neident_akce.poznamka">
              <th class="app-label">{{ 'field.f_poznamka' | translate }}:</th>
              <td>{{ neident_akce.poznamka }}</td>
            </tr>
            <tr *ngIf="neident_akce.pian">
              <th class="app-label">{{ 'PIAN' | translate }}:</th>
              <td>{{ neident_akce.pian }}</td>
            </tr>
          </table> 
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start end" *ngIf="!isChild">
    
    <div>
      <button mat-flat-button>
        <a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank">
          <mat-icon>link</mat-icon>
        </a>
      </button>
      <button *ngIf="inDocument" mat-flat-button (click)="service.print()">
        <mat-icon>print</mat-icon>
      </button>
      <a *ngIf="!inDocument" mat-flat-button target="_blank" [href]="'print/'+result.ident_cely" >
        <mat-icon>print</mat-icon>
      </a>
      <button mat-flat-button *ngIf="state.logged" (click)="toggleFav()" [class.app-color-fav]="result.isFav" [matTooltip]="result.isFav ? ('Odebrat z oblíbených' | translate)  : ('Uložit do oblíbených' | translate)">
        <mat-icon>grade</mat-icon>
      </button>
      <button mat-flat-button *ngIf="hasRights && !isDocumentDialogOpen" (click)="detailExpanded = !detailExpanded" [ngClass]="detailExpanded ? 'app-rotate-up' : 'app-rotate-down'">
        {{(detailExpanded ? 'Skrýt detail' : 'Zobrazit detail') | translate }}<mat-icon>expand_more</mat-icon>
      </button>
      <button mat-flat-button class="app-col-detail" *ngIf="state.itemView === 'col' && !isDocumentDialogOpen" (click)="openDocument()">
        {{ 'Zobrazit detail' | translate }}
      </button>
      <button mat-flat-button class="app-col-detail" [mat-dialog-close]="false" *ngIf="state.itemView === 'col' && isDocumentDialogOpen">
        {{ 'Skrýt detail' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-expansion-panel *ngIf="result.dokument && !isChild" [expanded]="true" class="app-panel-souvisejici-zaznamy">
  <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
    <mat-panel-title>
      {{ 'Související záznamy' | translate }}:
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-dokument *ngFor="let dokument of result.dokumenty" [result]="dokument" [isChild]="true" class="app-related-item"></app-dokument>
</mat-expansion-panel> 