
  @if (!inDocument()) {
    <mat-expansion-panel #panel [expanded]="true" hideToggle class="app-panel-inner">
      <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
        <mat-panel-title>
          <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
          {{ 'card.panelTitle.Let' | translate }}&#160;<a [routerLink]="'/id/' + _result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ _result.ident_cely }} <mat-icon>link</mat-icon></a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tbody>
          @if (_result.let_datum || _result.let_hodina_zacatek || _result.let_hodina_konec) {
            <tr>
              <th class="app-label">{{ 'card.desc.Datum a čas' | translate }}:</th>
              <td>{{ _result.let_datum | date : 'yyyy-MM-dd' }} {{ _result.let_hodina_zacatek }} - {{ _result.let_hodina_konec }}</td>
            </tr>
          }
          @if (_result.let_letiste_start || _result.let_letiste_cil) {
            <tr>
              <th class="app-label">{{ 'card.desc.Trasa' | translate }}:</th>
              <td>
                @if (_result.let_letiste_start) {
                  <app-inline-filter [field]="'f_let_letiste_start'" [value]="_result.let_letiste_start.id" [heslar]="'a'"></app-inline-filter>
                  }&#160;-&#160;
                  @if (_result.let_letiste_cil) {
                    <app-inline-filter [field]="'f_let_letiste_cil'" [value]="_result.let_letiste_cil.id" [heslar]="'a'"></app-inline-filter>
                  }
                </td>
              </tr>
            }
            @if (_result.let_ucel_letu) {
              <tr>
                <th class="app-label">{{ 'card.desc.Účel letu' | translate }}:</th>
                <td>{{ _result.let_ucel_letu }}</td>
              </tr>
            }
            @if (_result.let_pozorovatel) {
              <tr>
                <th class="app-label">{{ 'card.desc.Let - pozorovatel' | translate }}:</th>
                <td><app-inline-filter [field]="'f_let_pozorovatel'" [value]="_result.let_pozorovatel"></app-inline-filter></td>
              </tr>
            }
            @if (_result.let_pilot) {
              <tr>
                <th class="app-label">{{ 'card.desc.Pilot' | translate }}:</th>
                <td><app-inline-filter [field]="'f_let_pilot'" [value]="_result.let_pilot"></app-inline-filter></td>
              </tr>
            }
            @if (_result.let_organizace) {
              <tr>
                <th class="app-label">{{ 'card.desc.Organizace' | translate }}:</th>
                <td><app-inline-filter [field]="'f_let_organizace'" [value]="_result.let_organizace.id" [heslar]="'organizace'"></app-inline-filter></td>
              </tr>
            }
            @if (_result.let_uzivatelske_oznaceni) {
              <tr>
                <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
                <td>{{ _result.let_uzivatelske_oznaceni }}</td>
              </tr>
            }
            @if (_result.let_fotoaparat) {
              <tr>
                <th class="app-label">{{ 'card.desc.Fotoaparát' | translate }}:</th>
                <td>{{ _result.let_fotoaparat }}</td>
              </tr>
            }
            @if (_result.let_typ_letounu) {
              <tr>
                <th class="app-label">{{ 'card.desc.Typ letounu' | translate }}:</th>
                <td>{{ _result.let_typ_letounu}}</td>
              </tr>
            }
            @if (_result.let_pocasi) {
              <tr>
                <th class="app-label">{{ 'card.desc.Počasí' | translate }}:</th>
                <td><app-inline-filter [field]="'f_let_pocasi'" [value]="_result.let_pocasi.id" [heslar]="'pocasi'"></app-inline-filter></td>
              </tr>
            }
            @if (_result.let_dohlednost) {
              <tr>
                <th class="app-label">{{ 'card.desc.Dohlednost' | translate }}:</th>
                <td><app-inline-filter [field]="'f_let_dohlednost'" [value]="_result.let_dohlednost.id" [heslar]="'dohlednost'"></app-inline-filter></td>
              </tr>
            }
          </tbody>
        </table>
      </mat-expansion-panel>
    }
    @if (inDocument()) {
      <mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild()" (click)="state.setMapResult(_result, mapDetail())">
        @if (mapDetail() && !isChild()) {
          <a (click)="service.setMapResult(null, true)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
            <mat-icon>clear</mat-icon>
          </a>
        }
        <mat-card-header>
          <mat-card-title>
            {{ 'card.title.Let' | translate }}&#160;{{ _result.ident_cely }}
            <span class="app-pipe"></span>{{ _result.let_pozorovatel }}
            <span class="app-pipe"></span>{{ _result.let_datum | date : 'dd.MM.yyyy' }}
            <span class="app-pipe"></span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="app-metadata app-row-gap-16">
            @if (_result.let_hodina_zacatek || _result.let_hodina_konec || _result.let_letiste_start || _result.let_letiste_cil) {
              <div>
                @if (_result.let_hodina_zacatek || _result.let_hodina_konec) {
                  <label class="app-label">{{ 'card.desc.Čas' | translate }}:</label>&#160;
                  {{ _result.let_hodina_zacatek }}-{{ _result.let_hodina_konec }}
                  <span class="app-pipe"></span>
                }
                @if (_result.let_letiste_start || _result.let_letiste_cil) {
                  <label class="app-label">{{ 'card.desc.Trasa' | translate }}:</label>&#160;
                  @if (_result.let_letiste_start) {
                    <app-inline-filter [field]="'f_let_letiste_start'" [value]="_result.let_letiste_start" [heslar]="'a'"></app-inline-filter>
                    }&#160;-&#160;
                    @if (_result.let_letiste_cil) {
                      <app-inline-filter [field]="'f_let_letiste_cil'" [value]="_result.let_letiste_cil" [heslar]="'a'"></app-inline-filter>
                    }
                    <span class="app-pipe"></span>
                  }
                </div>
              }
              @if (_result.let_organizace) {
                <div>
                  <label class="app-label">{{ 'card.desc.Organizace' | translate }}:</label>&#160;
                  <app-inline-filter [field]="'f_organizace'" [value]="_result.let_organizace" [heslar]="'organizace'"></app-inline-filter>
                </div>
              }
              @if (_result.let_ucel_letu) {
                <div class="app-truncate-text">
                  <label class="app-label">{{ 'card.desc.Účel letu' | translate }}:</label>&#160;
                  {{ _result.let_ucel_letu }}
                </div>
              }
            </div>
          </mat-card-content>
          @if (!isChild()) {
            <mat-card-actions fxLayout="row" fxLayoutAlign="start end">
              <div fxFlex class="app-metadata">
                @if (_result.let_dokument?.length > 0) {
                  {{ 'card.desc.Počet dokumentů' | translate }}: <strong>{{_result.let_dokument?.length}}</strong>
                  <span class="app-pipe"></span>
                }
              </div>
              <app-result-actions [inDocument]="inDocument()" [bibTex]="bibTex" [result]="result" [detailExpanded]="detailExpanded()" [mapDetail]="true" (onToggleDetail)="toggleDetail()"></app-result-actions>
            </mat-card-actions>
          }
          @if (detailExpanded()) {
            <mat-card-content>
              <div class="app-card-detail">
                <mat-accordion multi="true">
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']" [collapsedHeight]="config.uiVars['panelHeightInCard']">
                      <mat-panel-title>
                        {{ 'card.panelTitle.Popis letu' | translate }}:
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table>
                      <tbody>
                        @if (_result.let_ucel_letu) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Účel letu' | translate }}:</th>
                            <td>{{ _result.let_ucel_letu }}</td>
                          </tr>
                        }
                        @if (_result.let_pilot) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Pilot' | translate }}:</th>
                            <td>{{ _result.let_pilot }}</td>
                          </tr>
                        }
                        @if (_result.let_uzivatelske_oznaceni) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
                            <td>{{ _result.let_uzivatelske_oznaceni }}</td>
                          </tr>
                        }
                        @if (_result.let_fotoaparat) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Fotoaparát' | translate }}:</th>
                            <td>{{ _result.let_fotoaparat }}</td>
                          </tr>
                        }
                        @if (_result.let_typ_letounu) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Typ letounu' | translate }}:</th>
                            <td>{{ _result.let_typ_letounu}}</td>
                          </tr>
                        }
                        @if (_result.let_pocasi) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Počasí' | translate }}:</th>
                            <td><app-inline-filter [field]="'f_let_pocasi'" [value]="_result.let_pocasi" [heslar]="'pocasi'"></app-inline-filter></td>
                          </tr>
                        }
                        @if (_result.let_dohlednost) {
                          <tr>
                            <th class="app-label">{{ 'card.desc.Dohlednost' | translate }}:</th>
                            <td><app-inline-filter [field]="'f_let_dohlednost'" [value]="_result.let_dohlednost" [heslar]="'dohlednost'"></app-inline-filter></td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                  @if (_result.let_dokument?.length > 0) {
                    <mat-expansion-panel [expanded]="true" class="app-panel-souvisejici-zaznamy">
                      <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']" [collapsedHeight]="config.uiVars['panelHeightInCard']">
                        <mat-panel-title>
                          {{ 'card.panelTitle.Související záznamy' | translate }}:
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      @for (dok of _result.dokument; track dok) {
                        <app-dokument [result]="dok" [isChild]="true" class="app-related-item"></app-dokument>
                      }
                    </mat-expansion-panel>
                  }
                </mat-accordion>
              </div>
            </mat-card-content>
          }
        </mat-card>
      }



