<h1 mat-dialog-title>{{ 'dialog.title.feedback' | translate }}</h1>
<div mat-dialog-content class="app-pt-1">
  <div class="app-fxLayout app-column app-gap-4">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.desc.name' | translate }}</mat-label>
      <input type="text" name="name" id="name"  matInput [placeholder]="'dialog.input.name' | translate" [(ngModel)]="name"  required #uname="ngModel">
      <mat-error>
        {{ 'dialog.alert.nameRequired' | translate }}!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Email' | translate }}</mat-label>
      <input type="email" name="mail" id="mail" matInput [placeholder]="'emailPlaceholder' | translate" [(ngModel)]="mail" email required #email="ngModel">
      <mat-error>
        {{ 'dialog.alert.emailInvalid' | translate }}!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.desc.comment' | translate }}</mat-label>
      <textarea matInput [placeholder]="'dialog.input.comment' | translate" rows="4" [(ngModel)]="text" [maxlength]="config.feedBackMaxLength"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button matButton="filled" [disabled]="(uname.errors || email.errors || !reCaptchaValid)" (click)="sendFeedback()">{{ 'dialog.button.send' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'dialog.button.close' | translate }}</button>
</div>