@if (numChildren > 0) {
  <mat-expansion-panel [expanded]="true" class="app-panel-related-items virtual">
    <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']" [collapsedHeight]="config.uiVars['panelHeightInCard']">
      <mat-panel-title>
        {{ 'card.panelTitle.Související záznamy' | translate }}: {{ related().length }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    @if (!state.printing()) {
      <cdk-virtual-scroll-viewport [style.height.px]="vsSize"  [style.width]="'100%'"
        [itemSize]="itemSize" [minBufferPx]="math.min(9*itemSize, numChildren * itemSize)" [maxBufferPx]="math.min(9*itemSize, numChildren * itemSize)*2"
        >
        @for (child of children(); track child.ident_cely; let idx = $index) {
          <app-entity-container [result]="child.result" [isChild]="true" [mapDetail]="mapDetail()" class="app-related-item"></app-entity-container>
        }
        @if (toProcess()?.length > 0) {
          <div class="app-fxLayout app-row app-center-h">
            <button mat-button  (click)="loadAll()" class="app-mb-4">{{ 'card.button.Zobrazit vsechny' | translate}}</button>
          </div>
        }
      </cdk-virtual-scroll-viewport>
    }
    @if (state.printing()) {
      @for (child of children(); track child.ident_cely) {
        <app-entity-container [result]="child.result" [isChild]="true" [mapDetail]="mapDetail()" class="app-related-item"></app-entity-container>
      }
    }
  </mat-expansion-panel>
}