@if (numChildren > 0) {
  <mat-expansion-panel [expanded]="true" class="app-panel-souvisejici-zaznamy virtual">
    <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']" [collapsedHeight]="config.uiVars['panelHeightInCard']">
      <mat-panel-title>
        {{ 'card.panelTitle.Související záznamy' | translate }}: {{ numChildren }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    @if (!state.printing()) {
      <cdk-virtual-scroll-viewport [itemSize]="itemSize" [style.height.px]="vsSize"  [style.width]="'100%'"
        [minBufferPx]="math.min(9*itemSize, numChildren * itemSize)" [maxBufferPx]="math.min(9*itemSize, numChildren * itemSize)*2">
        @for (child of children(); track child.ident_cely; let idx = $index) {
          <div>
            <app-entity-container [result]="child.result" [isChild]="true" [mapDetail]="mapDetail()" class="app-related-item"></app-entity-container>
          </div>
        }
        @if (toProcess()?.length > 0) {
          <button mat-button color="primary" fxFlexFill fxLayoutAlign="center center" (click)="loadAll()">{{ 'card.button.Zobrazit vsechny' | translate}}</button>
        }
      </cdk-virtual-scroll-viewport>
    }
    @if (state.printing()) {
      @for (child of children(); track child.ident_cely) {
        <app-entity-container [result]="child.result" [isChild]="true" [mapDetail]="mapDetail()" class="app-related-item"></app-entity-container>
      }
    }
  </mat-expansion-panel>
}