<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title>
      <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
      <mat-icon *ngIf="isChild" class="app-entity-akce" [matTooltip]="'entities.akce.title' | translate">turned_in</mat-icon>
      <ng-container [ngSwitch]="isChild">
        {{ 'card.title.Část dokumentu' | translate }}&#160;
        <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
        <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
      </ng-container>
      <ng-container *ngIf="result.poznamka"> ({{ result.poznamka }})</ng-container> 
      <span class="app-pipe"></span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="state.itemView === 'col' && !isDocumentDialogOpen && !isChild" class="app-thumb" fxLayout="row" fxFlexFill fxLayoutAlign="center center" [matTooltip]="'card.tooltip.Obrázek není k dispozici' | translate">
      <mat-icon>image_not_supported</mat-icon>
    </div>
    <div class="app-metadata app-row-gap-16">  

      <ng-container *ngIf="result.akce || result.lokalita">
        <label class="app-label">{{ 'card.desc.Dokumentovaná akce/lokalita' | translate }}:</label>&#160;
        <ng-container *ngIf="result.akce">
          <a [routerLink]="'/id/' + result.akce.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.akce.ident_cely }} <mat-icon>link</mat-icon></a><!-- <span class="app-comma">, </span> -->
        </ng-container>
        <ng-container *ngIf="result.vazba_druha_akce">
          <a [routerLink]="'/id/' + result.vazba_druha_akce" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.vazba_druha_akce }} <mat-icon>link</mat-icon></a>
        </ng-container>
        <ng-container *ngIf="result.lokalita">
          <a [routerLink]="'/id/' + result.lokalita.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.lokalita.ident_cely }} <mat-icon>link</mat-icon></a>
        </ng-container>
        <ng-container *ngIf="result.vazba_druha_lokalita">
          <a [routerLink]="'/id/' + result.vazba_druha_lokalita" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.vazba_druha_lokalita }} <mat-icon>link</mat-icon></a>
        </ng-container>
      </ng-container>

      <mat-accordion multi="true">
        <app-komponenta *ngFor="let kd of result.dokument_cast_komponenta"  [result]="kd"></app-komponenta>
        <mat-expansion-panel #panel *ngIf="result.dokument_cast_neident_akce" [expanded]="true" hideToggle class="app-panel-inner">
          <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
            <mat-panel-title>
              <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
              {{ 'card.panelTitle.Neidentifikovaná akce' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr *ngIf="result.dokument_cast_neident_akce.katastr || result.dokument_cast_neident_akce.okres">
              <th class="app-label">{{ 'card.desc.Katastr (okres)' | translate }}:</th>
              <td>
                <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="result.dokument_cast_neident_akce.katastr.value"></app-inline-filter>
                <ng-container *ngIf="result.dokument_cast_neident_akce.okres">
                  &#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="result.dokument_cast_neident_akce.okres.value"></app-inline-filter>)
                </ng-container></td>
            </tr>
            <tr *ngFor="let v of result.dokument_cast_neident_akce.vedouci">
              <th class="app-label">{{ 'card.desc.Vedoucí akce' | translate }}:</th>
              <td>{{ v.value }}</td>
            </tr>
            <tr *ngIf="result.dokument_cast_neident_akce.rok_zahajeni || result.dokument_cast_neident_akce.rok_ukonceni">
              <th class="app-label">{{ 'card.desc.Rok od-do' | translate }}:</th>
              <td>{{ result.dokument_cast_neident_akce.rok_zahajeni }}<ng-container *ngIf="result.dokument_cast_neident_akce.rok_ukonceni">-{{ result.dokument_cast_neident_akce.rok_ukonceni }}</ng-container></td>
            </tr>
            <tr *ngIf="result.dokument_cast_neident_akce.lokalizace">
              <th class="app-label">{{ 'card.desc.Akce - lokalizace' | translate }}:</th>
              <td>{{ result.dokument_cast_neident_akce.lokalizace }}</td>
            </tr>
            <tr *ngIf="result.dokument_cast_neident_akce.popis">
              <th class="app-label">{{ 'card.desc.Popis' | translate }}:</th>
              <td>{{ result.dokument_cast_neident_akce.popis }}</td>
            </tr>
            <tr *ngIf="result.dokument_cast_neident_akce.poznamka">
              <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
              <td>{{ result.dokument_cast_neident_akce.poznamka }}</td>
            </tr>
            <tr *ngIf="result.dokument_cast_neident_akce.pian">
              <th class="app-label">{{ 'card.desc.Pian' | translate }}:</th>
              <td>{{ result.dokument_cast_neident_akce.pian }}</td>
            </tr>
          </table> 
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start end" *ngIf="!isChild">
    <div fxFlex></div>
    <!-- <app-result-actions [result]="result" [bibTex]="''" [isDocumentDialogOpen]="false" 
      [detailExpanded]="detailExpanded" [mapDetail]="mapDetail" (onToggleDetail)="toggleDetail()"></app-result-actions> -->
  </mat-card-actions>

  <mat-card-content *ngIf="detailExpanded && !isChild">
    <div class="app-card-detail">
      <mat-expansion-panel *ngIf="result.dokument && !isChild" [expanded]="true" class="app-panel-souvisejici-zaznamy">
        <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
          <mat-panel-title>
            {{ 'card.panelTitle.Související záznamy' | translate }}:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-dokument *ngFor="let dokument of result.dokumenty" [result]="dokument" [isChild]="true" class="app-related-item"></app-dokument>
      </mat-expansion-panel> 
    </div>
  </mat-card-content>
</mat-card>
