<ng-container *ngIf="isBrowser">
	<div class="app-map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
		<div *ngIf="showHeat" [leafletLayer]="heatmapLayer"></div>
		<div [leafletLayer]="markers"></div>
	</div> 

	<mat-card class="app-active-pian-facet" *ngIf="state.pianId">
		<mat-card-content>
			<a [matTooltip]="'Odstranit tento filtr' | translate" (click)="clearPian()"><mat-icon>clear</mat-icon>{{ state.pianId }}</a>&#160;
		</mat-card-content>
	</mat-card>

	<div class="app-view-card-info">
		<ng-container *ngIf="state.mapResult && isResults">
			<ng-container [ngSwitch]="state.mapResult.entity">
				<app-dokument *ngSwitchCase="'dokument'" [result]="state.mapResult" [mapDetail]="true"></app-dokument>
				<app-dokument *ngSwitchCase="'knihovna_3d'" [result]="state.mapResult" [mapDetail]="true"></app-dokument>
				<app-samostatny-nalez *ngSwitchCase="'samostatny_nalez'" [result]="state.mapResult" [mapDetail]="true"></app-samostatny-nalez>
				<app-projekt *ngSwitchCase="'projekt'" [result]="state.mapResult" [mapDetail]="true"></app-projekt>
				<app-akce *ngSwitchCase="'akce'" [result]="state.mapResult" [mapDetail]="true"></app-akce>
				<app-lokalita *ngSwitchCase="'lokalita'" [result]="state.mapResult" [mapDetail]="true"></app-lokalita>
			</ng-container>
		</ng-container>
	</div>
</ng-container>
