<ng-container *ngIf="isBrowser">
	<div class="app-map" leaflet [leafletOptions]="options"
	 (leafletMapReady)="onMapReady($event)"
	 [leafletLayersControl]="layersControl"
	 [leafletLayersControlOptions]="{position: 'topright'}">
		<!-- <div *ngIf="showHeat" [leafletLayer]="heatmapLayer"></div> -->
		<div [leafletLayer]="markers"></div>
		<div [leafletLayer]="idmarkers"></div>
	</div> 

	<mat-card class="app-active-pian-facet" *ngIf="loadingMarkers">
		<mat-card-content>
			<a [matTooltip]="'map.tooltip.Zastavit' | translate" (click)="stopLoadingMarkers()"><mat-icon style="margin-right: 0px !important">stop</mat-icon></a>
		</mat-card-content>
	</mat-card>

	<mat-card class="app-active-pian-facet" *ngIf="state.pianId">
		<mat-card-content>
			<a [matTooltip]="'map.tooltip.Odstranit tento filtr' | translate" (click)="clearPian()"><mat-icon>clear</mat-icon>{{ state.pianId }}</a>&#160;
		</mat-card-content>
	</mat-card>

	<div class="app-view-card-info" [class.app-pian-visible]="state.pianId && showResults" [class.app-pian-visible-sidenav-closed]="state.pianId && !showResults">
		<ng-container *ngIf="state.mapResult">
			<ng-container [ngSwitch]="state.mapResult.entity">
				<app-dokument *ngSwitchCase="'dokument'" [result]="state.mapResult" [mapDetail]="true"></app-dokument>
				<app-dokument *ngSwitchCase="'knihovna_3d'" [result]="state.mapResult" [mapDetail]="true"></app-dokument>
				<app-samostatny-nalez *ngSwitchCase="'samostatny_nalez'" [result]="state.mapResult" [mapDetail]="true"></app-samostatny-nalez>
				<app-projekt *ngSwitchCase="'projekt'" [result]="state.mapResult" [mapDetail]="true"></app-projekt>
				<app-akce *ngSwitchCase="'akce'" [result]="state.mapResult" [mapDetail]="true"></app-akce>
				<app-lokalita *ngSwitchCase="'lokalita'" [result]="state.mapResult" [mapDetail]="true"></app-lokalita>
			</ng-container>
		</ng-container>
	</div>
</ng-container>
