<ng-container [ngSwitch]="inDocument">
  <mat-expansion-panel *ngSwitchCase="false" #panel [expanded]="true" hideToggle class="app-panel-inner">
    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
      <mat-panel-title>
        <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
        {{ 'card.panelTitle.Let' | translate }}&#160;<a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tbody>
        <tr *ngIf="result.let_datum || result.let_hodina_zacatek || result.let_hodina_konec">
          <th class="app-label">{{ 'card.desc.Datum a čas' | translate }}:</th>
          <td>{{ result.let_datum | date : 'yyyy-MM-dd' }} {{ result.let_hodina_zacatek }} - {{ result.let_hodina_konec }}</td>
        </tr>
        <tr *ngIf="result.let_letiste_start || result.let_letiste_cil">
          <th class="app-label">{{ 'card.desc.Trasa' | translate }}:</th>
          <td>
            <app-inline-filter *ngIf="result.let_letiste_start" [field]="'f_let_letiste_start'" [value]="result.let_letiste_start.id" [heslar]="'a'"></app-inline-filter>&#160;-&#160; 
            <app-inline-filter *ngIf="result.let_letiste_cil" [field]="'f_let_letiste_cil'" [value]="result.let_letiste_cil.id" [heslar]="'a'"></app-inline-filter>
          </td>
        </tr>
        <tr *ngIf="result.let_ucel_letu">
          <th class="app-label">{{ 'card.desc.Účel letu' | translate }}:</th>
          <td>{{ result.let_ucel_letu }}</td>
        </tr>
        <tr *ngIf="result.let_pozorovatel">
          <th class="app-label">{{ 'card.desc.Let - pozorovatel' | translate }}:</th>
          <td><app-inline-filter [field]="'f_let_pozorovatel'" [value]="result.let_pozorovatel"></app-inline-filter></td>
        </tr>
        <tr *ngIf="result.let_pilot">
          <th class="app-label">{{ 'card.desc.Pilot' | translate }}:</th>
          <td><app-inline-filter [field]="'f_let_pilot'" [value]="result.let_pilot"></app-inline-filter></td>
        </tr>
        <tr *ngIf="result.let_organizace">
          <th class="app-label">{{ 'card.desc.Organizace' | translate }}:</th>
          <td><app-inline-filter [field]="'f_let_organizace'" [value]="result.let_organizace.id" [heslar]="'organizace'"></app-inline-filter></td>
        </tr>
        <tr *ngIf="result.let_uzivatelske_oznaceni">
          <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
          <td>{{ result.let_uzivatelske_oznaceni }}</td>
        </tr>
        <tr *ngIf="result.let_fotoaparat">
          <th class="app-label">{{ 'card.desc.Fotoaparát' | translate }}:</th>
          <td>{{ result.let_fotoaparat }}</td>
        </tr>
        <tr *ngIf="result.let_typ_letounu">
          <th class="app-label">{{ 'card.desc.Typ letounu' | translate }}:</th>
          <td>{{ result.let_typ_letounu}}</td>
        </tr>
        <tr *ngIf="result.let_pocasi">
          <th class="app-label">{{ 'card.desc.Počasí' | translate }}:</th>
          <td><app-inline-filter [field]="'f_let_pocasi'" [value]="result.let_pocasi.id" [heslar]="'pocasi'"></app-inline-filter></td>
        </tr>
        <tr *ngIf="result.let_dohlednost">
          <th class="app-label">{{ 'card.desc.Dohlednost' | translate }}:</th>
          <td><app-inline-filter [field]="'f_let_dohlednost'" [value]="result.let_dohlednost.id" [heslar]="'dohlednost'"></app-inline-filter></td>
        </tr>
      </tbody>
    </table>
  </mat-expansion-panel>
  <mat-card *ngSwitchCase="true" class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" (click)="state.setMapResult(result, mapDetail)">
    <a *ngIf="mapDetail && !isChild" (click)="service.setMapResult(null, true)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
      <mat-icon>clear</mat-icon>
    </a>
    <mat-card-header>
      <mat-card-title>
        {{ 'card.title.Let' | translate }}&#160;{{ result.ident_cely }}
        <span class="app-pipe"></span>{{ result.let_pozorovatel }}
        <span class="app-pipe"></span>{{ result.let_datum | date : 'dd.MM.yyyy' }}
        <span class="app-pipe"></span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="app-metadata app-row-gap-16">
        <div *ngIf="result.let_hodina_zacatek || result.let_hodina_konec || result.let_letiste_start || result.let_letiste_cil">
          <ng-container *ngIf="result.let_hodina_zacatek || result.let_hodina_konec">
            <label class="app-label">{{ 'card.desc.Čas' | translate }}:</label>&#160;
            {{ result.let_hodina_zacatek }}-{{ result.let_hodina_konec }}
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.let_letiste_start || result.let_letiste_cil">
            <label class="app-label">{{ 'card.desc.Trasa' | translate }}:</label>&#160;
            <app-inline-filter *ngIf="result.let_letiste_start" [field]="'f_let_letiste_start'" [value]="result.let_letiste_start" [heslar]="'a'"></app-inline-filter>&#160;-&#160; 
            <app-inline-filter *ngIf="result.let_letiste_cil" [field]="'f_let_letiste_cil'" [value]="result.let_letiste_cil" [heslar]="'a'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
        </div>
        <div *ngIf="result.let_organizace">
          <label class="app-label">{{ 'card.desc.Organizace' | translate }}:</label>&#160;
          <app-inline-filter [field]="'f_organizace'" [value]="result.let_organizace" [heslar]="'organizace'"></app-inline-filter>
        </div>
        <div *ngIf="result.let_ucel_letu" class="app-truncate-text">
          <label class="app-label">{{ 'card.desc.Účel letu' | translate }}:</label>&#160;
          {{ result.let_ucel_letu }}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex class="app-metadata">
        <ng-container *ngIf="result.let_dokument?.length > 0">
          {{ 'card.desc.Počet dokumentů' | translate }}: <strong>{{result.let_dokument?.length}}</strong>
          <span class="app-pipe"></span>
        </ng-container>
      </div>
      <app-result-actions [inDocument]="inDocument" [bibTex]="bibTex" [result]="result" [detailExpanded]="detailExpanded" [mapDetail]="true" (onToggleDetail)="toggleDetail()"></app-result-actions>
    </mat-card-actions>
    <mat-card-content *ngIf="detailExpanded">
      <div class="app-card-detail">
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
              <mat-panel-title>
                {{ 'card.panelTitle.Popis letu' | translate }}:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table>
              <tbody>                
                <tr *ngIf="result.let_ucel_letu">
                  <th class="app-label">{{ 'card.desc.Účel letu' | translate }}:</th>
                  <td>{{ result.let_ucel_letu }}</td>
                </tr>
                <tr *ngIf="result.let_pilot">
                  <th class="app-label">{{ 'card.desc.Pilot' | translate }}:</th>
                  <td>{{ result.let_pilot }}</td>
                </tr>
                <tr *ngIf="result.let_uzivatelske_oznaceni">
                  <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
                  <td>{{ result.let_uzivatelske_oznaceni }}</td>
                </tr>
                <tr *ngIf="result.let_fotoaparat">
                  <th class="app-label">{{ 'card.desc.Fotoaparát' | translate }}:</th>
                  <td>{{ result.let_fotoaparat }}</td>
                </tr>
                <tr *ngIf="result.let_typ_letounu">
                  <th class="app-label">{{ 'card.desc.Typ letounu' | translate }}:</th>
                  <td>{{ result.let_typ_letounu}}</td>
                </tr>
                <tr *ngIf="result.let_pocasi">
                  <th class="app-label">{{ 'card.desc.Počasí' | translate }}:</th>
                  <td><app-inline-filter [field]="'f_let_pocasi'" [value]="result.let_pocasi" [heslar]="'pocasi'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.let_dohlednost">
                  <th class="app-label">{{ 'card.desc.Dohlednost' | translate }}:</th>
                  <td><app-inline-filter [field]="'f_let_dohlednost'" [value]="result.let_dohlednost" [heslar]="'dohlednost'"></app-inline-filter></td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="result.let_dokument?.length > 0" [expanded]="true" class="app-panel-souvisejici-zaznamy">
            <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
              <mat-panel-title>
                {{ 'card.panelTitle.Související záznamy' | translate }}:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-dokument *ngFor="let dok of result.dokument" [result]="dok" [isChild]="true" class="app-related-item"></app-dokument>
          </mat-expansion-panel> 
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>



  