<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header *ngIf="!isExport">
      <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
      <app-searchbar *ngIf="!isStats"></app-searchbar>
    </header>
    <main>
      <router-outlet></router-outlet> 
    </main>
    <app-footer *ngIf="!isExport"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

