<ng-container *ngIf="result.ext_zdroj_typ" [ngSwitch]="inDocument">
	<li *ngSwitchCase="false">
		<ng-container *ngTemplateOutlet="format"></ng-container>
	</li>
	<mat-card *ngSwitchCase="true" class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" >
		<mat-card-header>
			<mat-card-title>
				<span class="app-ident-format">{{ result.ident_cely }}</span>
				<span class="app-pipe"></span>
				<app-inline-filter [field]="'ext_zdroj_typ'" [value]="result.ext_zdroj_typ"></app-inline-filter>
				<span class="app-pipe"></span>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<ul>
				<li>
					<ng-container *ngTemplateOutlet="format"></ng-container>
				</li>
			</ul>
		</mat-card-content>
		<mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex class="app-metadata">
        <ng-container *ngIf="result.akce?.length > 0">
          {{ 'card.desc.Počet akcí' | translate }}: <strong>{{result.akce?.length}}</strong>
          <span class="app-pipe"></span>
        </ng-container>
		<ng-container *ngIf="result.lokalita?.length > 0">
			{{ 'card.desc.Počet lokalit' | translate }}: <strong>{{result.lokalita.length}}</strong>
			<span class="app-pipe"></span>
		</ng-container> 
      </div>
      <div>
        <button mat-flat-button (click)="service.showBiBText(result.ident_cely, bibTex)" [matTooltip]="'BibTeX'">
          <mat-icon>menu_book</mat-icon>
        </button>
				<a mat-flat-button target="_blank" [href]="'print/'+result.ident_cely+'?lang='+state.currentLang" >
					<mat-icon>print</mat-icon>
				</a>
        <button mat-flat-button *ngIf="state.logged" (click)="toggleFav()" [class.app-color-fav]="result.isFav" [matTooltip]="result.isFav ? ('card.tooltip.Odebrat z oblíbených' | translate)  : ('card.tooltip.Uložit do oblíbených' | translate)">
          <mat-icon>grade</mat-icon>
        </button>
        <button mat-flat-button *ngIf="!isDocumentDialogOpen" (click)="detailExpanded = !detailExpanded" [ngClass]="detailExpanded ? 'app-rotate-up' : 'app-rotate-down'">
          {{(detailExpanded ? 'card.button.Skrýt detail' : 'card.button.Zobrazit detail') | translate }}<mat-icon>expand_more</mat-icon>
        </button>
      </div>
		</mat-card-actions>
		<mat-card-content *ngIf="detailExpanded">
      <div class="app-card-detail">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngIf="result.akce || result.lokalita" [expanded]="true" class="app-panel-souvisejici-zaznamy">
            <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
              <mat-panel-title>
                {{ 'card.panelTitle.Související záznamy' | translate }}:
              </mat-panel-title>
            </mat-expansion-panel-header>
        	<app-akce *ngFor="let akce of result.akce" [result]="akce" [isChild]="true" class="app-related-item"></app-akce>
			<app-lokalita *ngFor="let lok of result.lokalita" [result]="lok" [isChild]="true" class="app-related-item"></app-lokalita>
          </mat-expansion-panel> 
        </mat-accordion>
      </div>
    </mat-card-content>
	</mat-card>
</ng-container>

<ng-template #format>
	<!-- kniha -->
	<ng-container *ngIf="result.ext_zdroj_typ === 'HES-001117'">  
		<ng-container *ngIf="result.ext_zdroj_autor">{{ result.ext_zdroj_autor.join(' – ') }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_rok_vydani_vzniku">{{ result.ext_zdroj_rok_vydani_vzniku }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_nazev">{{ result.ext_zdroj_nazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_podnazev">{{ result.ext_zdroj_podnazev }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_edice_rada">{{ result.ext_zdroj_edice_rada }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_misto">{{ result.ext_zdroj_misto }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_vydavatel">{{ result.ext_zdroj_vydavatel }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_isbn">(<ng-container *ngIf="result.ext_zdroj_isbn">{{ result.ext_zdroj_isbn }}<ng-container *ngIf="!inDocument && result.ext_zdroj_vydavatel">,&#160;</ng-container>
			</ng-container>
			<a *ngIf="!inDocument && result.ext_zdroj_vydavatel" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody app-clean-mg" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>)<ng-container *ngIf="result.ext_odkaz_paginace || result.ext_zdroj_link">,&#160;</ng-container>
		</ng-container>
		<ng-container *ngIf="result.ext_odkaz_paginace">{{ result.ext_odkaz_paginace }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_link">{{ 'card.desc.Dostupné z' | translate }}: <a [href]="result.ext_zdroj_link " target="_blank">{{ result.ext_zdroj_link }}</a>.</ng-container>
	</ng-container>
<!-- část knihy -->
	<ng-container *ngIf="result.ext_zdroj_typ === 'HES-001118'">
		<ng-container *ngIf="result.ext_zdroj_autor">{{ result.ext_zdroj_autor.join(' – ') }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_rok_vydani_vzniku">{{ result.ext_zdroj_rok_vydani_vzniku }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_nazev">{{ result.ext_zdroj_nazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_podnazev">{{ result.ext_zdroj_podnazev }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_editor">In: {{ result.ext_zdroj_editor.join(' – ') }} (ed.),&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_sbornik_nazev">{{ result.ext_zdroj_sbornik_nazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_edice_rada">{{ result.ext_zdroj_edice_rada }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_misto">{{ result.ext_zdroj_misto }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_vydavatel">{{ result.ext_zdroj_vydavatel }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_isbn">(<ng-container *ngIf="result.ext_zdroj_isbn">{{ result.ext_zdroj_isbn }}<ng-container *ngIf="!inDocument">,&#160;</ng-container></ng-container><a *ngIf="!inDocument && result.ext_zdroj_vydavatel" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody app-clean-mg" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>)<ng-container *ngIf="result.ext_odkaz_paginace || result.ext_zdroj_link">,&#160;</ng-container></ng-container>
		<ng-container *ngIf="result.ext_odkaz_paginace">{{ result.ext_odkaz_paginace }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_link">{{ 'card.desc.Dostupné z' | translate }}: <a [href]="result.ext_zdroj_link" target="_blank">{{ result.ext_zdroj_link }}</a>.</ng-container>
	</ng-container>

	<ng-container *ngIf="result.ext_zdroj_typ === 'HES-001119'"> <!--  článek v časopise -->
		<ng-container *ngIf="result.ext_zdroj_autor">{{ result.ext_zdroj_autor.join(' – ') }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_rok_vydani_vzniku">{{ result.ext_zdroj_rok_vydani_vzniku }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_nazev">{{ result.ext_zdroj_nazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_podnazev">{{ result.ext_zdroj_podnazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_casopis_denik_nazev">{{ result.ext_zdroj_casopis_denik_nazev }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_casopis_rocnik">{{ result.ext_zdroj_casopis_rocnik }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_issn">(<ng-container *ngIf="result.ext_zdroj_issn">{{ result.ext_zdroj_issn }}<ng-container *ngIf="!inDocument">,&#160;</ng-container></ng-container><a *ngIf="!inDocument" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody app-clean-mg" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>)<ng-container *ngIf="result.ext_odkaz_paginace || result.ext_zdroj_link">,&#160;</ng-container></ng-container>
		<ng-container *ngIf="result.ext_odkaz_paginace">{{ result.ext_odkaz_paginace }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_link">{{ 'card.desc.Dostupné z' | translate }}: <a [href]="result.ext_zdroj_link" target="_blank">{{ result.ext_zdroj_link }}</a>.</ng-container>
	</ng-container>
<!-- článek v novinách -->
	<ng-container *ngIf="result.ext_zdroj_typ === 'HES-001120'">
		<ng-container *ngIf="result.ext_zdroj_autor">{{ result.ext_zdroj_autor.join(' – ') }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_rok_vydani_vzniku">{{ result.ext_zdroj_rok_vydani_vzniku }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_nazev">{{ result.ext_zdroj_nazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_podnazev">{{ result.ext_zdroj_podnazev }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_casopis_denik_nazev">{{ result.ext_zdroj_casopis_denik_nazev }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_datum_rd">{{ result.ext_zdroj_datum_rd | date : 'dd.MM.yyyy' }}&#160;</ng-container>
		<ng-container *ngIf="!inDocument">(<a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody app-clean-mg" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>)</ng-container>
		<ng-container *ngIf="result.ext_odkaz_paginace">,&#160;{{ result.ext_odkaz_paginace }}.&#160;</ng-container> 
		<ng-container *ngIf="result.ext_zdroj_link">{{ 'card.desc.Dostupné z' | translate }}: <a [href]="result.ext_zdroj_link" target="_blank">{{ result.ext_zdroj_link }}</a>.</ng-container>
	</ng-container>
<!-- nepublikovaná zpráva  jiný zdroj -->
	<ng-container *ngIf="result.ext_zdroj_typ === 'HES-001121'">
		<ng-container *ngIf="result.ext_zdroj_autor">{{ result.ext_zdroj_autor.join(' – ') }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_rok_vydani_vzniku">{{ result.ext_zdroj_rok_vydani_vzniku }}:&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_oznaceni">{{ result.ext_zdroj_oznaceni }}&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_typ_dokumentu">({{ result.ext_zdroj_typ_dokumentu | translateHeslar : 'f_typ' }}).&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_organizace">{{ result.ext_zdroj_organizace }}&#160;</ng-container>
		<ng-container *ngIf="!inDocument">(<a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody app-clean-mg" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>)<ng-container *ngIf="result.ext_odkaz_paginace || result.ext_zdroj_link">,&#160;</ng-container></ng-container>
		<ng-container *ngIf="result.ext_odkaz_paginace">{{ result.ext_odkaz_paginace }}.&#160;</ng-container>
		<ng-container *ngIf="result.ext_zdroj_link">{{ 'card.desc.Dostupné z' | translate }}: <a [href]="result.ext_zdroj_link" target="_blank">{{ result.ext_zdroj_link }}</a>.</ng-container>
	</ng-container>
</ng-template>