<h1 mat-dialog-title>{{ data.title | translate }}</h1>
<div mat-dialog-content>
  @for (message of data.message; track message) {
    <mat-card class="app-alert" [ngClass]="data.type === 'error' ? 'app-warn' : 'app-info' " >
      <mat-icon>{{ data.type === 'error' ? 'warning' : 'info' }}</mat-icon>
      <div class="app-text">
        {{ message | translate }}
      </div>
    </mat-card>
  }
</div>
<div mat-dialog-actions cdkFocusRegionstart>
  <button mat-stroked-button mat-dialog-close="close" >{{ 'dialog.button.Zavřít' | translate }}</button>
</div>