<mat-expansion-panel #panel [expanded]="true" hideToggle class="app-panel-inner" [class.app-mb-4]="inDocument">
  <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
    <mat-panel-title>
      <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
      {{ 'card.panelTitle.Komponenta' | translate }}&#160;<ng-container *ngIf="result.ident_cely"><a [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>&#160;–&#160;</ng-container>
      <ng-container *ngIf="result.obdobi">
        <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="result.obdobi" [heslar]="'obdobi_druha'"></app-inline-filter>
      </ng-container>
      <ng-container *ngIf="result.jistota || result.presna_datace">(<ng-container *ngIf="result.jistota">{{ result.jistota }};</ng-container>{{ result.presna_datace }})</ng-container>
      <ng-container *ngIf="result.areal">&#160;–&#160;<app-inline-filter [isChild]="isChild" [field]="'f_areal'" [value]="result.areal" [heslar]="'areal_druha'"></app-inline-filter></ng-container>
      <ng-container *ngIf="result.aktivita">
        &#160;(<ng-container *ngFor="let ak of result.aktivita; let last = last;"> <app-inline-filter [isChild]="isChild" [field]="'f_aktivita'" [value]="ak" [heslar]="'f_aktivita'"></app-inline-filter>
        <span *ngIf="!last">,&#160; </span></ng-container>)
      </ng-container>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="result.poznamka">{{ result.poznamka }}</ng-container>
  <mat-expansion-panel #panel *ngIf="result.nalez_dokumentu" [expanded]="true" hideToggle class="app-panel-inner">
    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
      <mat-panel-title>
        <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
        {{ 'card.panelTitle.Nálezy' | translate }}:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="app-list-inside">
      <ng-container *ngIf="result.nalez_dokumentu.length">
        <li *ngFor="let nalez_dokumentu of result.nalez_dokumentu">
          <app-nalez [result]="nalez_dokumentu"></app-nalez>
        </li>
      </ng-container>
      <ng-container *ngIf="!result.nalez_dokumentu.length">
        <li>
          <app-nalez [result]="result.nalez_dokumentu"></app-nalez>
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="result.parent && !isChild" [expanded]="true" class="app-panel-souvisejici-zaznamy">
  <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
    <mat-panel-title>
      {{ 'card.panelTitle.Související záznamy' | translate }}:
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-dokument *ngIf="result.dokument" [result]="result.dokument[0]" [isChild]="true" class="app-related-item"></app-dokument>
  <app-knihovna3d *ngIf="result.knihovna_3d" [result]="result.knihovna_3d[0]" [isChild]="true" class="app-related-item"></app-knihovna3d>
</mat-expansion-panel> 