<h1 mat-dialog-title>{{ 'dialog.title.contact' | translate}}</h1>
<div mat-dialog-content>
  <p>
    {{'dialog.desc.supportBohemia' | translate}}<br />
    {{'dialog.desc.arup' | translate}}<br />
    <a href="mailto:amcr@arup.cas.cz" [title]="'dialog.desc.writeToUs' | translate">amcr&#64;arup.cas.cz</a>
  </p>
  <p>
    {{'dialog.desc.supportMoravia' | translate}}<br />
    {{'dialog.desc.arub' | translate}}<br />
    <a href="mailto:amcr@arub.cz" [title]="'dialog.desc.writeToUs' | translate">amcr&#64;arub.cz</a>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'dialog.button.close' | translate }}</button>
</div>