<h1 mat-dialog-title>{{ 'Kontakt' | translate}}</h1>
<div mat-dialog-content>
  <p>
    {{'Správa dat, uživatelů a podpora pro oblast Čech' | translate}}<br />
    {{'Archeologický ústav AV ČR, Praha, v. v. i.' | translate}}<br />
    <a href="mailto:amcr@arup.cas.cz" [title]="'Napište nám' | translate">amcr@arup.cas.cz</a>
  </p>
  <p>
    {{'Správa dat, uživatelů a podpora pro oblast Moravy a Slezska (vč. kraje Vysočina)' | translate}}<br />
    {{'Archeologický ústav AV ČR, Brno, v. v. i.' | translate}}<br />
    <a href="mailto:amcr@arub.cz" [title]="'Napište nám' | translate">amcr@arub.cz</a>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'Zavřít' | translate }}</button>
</div>