<h1 mat-dialog-title>{{ 'dialog.title.Kontakt' | translate}}</h1>
<div mat-dialog-content>
  <p>
    {{'dialog.desc.Správa dat, uživatelů a podpora pro oblast Čech' | translate}}<br />
    {{'dialog.desc.Archeologický ústav AV ČR, Praha, v. v. i.' | translate}}<br />
    <a href="mailto:amcr@arup.cas.cz" [title]="'dialog.desc.Napište nám' | translate">amcr&#64;arup.cas.cz</a>
  </p>
  <p>
    {{'dialog.desc.Správa dat, uživatelů a podpora pro oblast Moravy a Slezska (vč. kraje Vysočina)' | translate}}<br />
    {{'dialog.desc.Archeologický ústav AV ČR, Brno, v. v. i.' | translate}}<br />
    <a href="mailto:amcr@arub.cz" [title]="'dialog.desc,Napište nám' | translate">amcr&#64;arub.cz</a>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'dialog.button.Zavřít' | translate }}</button>
</div>