<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [expandedHeight]="facetHeight" [collapsedHeight]="facetHeight">
      <mat-panel-title>
        {{ 'facet.title.Typy záznamů' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item *ngFor="let entity of config.entities" [ngClass]="'app-facet-entity ' + entity" [class.active]="state.entity === entity" (click)="setEntity(entity)" [matTooltip]="'entities.' + entity + '.desc' | translate">
        <div fxLayout="row" fxFlexFill class="app-fx-wrapper" >
          <div fxFlex="50px" class="app-fx-left">
            <mat-icon [ngClass]="'app-entity-' + entity">{{ config.entityIcons[entity] }}</mat-icon>
          </div>
          <div fxFlex class="app-fx-right">
            <strong>{{ 'entities.' + entity + '.title' | translate }}</strong>
            <span *ngIf="state.totals">({{ state.totals[entity] }})</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <app-facets-dynamic></app-facets-dynamic>
  <app-facets-search></app-facets-search>

  <!-- <ng-container *ngFor="let facetPivot of state.facetPivots">
    <mat-expansion-panel *ngIf="treeData.length > 0" [expanded]="true">
      <mat-expansion-panel-header [expandedHeight]="facetHeight" [collapsedHeight]="facetHeight">
        <mat-panel-title>
          {{ 'field.' + facetPivot.field | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" #tree>
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="app-node-child">
          <button mat-icon-button disabled></button><button mat-icon-button disabled></button>
          <mat-checkbox [checked]="node.used" (change)="clickPivot('f_typ_dokumentu',node.field, node.used)"></mat-checkbox>
          <a (click)="clickPivot('f_typ_dokumentu',node.field, node.used)">{{node.field | translateHeslar : 'f_typ_dokumentu'}}</a> 
          <span>({{node.count}})</span>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.field">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="node.used" (change)="clickPivot('kategorie_dokumentu',node.field, node.used)"></mat-checkbox>
          <a (click)="clickPivot('kategorie_dokumentu',node.field, node.used)">{{'kategorie_dokumentu.' + node.field | translate}}</a>
          <span>({{node.count}})</span>
        </mat-tree-node>
      </mat-tree>
    </mat-expansion-panel>
  </ng-container> -->

  <ng-container *ngFor="let facetField of facetsSorted">
    <mat-expansion-panel *ngIf="facetField.values.length > 0" class="app-scroll" [expanded]="state.areFacetsFiltered || expandedFacets[facetField.field]">
      <mat-expansion-panel-header [expandedHeight]="facetHeight" [collapsedHeight]="facetHeight" (click)="expandedFacets[facetField.field] = !expandedFacets[facetField.field]">
        <mat-panel-title>
          {{ 'facet.field.' + facetField.field | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-list role="list">
          <cdk-virtual-scroll-viewport itemSize="22" [style.height.px]="math.min(198, facetField.values.length * 22)">
            <mat-list-item *cdkVirtualFor="let facet of facetField.values" class="app-list-table" >
              <a [matMenuTriggerFor]="menu" class="app-btn-op-dropdown" [matTooltip]="facet.operator ? ('facet.tooltip.Operátor ' + facet.operator | translate) : ('facet.tooltip.Zvolit operátor pro filtrování' | translate)">
                <mat-icon *ngIf="!facet.operator || facet.operator === 'delete'">more_vert</mat-icon>
                <span *ngIf="facet.operator && facet.operator !== 'delete'" [class]="'app-badge-op ' + facet.operator">
                  <mat-icon class="app-icon-op">{{ 'facet.icon.' + facet.operator | translate }}</mat-icon>
                </span>
              </a>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addFilter(facetField.field, facet, 'or')">
                  <span class="app-badge-op or"><mat-icon>{{ 'facet.icon.or' | translate }}</mat-icon></span> 
                  <span>{{ 'facet.menu.Operátor OR' | translate }}</span>
                </button>
                <button mat-menu-item (click)="addFilter(facetField.field, facet, 'and')">
                  <span class="app-badge-op and"><mat-icon>{{ 'facet.icon.and' | translate }}</mat-icon></span> 
                  <span>{{ 'facet.menu.Operátor AND' | translate }}</span>
                </button>
                <button mat-menu-item (click)="addFilter(facetField.field, facet, 'not')">
                  <span class="app-badge-op not"><mat-icon>{{ 'facet.icon.not' | translate }}</mat-icon></span> 
                  <span>{{ 'facet.menu.Operátor NOT' | translate }}</span>
                </button>
              </mat-menu>
              <div class="app-list-content" [matTooltip]="(facet.name | translateHeslar : facetField.field) + ' (' + facet.value + ')'">
                <a (click)="clickFacet(facetField.field, facet)"> 
                  <ng-container [ngSwitch]="facetField.field">
                    <ng-container *ngSwitchCase="'kategorie_dokumentu'">{{ 'kategorie_dokumentu.' + facet.name | translate }}</ng-container>
                    <ng-container *ngSwitchDefault>{{ facet.name | translateHeslar : facetField.field }}</ng-container>
                  </ng-container>
                </a>
                <span>({{ facet.value }})</span>
              </div>
            </mat-list-item>
          </cdk-virtual-scroll-viewport>
          <button mat-flat-button (click)="applyFilters()" color="accent" class="app-apply-filter">
            <mat-icon mat-flat-button>filter_alt</mat-icon>
            {{ 'facet.button.Aplikovat filtr' | translate }}
          </button>
          <button mat-flat-button color="primary" class="app-apply-filter" [matMenuTriggerFor]="sortBy">
            <mat-icon mat-flat-button>sort</mat-icon>
            {{ 'facet.button.Řadit dle' | translate }} {{  state.facetSort[facetField.field] | translate }}
          </button>
          <mat-menu #sortBy="matMenu">
            <button mat-menu-item (click)="setFacetSort(facetField.field, 'count')" [class.active]="state.facetSort[facetField.field] === 'count'">{{ 'facet.menu.count' | translate }}</button>
            <button mat-menu-item (click)="setFacetSort(facetField.field, 'name')" [class.active]="state.facetSort[facetField.field] === 'name'">{{ 'facet.menu.name' | translate }}</button>
            <button mat-menu-item (click)="setFacetSort(facetField.field, 'poradi')" [class.active]="state.facetSort[facetField.field] === 'poradi'">{{ 'facet.menu.poradi' | translate }}</button>
          </mat-menu>
        </mat-list>
      </ng-template>
    </mat-expansion-panel> 
  </ng-container>
</mat-accordion>
