// --- MATERIAL OVERRIDE ---

@use "sass:map";
@use "@angular/material" as mat;
@use "theme-colors" as my-theme;
@use "app-mixins-icon" as *;
@use "app-mixins-entity-color" as *;
@use "app-mixins-entity-facet-color" as *;
@use "app-mixins-entity-card-color" as *;


:root {
  // --- TOLBAR ---
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--app-color-lightnes),
    title-text-size: 14px,
    //standard-height: 80px
  ));


  // --- LIST ---
  @include mat.list-overrides((
    //list-item-hover-label-text-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    list-item-label-text-tracking: 0,
    list-item-label-text-color: var(--app-color-gray-6),
    list-item-one-line-container-height: auto
  ));
  .mat-mdc-list-item {
    padding: 0 8px;

    @include mat.list-overrides((
      list-item-one-line-container-height: 22px
    ));
  }
  .app-facet-entity {
    @include setFacetEntityColor();
    @include mat.list-overrides((
      list-item-container-shape: var(--app-default-border-radius),
      list-item-label-text-color: var(--app-color-lightnes),
      list-item-hover-label-text-color: var(--app-color-lightnes),
      list-item-one-line-container-height: var(--app-facet-entity-height),
      list-item-label-text-tracking: 0,
      list-item-label-text-weight: 400,
      list-item-label-text-font: 'Roboto Condensed, sans-serif'
    ));

    padding: 0;
    margin-bottom: 8px;
    border: 1px solid;

    .mdc-list-item__content {
      align-self: unset;
    }

    .app-left {
      padding: 0 12px;

      .mat-icon {
        color: var(--app-color-lightnes) !important;
      }
    }

    .app-right {
      padding: 0 12px;
    }
  }


  // --- FORM FIELD ---
  @include mat.form-field-overrides((
    container-height: 40px,
    container-vertical-padding: 8px,
    container-text-size: 14px,
    container-text-tracking: 0,
    outlined-outline-color: var(--app-color-gray-3),
    subscript-text-line-height: 0px
  ));
  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: var(--app-color-lightnes);   
    }
    .mat-mdc-form-field-infix {
      width: auto;
    }
    .mat-mdc-form-field-subscript-wrapper {
      line-height: 0;
      height: 0;
    }
  } 
  

  // --- SELECT ---
  @include mat.select-overrides((
    panel-background-color: var(--app-color-lightnes),
    trigger-text-size: 12px,
  ));


  // --- DATE PICKER ---
  @include mat.datepicker-overrides((
    calendar-container-shape: var(--app-default-border-radius),
    calendar-container-elevation-shadow: var(--mat-select-container-elevation-shadow, 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)),
    calendar-container-background-color: var(--app-color-lightnes),
  ));


  // --- PROGRESS BAR ---
  @include mat.progress-bar-overrides((
    active-indicator-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    track-color: #{map.get(map.get(my-theme.$primary-palette, error),10)}
  ));


  // --- BUTTON ---
  @include mat.button-overrides((
    filled-container-shape: 3px,
    protected-container-shape: 3px,
    outlined-container-shape: 3px
  ));
  .app-btn-facet {
    @include mat.button-overrides((
      filled-container-height: 28px
    ));
  }
  .app-btn-accent {
    @include mat.button-overrides((
      filled-container-color: var(--app-color-accent)
    ));
  }


  // --- BUTTON ICON ---
  @include mat.icon-button-overrides((
    container-shape: 3px,
  ));
  .mat-mdc-icon-button {
    background-color: var(--app-color-gray-1);
  }


  // --- EXPANSION PANEL ---
  @include mat.expansion-overrides((
    container-shape: 0px,
    container-background-color: transparent,
    container-elevation-shadow: none,
    header-text-size: 15px,
    header-text-line-height: auto,
    header-text-tracking: 0,
    container-text-tracking: 0,
    container-text-size: 14px
  ));
  .mat-expansion-panel {
    &.mat-expansion-panel-spacing {
      margin: 0;
    }
    .mat-expansion-panel-header {
      padding: 0 16px;
    }
    .mat-expansion-panel-body {
      padding: 0 8px 16px;
    }
  }
  .app-facets {
    .mat-expansion-panel {
      border-bottom: 1px solid var(--app-color-gray-3);
    }
  }
  .app-card-detail {
    .mat-expansion-panel {
      margin-bottom: 1px;

      &.app-panel-inner {
        .mat-expansion-panel-header {
          background-color: transparent;

          &:hover, &:focus {
            background-color: transparent;
          }
        }
      }

      .mat-expansion-panel-header {
        background-color: var(--app-color-gray-2);

        &:hover, &:focus {
          background-color: var(--app-color-gray-2);
        }
      }

      .mat-expansion-panel-body {
        table {
          th {
            &.app-label {
              text-align: left;
            }
          }
        }  
      }
    }
  }


  // --- CARD ---
  @include mat.card-overrides((
    elevated-container-shape: 3px,
    elevated-container-color: var(--app-color-lightnes), 
    title-text-font: 'Roboto Condensed, sans-serif',
    title-text-size: 16px,
    title-text-weight: 700,
    title-text-line-height: 20px,
    title-text-tracking: 0,
    subtitle-text-font: 'Roboto Condensed, sans-serif',
    subtitle-text-size: 14px,
    subtitle-text-color: var(--app-color-gray-6),
    subtitle-text-weight: 400,
    subtitle-text-tracking: 0,
  ));
  .mat-mdc-card {
    .mat-mdc-card-header-text {
      width: 100%;
    }

    .mat-mdc-card-actions {
      padding: 0 16px 16px 16px;
    }
  }
  .app-card-info {
    @include mat.card-overrides((
      elevated-container-color: rgba(var(--app-color-fav-rgb), .1)
    ));

    .mat-mdc-card-content {
      color: var(--app-color-info);

      .app-info-badge {
        @include setEntityColor();

        .mat-icon {
          margin-right: var(--app-gap-icon);
          @include setIcon(18, inherit, bottom);
        }
      }
    }
  }
  .app-card-result {
    @include setEntityCardColor();

    .mat-mdc-card-header {
      margin-bottom: 12px;

      .app-last-change {
        font-size: 12px;
        color: var(--app-color-gray-6);
        font-weight: normal;
      }
    }

    .mat-mdc-card-content {
      line-height: 20px;
    }

    .mat-mdc-card-header,
    .mat-mdc-card-content {
      a {
        color: var(--app-color-darknes);

        &:hover {
          color: var(--app-color-accent);
        }
      }

      .mat-icon {
         vertical-align: sub;

        &[class*="app-entity-"] {
          margin-right: 4px;
        }

        &:not([class*="app-entity-"]) {
          @include setIcon(18, var(--app-color-accent));
        }
      }
    }
  }



  // --- MENU ---
  @include mat.menu-overrides((
    container-shape: 3px,
    container-color: var(--app-color-lightnes)
  ));
  .mat-mdc-menu-panel {
    min-width: 100%;
    max-width: 100%;
  }


  // --- PAGINATOR ---
   @include mat.paginator-overrides((
    container-background-color: transparent,
  ));
}







@for $i from 0 through 5 {
  mat-card.mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}


// dialog
.mat-mdc-dialog-container {
  .mat-mdc-dialog-title {
    margin: 0;
    padding: 0 16px 8px 16px;
  }

  .mat-mdc-dialog-content {
    padding: 16px !important;
  }

  .mat-mdc-dialog-actions {
    padding: 0 16px 16px 16px !important;
  }
}