// --- FILE VIEWER ---


@use "./app-mixins-icon";
@import "./app-variables-old";

app-file-viewer {
  .mat-dialog-title {
    position: relative;

    .app-list-files-wrapper {
      width: calc(100% - 40px);

      a {
        font-size: 16px !important;

        &.active {
          background-color: var(--app-primary-color);
          color: var(--app-color-lightnes);
          border-radius: var(--app-border-radius);
          padding: var(--app-gap-icon) 8px;
        }
      }
    }

    .app-close-icon {
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--app-color-darknes);
    }
  }

  .mat-dialog-content {
    overflow: unset;

    .app-toolbar-wrapper {
      .app-controls {
        .mat-icon {
        @include app-mixins-icon.setIcon($position: middle);  
        }
       
        .mat-mdc-form-field {
          width: 30px;
          font-weight: bold;
        }
      }
  
      .app-metadata {
        .mat-icon {
          @include app-mixins-icon.setIcon($position: middle);
        }
      }

      @media #{$lt-md} {
        flex-wrap: wrap;

        .app-controls,
        .app-metadata {
          flex: 0 0 100%;
        }
      }
    }

    .ngucarousel {
      & > .ngu-touch-container {
        & > .ngucarousel-items {
          & > .item {
            text-align: center !important;

            img {
              max-width: 100%;

              @media #{$lt-md} {
                width: 100%;  
              }
            }
          }
        }
      }
    }
  }
}