// --- FACETS USED ---

app-facets-used,
.app-facets-used {
  .mat-mdc-list {
    border: 1px solid var(--app-color-gray-3);
    padding: 10px 0 16px0 !important;
    margin-top: 16px;
    
    .mat-subheader {
      @extend .app-font-bold !optional;
      color: var(--app-primary-color);
      height: 0;
      padding-right: 8px;

      .mat-icon {
        color: var(--app-color-warning);
        margin-left: $app-gap-icon;
      }
    }

    .mat-mdc-list-item {
      height: auto;

      .app-display-table {
        line-height: 22px;
        display: table;
        width: 100%;

        a {
          display: table-cell;
          width: 18px;
        }

        .app-facet-item {
          display: table-cell;
        }
      }
      

      .mat-icon {
        &:hover {
          color: var(--app-color-warning);
        }
      }
    }
  }
}