// --- GLOBAL ---

@import './app-mixins';
@import './app-variables-old';

a {
  cursor: pointer;
  text-decoration: none;
  color: $app-primary-color;

  &:hover {
    color: darken($app-primary-color, 10);
    text-decoration: none;
  }

  &.app-icon-inside {
    .mat-icon {
      vertical-align: middle;
    }
  }

  &.app-disabled-link {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
  }
}

// cleaners
.app-cleanfix {
  @include cleanfix();
}

.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

// colors
.app-color-warning {
  color: $app-color-warning !important;
}

.app-color-info {
  color: $app-color-info !important;
}

.app-color-fav {
  color: $app-color-fav !important;
}

// common
.app-pipe {
  border-left: 1px solid $app-gray-4;
  margin: 0 calc(#{$app-gap} / 2);

  &:last-child {
    display: none;
  }
}

.app-comma {
  &:last-of-type {
    display: none;
  }
}

.app-cursor-pointer {
  cursor: pointer;
}

.app-row-gap-8 {
  margin-bottom: calc(#{$app-gap} / 2) !important;
}

.app-row-gap-16 {
  margin-bottom: $app-gap !important;
}

.app-row-gap-32 {
  margin-bottom: calc(2 * #{$app-gap}) !important;
}

.app-full-width {
  width: 100% !important;
}

.app-d-inline-flex {
  display: inline-flex;
}

.app-font-bold {
  font-weight: 700;
}

.app-gap-icon-right {
  margin-right: $app-gap-icon;
}

.app-gap-icon-left {
  margin-left: $app-gap-icon;
}

.app-gap-button-right {
  margin-right: calc(#{$app-gap} / 2);
}

.app-icon-18 {
  @include setIcon(18, $position: text-bottom);
}

.app-rotate-up {
  .mat-icon {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }
}

.app-rotate-down {
  .mat-icon {
    transition: all 0.4s ease;
    transform: rotateZ(0deg);
  }
}

.app-facets,
.app-result-item {
  @include setEntityColor(ico);
}

.app-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
}

.app-list-inside {
  @extend .app-clean-mg;
  padding-left: 20px;
}

.app-truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.app-split-text {
  word-break: break-all;
  /* max-width: 1px;
  min-width: 1000px;
  .app-text-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
  } */
}

.app-oh {
  overflow: hidden;
}

.app-oa-y {
  overflow-y: auto;
}

.app-count {
  color: $app-gray-6;
  font-size: 14px;
  margin-left: calc(16px / 2);
}

.app-icon-ap {
  margin-left: $app-gap-icon;

  img {
    height: 12px;
  }
}

.app-btn-op-dropdown {
  vertical-align: text-bottom;

  &.app-in-facet-dynamic {
    margin-right: 8px !important;
    align-self: center;

    .app-badge-op {
      @extend .app-clean-mg;
    }
  }
  
  .mat-icon {
    color: $app-accent-color !important;
  }
}

.app-badge-op {
  display: inline-flex;
  margin-right: $app-gap-half;
  font-size: 10px !important;
  font-weight: 500;
  color: $app-color-lightnes !important;
  width: 28px;
  justify-content: center;
  border-radius: 4px;
  height: 17px;
  align-items: center;
  vertical-align: sub;

  .mat-icon {
    @extend .app-clean-mg;
    @include setIcon(14, $app-color-lightnes);
  }

  &.or {
    background-color: $app-badge-or;
  }

  &.and {
    background-color: $app-badge-and;
  }

  &.not {
    background-color: $app-badge-not;
  }

  &.app-in-facet-dynamic {
    vertical-align: text-top;
  }
}

.app-thumb {
  img {
    vertical-align: middle;
  }
}

// font
.app-font-family-rc {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.grecaptcha-badge { 
  visibility: hidden !important; 
}

.app-loading-progress {
  width: 100%;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.app-small-icon {
  position: absolute;
  font-size: 14px;
  height: 14px ;
  width: 14px ;
}

.enable-button {
  width: 105px !important;
  padding-left: 10px;
}

.map-pin{
  width:12px; 
  height:20px;
  background-image:url("/assets/img/pin.png");
  background-size: 12px 20px;
  left: -6px;
  top: -20px;
}

.map-pin-hit{
  width:12px; 
  height:20px;
  background-image:url("/assets/img/pin-hit.png");
  background-size: 12px 20px;
  left: -6px;
  top: -20px;
}

.map-pin-point{
  width:12px; 
  height:20px;
  background-image:url("/assets/img/pin-point.png");
  background-size: 12px 20px;
  left: -6px;
  top: -20px;
}

.map-pin-hit-point{
  width:12px; 
  height:20px;
  background-image:url("/assets/img/pin-hit-point.png");
  background-size: 12px 20px;
  left: -6px;
  top: -20px;
}