// --- TOOLBAR ---

.app-toolbar {
  .app-action-links {
    .mat-icon {
      @include setIcon($position: bottom);
    }
  }

  @media only screen and (max-width: 1200px) {
    flex-wrap: wrap;

    .app-action-links {
      @include setIcon($position: bottom);
      padding: 16px 0 0 16px;
    }

    .app-action-links,
    .app-paginator {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
    }

    .mat-mdc-paginator-container {
      justify-content: start;
    }
  }

  @media only screen and (min-width: 960px) and (max-width: 1060px),
  screen and (max-width: 680px) {
    .app-paginator-wrapper {
      flex-wrap: wrap;

      .mat-mdc-paginator {
        flex: 0 0 100% !important;
      }

      .mat-mdc-form-field {
        &.app-page-num {
          margin-left: 16px;
        }
      }
    }
  }
}