// --- MIXINS ---

@use "app-vars-entity-color" as *;

// set entity color
@mixin setEntityColor($type) {
  @each $entity, $color in $entities {
    @if ($type == card) {
      &.app-entity-#{$entity} {
        border-left: 4px solid #{$color} !important;
      }   
    }
    @else if ($type == cardInfoBadge) {
      &.app-entity-#{$entity} {
        color: $color !important;
      }   
    }
  }
}