// --- PRINT STYLE ---


@import './app-mixins';
@import './app-variables-old';

@media print {
  body, 
  main {
    height: auto !important;
  }

  header,
  footer {
    display: none;
  }

  main,
  .mat-drawer-container {
    background-color: transparent !important;
  }
  .noprint {
    display: none !important;  
  }  

  .mat-mdc-card {
    box-shadow: none !important;

    &.app-entity-dokument,
    &.app-entity-projekt,
    &.app-entity-akce,
    &.app-entity-lokalita,
    &.app-entity-samostatny_nalez,
    &.app-entity-knihovna_3d {
      border-left: 0 !important;
    }
    
    &:not(.app-card-info) {
      padding: 0 !important;
    }

    .mat-mdc-card-content {
      .mat-expansion-panel {
        .mat-expansion-panel-header {
          border: 1px solid $app-gray-4;
        }
  
        &.app-panel-inner {
          .mat-expansion-panel-header {
            border: none !important;
          }
        }
  
        .mat-expansion-panel-body {
          .mat-mdc-card-header {
            width: 100%;
          }
        }

        &.app-panel-souvisejici-zaznamy {
          .mat-expansion-panel-content {
            max-height: unset !important;
            overflow-y: unset !important;
          }
        }
      }
    }

    .app-filter-badge {
      .mat-icon {
        display: none !important;  
      }  
    }

    .mat-mdc-card-actions {
      display: none !important;
    }

    &.app-card-info {
      border: 1px solid $app-gray-3;
      margin-bottom: $app-gap;
      background-color: transparent !important;

      .mat-mdc-card-content {
        color: $app-gray-6 !important;

        a {
          color: $app-gray-6 !important;
        }
      }
    }
  }
}

