// --- VARIABLES ---

:root {
  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;
  --app-color-primary: #0d47a1;
  --app-color-primary-darker-rgb: rgba(9,50,114);
  --app-color-accent: #ff4081;
  --app-color-lightnes: #ffffff;
  --app-color-darknes: #000000;
  --app-color-warning: #f44336;
  --app-color-info: #ff6f00;
  --app-color-fav: #f9a825;

  // operators
  --app-color-badge-or: #00897b;
  --app-color-badge-and: #8e24aa;
  --app-color-badge-not: var(--app-color-warning);

  // gray pallete
  --app-color-gray-0: #FAFAFA;
  --app-color-gray-1: #F5F5F5;
  --app-color-gray-2: #EEEEEE;
  --app-color-gray-3: #E0E0E0;
  --app-color-gray-4: #BDBDBD;
  --app-color-gray-5: #9E9E9E;
  --app-color-gray-6: #757575;
  --app-color-gray-7: #616161;
  --app-color-gray-8: #424242;
  --app-color-gray-9: #212121;

  --app-default-border-radius: 4px;

  // mobile
  --app-mobile-action-toolbar-height: 46px; 

  // custom
  --app-navbar-height: 80px;

  // layout
  --app-gap-icon: 5px;
  --app-gap-button: 8px;
  --app-gap-map: 12px;
  --app-gap-top-card-info: 52px;
  --app-container: 1280px;
  --app-border-radius: 4px;
  --app-component-height: 40px;

}


// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// icon size
$iconSize: (
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "18": 18,
  "19": 19,
  "20": 20,
  "21": 21,
  "22": 22,
  "23": 23,
);

// entity colors
$entities: (
  "dokument": #5882c4,
  "projekt": #F39225,
  "akce": #247e4b,
  "lokalita": #951E7A,
  "samostatny_nalez": #85140E,
  "knihovna_3d": #778e98,
  "let":  #15968c,
  "ext_zdroj": #E7302A
);