// --- LAYOUT ---

@use "app-mixins-icon" as *;
@use "app-variables-old" as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 14px; 
}

// sidenav
mat-sidenav-container, 
mat-sidenav-content, 
mat-sidenav {
  height: 100%;
}
 
mat-sidenav {
  @import "./app-sidenav-list";
  width: 250px;
}

// main wrapper
main {
  background-color: var(--app-color-gray-1);

  @import "./app-results";
  @import "./app-stats";
  @import "./app-result-item";
  @import "./app-mapa";
  @import "./app-export";
  //@import "./app-facets";
  @import "./app-sidenav-container";
}

@import "./app-footer";

// display table layout
.app-display-table {
  display: block;
  width: calc(100% - (16px * 2)) !important;
  height: inherit;
  min-height: calc(100% - #{$app-footer-height});

  // for view map resize container
  .app-view-map & {
    width: 100% !important;
    position: relative;

    .app-map {
      height: 100%;
    }
  }

  &.app-loading {
    width: 100% !important;
    height: auto;
    min-height: auto;
  }

  .app-table-cell {
    display: block;
    padding: 32px 0; // _pridano

    .app-view-map & {
      padding: 0;
    }

    &.app-left {
      width: 100%;

      @media #{$gt-sm} {
        padding-right: 32px;
      }

      @media #{$lt-md} {
        padding: 16px0 0 0;
      }
    }

    &.app-right {
      padding-bottom: 16px;
      
      @media #{$lt-md} {
        padding-top: 0;
      }
    }
  }
}

// container
.app-container {
  margin: 0 auto;
  max-width: var(--app-container);
  width: 100%;

  &.app-fluid {
    max-width: 100%;
  }

  // for view map resize container
  .app-view-map & {
    max-width: 100%;
  }
}

// mq
@media #{$gt-sm} {
  .app-display-table {
    display: table;
    height: calc(100% - #{$app-footer-height});

    .app-table-cell {
      display: table-cell;
      padding: calc(2 * 16px) 0;
      vertical-align: top;

      // for view map resize container
      /* .app-view-map & {
        padding: 0;
      } */

      &.app-left {
        width: $app-table-cell-left-width;
      }
    }
  }
}

// --- fxHide FIX (using own class instead fx attributs) -> https://github.com/angular/flex-layout/issues/1228 ---
@media #{$md} {
  .fxHide_md {
    display: none !important;
  }
}

@media #{$sm} {
  .fxHide_sm {
    display: none !important;
  }
}

@media #{$xs} {
  .fxHide_xs {
    display: none !important;
  }
}

@media #{$gt-md} {
  .fxHide_gt-md {
    display: none !important;
  }
}

@media #{$gt-sm} {
  .fxHide_gt-sm {
    display: none !important;
  }
}

@media #{$gt-xs} {
  .fxHide_gt-xs {
    display: none !important;
  }
}

