// --- ADV SEARCH ---


@use "./app-mixins-icon";
@use "./app-variables-old";

app-adv-search {
  .app-add-condition {
    .mat-icon {
      @include app-mixins-icon.setIcon($position: bottom);
    }
  }
}