.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header header"
      "nav    content"
      "nav    content"
      "footer footer";
  }
  nav ul {
    flex-direction: column;
  }

  #sidebar {
    grid-area: content;
    position: relative;
    left: 0;
  }
  
  #sidebar.collapsed {
    left: -100%;
  }
  
}