// --- SIDENAV LIST ---
@import './app-mixins';
@import './app-variables-old';

app-sidenav-list {
  .mat-mdc-list-item {
    background-color: transparent !important;

    &.app-active {
      color: var(--app-primary-color);
      background-color: var(--app-color-gray-1) !important;
      font-weight: bold;
      border-radius: 0;
    }

    .mat-icon {
      @include setIcon(20, inherit, sub);
      margin-right: var(--app-gap-icon);
    } 
  }
}