// --- SEARCHBAR ---

app-stats {
  // searchbar
  .app-searchbar-wrapper {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: var(--app-searchbar-height);
    position: relative;
    z-index: 1002;
    background: var(--app-color-lightnes) url('/src/assets/img/bg-hatching.png') repeat;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.07);

    .mat-mdc-form-field {
      min-width: 300px;
      
      &.mat-mdc-form-field-appearance-fill {
        .mat-mdc-form-field-wrapper {
          margin-bottom: -1.3437em;

          .mat-mdc-form-field-flex {
            @extend .app-clean-pd !optional;
            border-radius: var(--app-border-radius);
            background-color: var(--app-color-lightnes);
            border: 1px solid var(--app-color-gray-4);
            padding-left: 16px!important;
            align-items: center;

            .mat-mdc-form-field-suffix {
              .mat-icon {
                margin-top: 3px;
              }
            }
          }

          .mat-mdc-form-field-underline {
            &:before {
              background-color: transparent;
            }

            .mat-mdc-form-field-ripple {
              background-color: transparent;
            } 
          }
        }
      }

      &.mat-focused {
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);

        .mat-mdc-form-field-ripple {
          background-color: transparent;
        }
      }
    }
  }

  // graph
  .app-graph-wrapper {
    .app-left {
      @extend .app-pr-4 !optional;

      h3 {
        @extend .app-mb-0 !optional;
        font-size: 16px !important;
        font-weight: 700 !important;
      }

      .mat-mdc-list {
        .mat-mdc-list-item {
          &.app-active {
            background-color: var(--app-color-gray-1);
            font-weight: bold;
          }
        }
      }
    }

    .app-right {
      .app-graph {
        @extend .app-pt-2 !optional;
        background-color: var(--app-color-gray-1);

        // & > div {
        //   width: 100% !important;
        // }
      }
    } 
  }

  // cards
  .app-cards-wrapper {
    flex-wrap: wrap;
    
    @extend .app-ml-n2, .app-mr-n2 !optional;
    
    .mat-mdc-card {
      @extend .app-mb-4, .app-ml-2, .app-mr-2 !optional;
      min-height: 400px;
    }
  }
  
  // responsive behavior
  @media #{$lt-md} {
    .app-searchbar-wrapper {
      .app-search-form {
        .mat-mdc-form-field {
          min-width: 195px !important;
  
          .mat-mdc-form-field-infix {
            width: 100px;
          }
        }
      }
    }
  }

  @media #{$lt-sm} {
    .app-searchbar-wrapper {
      .app-search-form {
        .mat-mdc-form-field {
          min-width: 160px !important;
  
          .mat-mdc-form-field-infix {
            width: 80px;
          }
        }

        .mat-flat-button {
          min-width: auto !important;
          padding-left: 8px;
          padding-right: 8px;

          .app-text {
            display: none;
          }
        }
      }
    }

    .app-graph-wrapper {
      display: block !important;

      .app-left {
        padding-right: 0 !important;
        margin-bottom: 16px;
      }
    }
  }

  @media only screen and (min-width: 1044px) {
    .app-cards-wrapper {
      .app-ident {
        flex: 1 1 100% !important;
        max-width: 50% !important;
      }
    }
  }

  @media only screen and (max-width: 440px) {
    .app-searchbar-wrapper {
      .app-search-form {
        .mat-mdc-form-field {
          min-width: 130px !important;
          margin-right: 8px !important;

          .mat-mdc-form-field-wrapper {
            .mat-mdc-form-field-flex {
              padding-left: 8px !important;
              padding-right: 4px !important;

              .mat-mdc-form-field-infix {
                width: 60px;
              }
    
              .mat-mdc-form-field-suffix {
                .mat-icon-button {
                  width: 20px !important;
                  height: 20px !important;
                  padding: 0 !important;
    
                  svg {
                    width: 18px;
                    height: 18px;
                  }
    
                  .mat-icon {
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}