// --- MATERIAL OVERRIDE ---
@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme-colors' as my-theme;
@use 'app-vars-entity-color' as *;


// set entity color
@mixin setFacetEntityColor() {
  @each $entity, $color in $entities {
    &.#{$entity} {
      color: $color;
      background-color: rgba($color, .1);
      border-color: rgba($color, .3);

      &.app-active {
        background-color: $color;
      }

      &:hover {
        background-color: $color;
      }

      &:not(.app-active, :hover) {
        .mdc-list-item__primary-text {
          color: $color;
        }
      }
    
      .app-left {
        background-color: $color;
      }
    }    
  }
}


:root {
  // --- TOLBAR ---
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--app-color-lightnes),
    title-text-size: 14px,
    //standard-height: 80px
  ));


  // --- LIST ---
  @include mat.list-overrides((
    //list-item-hover-label-text-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    list-item-label-text-tracking: 0,
    list-item-label-text-color: var(--app-color-gray-6),
    list-item-one-line-container-height: auto
  ));
  .app-list-item-default {
    padding: 0 8px;

    @include mat.list-overrides((
      list-item-one-line-container-height: 22px
    ));
  }
  .app-facet-entity {
    @include setFacetEntityColor();
    @include mat.list-overrides((
      list-item-container-shape: var(--app-default-border-radius),
      list-item-label-text-color: var(--app-color-lightnes),
      list-item-hover-label-text-color: var(--app-color-lightnes),
      list-item-one-line-container-height: var(--app-facet-entity-height),
      list-item-label-text-tracking: 0,
      list-item-label-text-weight: 400,
      list-item-label-text-font: 'Roboto Condensed, sans-serif'
    ));

    padding: 0;
    margin-bottom: 8px;
    border: 1px solid;

    .mdc-list-item__content {
      align-self: unset;
    }

    .app-left {
      padding: 0 12px;

      .mat-icon {
        color: var(--app-color-lightnes) !important;
      }
    }

    .app-right {
      padding: 0 12px;
    }
  }


  // --- FORM FIELD ---
  @include mat.form-field-overrides((
    container-height: 40px,
    container-vertical-padding: 8px,
    container-text-size: 14px,
    container-text-tracking: 0,
    outlined-outline-color: var(--app-color-gray-3),
    subscript-text-line-height: 0px
  ));
  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: var(--app-color-lightnes);   
    }
    .mat-mdc-form-field-infix {
      width: auto;
    }
    .mat-mdc-form-field-subscript-wrapper {
      line-height: 0;
      height: 0;
    }
  } 
  

  // --- SELECT ---
  @include mat.select-overrides((
    panel-background-color: var(--app-color-lightnes),
    trigger-text-size: 12px,
  ));


  // --- DATE PICKER ---
  @include mat.datepicker-overrides((
    calendar-container-shape: var(--app-default-border-radius),
    calendar-container-elevation-shadow: var(--mat-select-container-elevation-shadow, 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)),
    calendar-container-background-color: var(--app-color-lightnes),
  ));


  // --- PROGRESS BAR ---
  @include mat.progress-bar-overrides((
    active-indicator-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    track-color: #{map.get(map.get(my-theme.$primary-palette, error),10)}
  ));


  // --- BUTTON ---
  @include mat.button-overrides((
    filled-container-shape: 3px,
    protected-container-shape: 3px,
    outlined-container-shape: 3px
  ));
  .app-btn-facet {
    @include mat.button-overrides((
      filled-container-height: 28px
    ));
  }
  .app-btn-accent {
    @include mat.button-overrides((
      filled-container-color: var(--app-color-accent)
    ));
  }


  // --- EXPANSION PANEL ---
  @include mat.expansion-overrides((
    container-shape: 0px,
    container-background-color: transparent,
    container-elevation-shadow: none,
    header-text-size: 15px,
    header-text-line-height: auto,
    header-text-tracking: 0
  ));
  .mat-expansion-panel {
    border-bottom: 1px solid var(--app-color-gray-3);

    .mat-expansion-panel-header {
      padding: 0 16px;
    }

    .mat-expansion-panel-body {
      padding: 0 8px 16px;
    }
  }


  // --- CARD ---
  @include mat.card-overrides((
    elevated-container-shape: 3px,
    elevated-container-color: var(--app-color-lightnes), 
    title-text-font: 'Roboto Condensed, sans-serif',
    title-text-size: 16px,
    title-text-weight: 700,
    title-text-line-height: 20px,
    title-text-tracking: 0,
    subtitle-text-font: 'Roboto Condensed, sans-serif',
    subtitle-text-size: 14px,
    subtitle-text-color: var(--app-color-gray-6),
    subtitle-text-weight: 400,
    subtitle-text-tracking: 0,
  ));


  // --- MENU ---
  @include mat.menu-overrides((
    container-shape: 3px,
    container-color: var(--app-color-lightnes)
  ));
  .mat-mdc-menu-panel {
    min-width: 100%;
    max-width: 100%;
  }


  // --- PAGINATOR ---
   @include mat.paginator-overrides((
    container-background-color: transparent,
  ));
}







@for $i from 0 through 5 {
  mat-card.mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}


// dialog
.mat-mdc-dialog-container {
  .mat-mdc-dialog-title {
    margin: 0;
    padding: 0 16px 8px 16px;
  }

  .mat-mdc-dialog-content {
    padding: 16px !important;
  }

  .mat-mdc-dialog-actions {
    padding: 0 16px 16px 16px !important;
  }
}