// --- MAT OVERRIDE ---

@use "app-mixins-entity-color";
@use 'app-variables';

@import './app-mixins';
@import './app-variables-old';

// toolbar
.mat-toolbar {
  font-size: inherit;
}

// card
.mat-mdc-card {
  @include app-mixins-entity-color.setEntityColor(card);

  .app-link-close {
    position: absolute;
    top: $app-gap;
    right: $app-gap;

    color: var(--app-color-darknes);

    &:hover {
      color: rgba(var(--app-color-darknes-rgb), .7);
    }
  }

  .mat-mdc-card-header {
    .app-last-change {
      font-size: 12px;
      color: var(--app-color-gray-6);
      font-weight: normal;
    }

    .mat-mdc-card-header-text {
      @extend .app-clean-mg, .app-w-100 !optional;

      .mat-icon {
        margin-right: $app-gap-icon;
        vertical-align: bottom;
      }

      .mat-mdc-card-title {
        font-size: $app-card-title-font-size;
        font-weight: 700;

        .app-count {
          font-weight: normal;
          color: var(--app-color-gray-5);
        }
      }
    }
  }

  .mat-mdc-card-content {
    .app-metadata {
      .mat-icon {
        @include setIcon(18);
        @extend .app-clean-mg !optional;
      }
    }

    // specific behavior for expansion panel in first level of card
    .app-card-detail {
      margin-top: $app-gap-half;

      &>.mat-accordion {
        &> :not(.mat-expansion-panel-spacing) {
          &:not(:last-child) {
            margin-bottom: 2px;
          }
        }
      }
    }

    // general expansion panel behavior of card
    .mat-expansion-panel {
      @extend .mat-elevation-z0 !optional;

      &.app-panel-souvisejici-zaznamy {
        .mat-expansion-panel-content {
          max-height: 635px;
          overflow-y: auto;

          .mat-expansion-panel-body {
            $val: calc(2 * #{$app-gap});

            .app-related-item {
              display: block;

              &:last-child {
                .app-card-child {
                  border-bottom: none !important;
                  margin-bottom: -16px !important;
                }
              }
            }
          }
        }
      }

      &.virtual {
        .mat-expansion-panel-content {
          .mat-expansion-panel-body {
            padding: 16px 0;
          }
        }
      }



      &.mat-expansion-panel-spacing {
        @extend .app-clean-mg !optional;
      }

      &.app-panel-inner {
        .mat-expansion-panel-header {
          @extend .app-clean-bg, .app-clean-pd !optional;
          margin-top: 4px;

          .mat-expansion-panel-header-title {
            color: var(--app-color-gray-9);
            flex-wrap: wrap;

            .mat-icon {
              @include setIcon($size: 20);
            }
          }
        }

        .mat-expansion-panel-content {
          .mat-expansion-panel-body {
            /* padding-top: 2px;
            padding-bottom: 0; */
            padding: 2px 20px 0px 20px; // issue #44
          }
        }
      }

      .mat-expansion-panel-header {
        background-color: var(--app-color-gray-1)  !important;
        flex-direction: row-reverse;

        .mat-expansion-indicator {
          margin-right: $app-gap;
        }
      }

      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding-top: $app-gap;

          .mat-icon {
            @include setIcon($size: 20, $position: text-bottom);
          }

          table {
            border-spacing: 0;

            th,
            td {
              vertical-align: top;
            }

            th {
              padding-left: 0;
              text-align: left;
              padding-right: $app-gap-icon;
              min-width: 130px;
            }
          }
        }
      }
    }
  }

  .mat-mdc-card-actions {
    @extend .app-clean-mg !optional;
    padding-top: 0;

    .mat-mdc-button-base {
      &:not(:first-child) {
        margin: 0 0 0 $app-gap-button;
      }

      &.mat-flat-button {
        background-color: var(--app-color-gray-1);

        a {
          display: inline-flex;
          color: currentColor;
        }
      }

      @media #{$lt-sm} {
        margin-bottom: 8px !important;
      }
    }

    @media #{$lt-sm} {
      margin-bottom: -8px !important;
    }

    @media #{$lt-lg} {
      flex-wrap: wrap;

      .app-metadata {
        margin-bottom: 8px;
      }

      &>div {
        flex: 0 0 100%;
      }
    }
  }

  &.app-card-info {
    background-color: $app-card-info-bg;

    .mat-mdc-card-content {
      color: var(--app-color-info);

      .app-text {
        vertical-align: super;
        font-weight: bold;
      }

      .app-info-badge {
        @include app-mixins-entity-color.setEntityColor(cardInfoBadge);

        .mat-icon {
          margin-right: $app-gap-icon;
          @include setIcon(18, inherit, bottom);
        }
      }
    }
  }

  &.app-card-child {
    @extend .app-clean-shadow, .app-clean-radius !optional;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--app-color-gray-3);
  }
}

// table
.mat-table {
  width: 100%;
}


// expansion panel
.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-weight: 700;
  }

  .mat-mdc-list-item-content {
    .mat-icon {
      &:not(.app-icon-op) {
        @include setIcon(18, $position: bottom);
        color: var(--app-color-primary-darker-rgb);
      }
    }
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-body {
    .app-facets & {
      padding-left: $app-gap;
      padding-right: $app-gap;
    }
  }
}


// mat list
.mat-mdc-list {
  .mat-subheader {
    font-size: 15px;
  }

  .mat-mdc-list-item {
    .mat-icon {
      &:not(.app-icon-op) {
        margin-right: $app-gap-icon  !important;
      }
    }
  }

  .mat-icon {
    &:not(.app-icon-op) {
      @include setIcon(18, $position: text-top);
    }
  }

  &.app-list-view-facet {
    .mat-mdc-list-item {
      height: $app-list-view-facet-item-height;
      color: $app-list-view-facet-item-color;

      a {
        &:hover {
          color: var(--app-color-primary-darker-rgb);
        }
      }
    }
  }

  &.app-list-view-admin {
    @extend .app-clean-pd !optional;

    .mat-mdc-list-item {
      height: $app-list-view-facet-item-height;

      .mat-mdc-list-item-content {
        @extend .app-clean-pd !optional;

        .mat-icon {
          color: var(--app-color-warning);
        }
      }

      &:hover {
        color: var(--app-color-primary-darker-rgb);
      }
    }
  }
}


// mat tree
.mat-tree {
  @extend .app-clean-bg !optional;
  margin-left: -5px;

  .mat-tree-node {
    min-height: $app-list-view-facet-item-height;
    color: $app-list-view-facet-item-color;
    font-size: initial;

    a {
      color: $app-list-view-facet-item-color;

      &:hover {
        color: var(--app-color-primary-darker-rgb);
      }
    }

    .mat-icon-button {
      width: $app-list-view-facet-item-height;
      height: $app-list-view-facet-item-height;
      line-height: $app-list-view-facet-item-height;
      margin-right: $app-gap-icon;
    }

    .mat-checkbox {
      margin-right: $app-gap-icon;
    }
  }
}


// dialog
.cdk-overlay-container {
  z-index: 1099;
}


// ident badge
.app-ident-badge {
  margin-right: 2px;
  color: var(--app-color-gray-9);

  .mat-icon {
    $size: 18;
    font-size: #{$size}px !important;
    height: #{$size}px !important;
    width: #{$size}px !important;
    vertical-align: sub !important;
    color: $app-badge-color;

    .mat-mdc-card-title & {
      @extend .app-clean-mg !optional;
    }
  }

  &:hover {
    text-decoration: underline;
    color: $app-badge-color;
  }

  &.app-inbody {
    &:not(:hover) {
      color: currentColor;
    }
  }
}

// ident format (in map view - result list)
.app-ident-format {
  word-break: break-all;
}

// filter badge
.app-filter-badge {
  color: currentColor;

  .mat-icon {
    $size: 18;
    font-size: #{$size}px !important;
    height: #{$size}px !important;
    width: #{$size}px !important;
    vertical-align: sub !important;
    color: $app-badge-color;

    .mat-mdc-card-title & {
      @extend .app-clean-mg !optional;
    }
  }

  &:hover {
    text-decoration: underline;
    color: $app-badge-color;
  }
}

// in facets used
.app-and-separator {
  span {
    font-size: 13px;
    color: var(--app-color-gray-5);
    margin-left: 25px;
  }
}

// mat-menu-panel
.mat-menu-panel {
  max-width: 320px !important;
}

// mat form field
.mat-mdc-form-field {
  &.mat-mdc-form-field-appearance-fill {
    .mat-mdc-form-field-infix {
      padding: 0.25em 0 0.75em 0;
      padding: 0.1em 0 0.65em 0;
    }
  }
}

// tooltip
.mat-mdc-tooltip {
  font-size: 14px !important;
}