// --- FACETS SEARCH  ---

app-facets-search {
  .mat-mdc-card {
    @extend .app-clean-bg !optional;
    @include set-border(bottom, 1, solid, #{$app-gray-3});

    .mat-mdc-card-content {
      .mat-mdc-form-field {
        &.mat-mdc-form-field-appearance-fill {
          .mat-mdc-form-field-wrapper {
            margin-bottom: -1.3437em;
  
            .mat-mdc-form-field-flex {
              @extend .app-clean-pd !optional;
              border-radius: $app-border-radius;
              background-color: $app-color-lightnes;
              border: 1px solid $app-gray-4;
              padding-left: $app-gap !important;
              align-items: center;

              .mat-mdc-form-field-suffix {
                margin-right: $app-gap-icon;
                
                .mat-icon {
                  margin-top: 3px;
                }
              }
            }
  
            .mat-mdc-form-field-underline {
              &:before {
                background-color: transparent;
              }
  
              .mat-mdc-form-field-ripple {
                background-color: transparent;
              } 
            }
          }
        }

        &.mat-focused {
          box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);

          .mat-mdc-form-field-ripple {
            background-color: transparent;
          }
        }
      }
    }
  }
}