// --- VARIABLES ---

// css variables
:root {

  // elements
  --app-mobile-action-toolbar-height: 46px; 
}


// theme colors
$app-primary-color-darker: rgba(9,50,114);

// base colors
$app-color-lightnes: #ffffff !default;
$app-color-darknes: #000000 !default;
$app-primary-color: #0d47a1;
$app-accent-color: #ff4081;
$app-color-lightnes: #ffffff !default;
$app-color-darknes: #000000 !default;
$app-color-warning: #f44336 !default;
$app-color-info: #ff6f00 !default;
$app-color-fav: #f9a825 !default;

// gray palette
  $app-gray-0: #FAFAFA;
  $app-gray-1: #F5F5F5;
  $app-gray-2: #EEEEEE;
  $app-gray-3: #E0E0E0;
  $app-gray-4: #BDBDBD;
  $app-gray-5: #9E9E9E;
  $app-gray-6: #757575;
  $app-gray-7: #616161;
  $app-gray-8: #424242;
  $app-gray-9: #212121;

// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// entity colors
$entities: (
  "dokument": #5882c4,
  "projekt": #F39225,
  "akce": #247e4b,
  "lokalita": #951E7A,
  "samostatny_nalez": #85140E,
  "knihovna_3d": #778e98,
  "let":  #15968c,
  "ext_zdroj": #E7302A
);

// operators
$app-badge-or: #00897b !default;
$app-badge-and: #8e24aa !default;
$app-badge-not: $app-color-warning !default;

// layout
$app-gap: 16px !default;
$app-gap-half: calc(#{$app-gap} / 2) !default;
$app-gap-double: calc(#{$app-gap} * 2) !default;
$app-gap-icon: 5px !default;
$app-gap-button: 8px !default;
$app-gap-map: 12px !default;
$app-gap-top-card-info: 52px !default;
$app-container: 1280px !default;
$app-border-radius: 4px !default;
$app-component-height: 40px !default;

// navbar
$app-navbar-height: 80px !default; // 108 puvodni
$app-navbar-color: $app-gray-6 !default;
$app-navbar-bg-color: $app-color-lightnes !default;
$app-navbar-link-color: $app-navbar-color !default;
$app-navbar-active-color: $app-primary-color !default;

// searchbar
$app-searchbar-height: 90px !default; // 110 puvodni
$app-searchbar-field-height: $app-component-height !default;
$app-searchbar-field-max-width: 640px !default;
$app-searchbar-field-color: $app-color-darknes !default;
$app-searchbar-field-bg: $app-color-lightnes !default;
$app-searchbar-field-icon-gap: calc(#{$app-gap-icon} * 2) !default;

// main
$app-table-cell-left-width: 350px !default;
$app-main-bg-color: $app-gray-1 !default;

// list
$app-list-view-facet-item-height: 22px !default;
$app-list-view-facet-item-color: $app-gray-6 !default;

// facet entities
$app-facet-entity-height: $app-component-height !default;
$app-facet-entity-border-color-opacity: .3 !default;
$app-facet-entity-bg-color-opacity: .1 !default;

// footer
$app-footer-height: 200px !default;
$app-footer-color-bg: $app-gray-8 !default;
$app-footer-color: rgba($app-color-lightnes, .6) !default;

// components
$app-button-line-height: 34px !default;

// card
$app-card-info-bg: #fff8e1 !default;
$app-card-title-font-size: 16px !default;

// global
$app-badge-color: $app-accent-color !default;

// mq break point
$xxs: 'only screen and (min-width: 400px) and (max-width: 599px)';
$xs: 'only screen and (max-width: 599px)';
$sm: 'only screen and (min-width: 600px) and (max-width: 959px)';
$md: 'only screen and (min-width: 960px) and (max-width: 1279px)';
$lg: 'only screen and (min-width: 1280px) and (max-width: 1919px)';
$xl: 'only screen and (min-width: 1920px) and (max-width: 5000px)';

$lt-sm: 'only screen and (max-width: 599px)';
$lt-md:	'only screen and (max-width: 959px)';
$lt-lg:	'only screen and (max-width: 1279px)';
$lt-xl:	'only screen and (max-width: 1919px)';

$gt-xs:	'only screen and (min-width: 600px)';
$gt-sm:	'only screen and (min-width: 960px)';
$gt-md:	'only screen and (min-width: 1280px)';
$gt-lg:	'only screen and (min-width: 1920px)';
