// entity colors
$entities: (
  "dokument": #5882c4,
  "projekt": #F39225,
  "akce": #247e4b,
  "lokalita": #951E7A,
  "samostatny_nalez": #85140E,
  "knihovna_3d": #778e98,
  "let":  #15968c,
  "ext_zdroj": #E7302A
);