// --- MIXINS ---
@use "sass:map";
@use 'app-vars' as *;

// set alert card
@mixin setAlertCard() {
  @each $alert, $item in $alerts {
    &.app-#{$alert} {
      color: map.get( $item , color );
      background-color: map.get( $item , bg );
      border-color: map.get( $item , border );
    }
  }
}