// --- PAGINATOR ---

app-paginator {
  .mat-mdc-paginator {
    .mat-mdc-paginator-range-label {
      margin: 0 10px;
    }
  }

  .app-page-num {
    font-size: 12px;
    margin-right: $app-gap;

    .mat-mdc-form-field-suffix {
      a {
        color: var(--app-color-gray-6);

        .mat-icon {
          @include setIcon($size: 14, $position: bottom)
        }   
      }  
    }
  }

  .app-sorting {
    font-size: 12px;
  }
}