// --- MAP ---

.app-map {
  .leaflet-control-container {
    .leaflet-left {
      //top: 0;
      //right: 52px;
      // left: unset !important;
      //z-index: 1003;

      .leaflet-control {
        display: inline-block;
        float: none;
      }

      .leaflet-control-zoom {
        a {
          border-bottom: 0;
          float: left;
          line-height: 26px;

          &:first-child {
            border-right: 1px solid #ccc;
          }
        }
      }

      .location-filter {
        a {
          background-position-x: center;
          background-position-y: 2px;
        }
      }
    }
  }

  .leaflet-right {
    z-index: 1003;

    .leaflet-control {
      .leaflet-control-layers-toggle {
        width: 30px;
        height: 30px;
      }
    }
  }
}
