@use 'sass:map';
@use '@angular/material' as mat;
@use 'app-vars-entity-color' as *;

// set entity color
@mixin setFacetEntityColor() {
  @each $entity, $color in $entities {
    &.#{$entity} {
      color: $color;
      background-color: rgba($color, .1);
      border-color: rgba($color, .3);

      &.app-active {
        background-color: $color;
      }

      &:hover {
        background-color: $color;
      }

      &:not(.app-active, :hover) {
        .mdc-list-item__primary-text {
          color: $color;
        }
      }
    
      .app-left {
        background-color: $color;
      }
    }    
  }
}

:root {
  .app-facet-entity {
    @include setFacetEntityColor();
    @include mat.list-overrides((
      list-item-container-shape: var(--app-default-border-radius),
      list-item-label-text-color: var(--app-color-lightnes),
      list-item-hover-label-text-color: var(--app-color-lightnes),
      list-item-one-line-container-height: var(--app-facet-entity-height),
      list-item-label-text-tracking: 0,
      list-item-label-text-weight: 400,
      list-item-label-text-font: 'Roboto Condensed, sans-serif'
    ));

    padding: 0;
    margin-bottom: 8px;
    border: 1px solid;

    .mdc-list-item__content {
      align-self: unset;
    }

    .app-left {
      padding: 0 12px;

      .mat-icon {
        color: var(--app-color-lightnes) !important;
      }
    }

    .app-right {
      padding: 0 12px;
    }
  }
}


