// --- VARIABLES ---

// searchbar
$app-searchbar-field-height: 40px !default;
$app-searchbar-field-max-width: 640px !default;
$app-searchbar-field-color: var(--app-color-darknes) !default;
$app-searchbar-field-bg: var(--app-color-lightnes) !default;
$app-searchbar-field-icon-gap: calc(var(--app-gap-icon) * 2) !default;

// main
$app-table-cell-left-width: 350px !default;
$app-main-bg-color: var(--app-color-gray-1) !default;

// list
$app-list-view-facet-item-height: 22px !default;
$app-list-view-facet-item-color: var(--app-color-gray-6) !default;

// facet entities
$app-facet-entity-height: 40px !default;
$app-facet-entity-border-color-opacity: .3 !default;
$app-facet-entity-bg-color-opacity: .1 !default;

// footer
$app-footer-height: 200px !default;
$app-footer-color-bg: var(--app-color-gray-8) !default;
$app-footer-color: rgba(var(--app-color-lightnes-rgb), .6) !default;

// components
$app-button-line-height: 34px !default;

// card
$app-card-info-bg: #fff8e1 !default;
$app-card-title-font-size: 16px !default;

// global
$app-badge-color: var(--app-accent-color) !default;

// mq break point
$xxs: 'only screen and (min-width: 400px) and (max-width: 599px)';
$xs: 'only screen and (max-width: 599px)';
$sm: 'only screen and (min-width: 600px) and (max-width: 959px)';
$md: 'only screen and (min-width: 960px) and (max-width: 1279px)';
$lg: 'only screen and (min-width: 1280px) and (max-width: 1919px)';
$xl: 'only screen and (min-width: 1920px) and (max-width: 5000px)';

$lt-sm: 'only screen and (max-width: 599px)';
$lt-md:	'only screen and (max-width: 959px)';
$lt-lg:	'only screen and (max-width: 1279px)';
$lt-xl:	'only screen and (max-width: 1919px)';

$gt-xs:	'only screen and (min-width: 600px)';
$gt-sm:	'only screen and (min-width: 960px)';
$gt-md:	'only screen and (min-width: 1280px)';
$gt-lg:	'only screen and (min-width: 1920px)';
