// --- MIXINS ---

@use "app-vars-entity-color" as *;

// set entity color
@mixin setEntityCardColor() {
  @each $entity, $color in $entities {
    &.app-entity-#{$entity} {
      border-left: 4px solid #{$color} !important;
    }   
  }
}