// --- MATERIAL OVERRIDE ---
@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme-colors' as my-theme;


:root {

  --mat-standard-button-toggle-shape: 1px;

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--app-color-lightnes),
    title-text-size: 14px,
    //standard-height: 80px
  ));


  @include mat.list-overrides((
    list-item-hover-label-text-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    list-item-one-line-container-height: 32px
  ));


  @include mat.form-field-overrides((
    container-height: 40px,
    container-vertical-padding: 8px,
    container-text-size: 14px,
    container-text-tracking: 0,
    outlined-outline-color: var(--app-color-gray-3)
  ));


  .mat-mdc-text-field-wrapper {
    background-color: var(--app-color-lightnes);
  }

  @include mat.progress-bar-overrides((
    active-indicator-color: #{map.get(map.get(my-theme.$primary-palette, error), 50)},
    track-color: #{map.get(map.get(my-theme.$primary-palette, error),10)}
  ));


  @include mat.button-overrides((
    filled-container-shape: 3px,
    protected-container-shape: 3px,
    outlined-container-shape: 3px
  ));


  @include mat.expansion-overrides((
    container-shape: 0px,
    container-background-color: none
  ));


  @include mat.card-overrides((
    elevated-container-shape: 3px,
    elevated-container-color: var(--app-color-lightnes), 
    title-text-font: 'Roboto Condensed, sans-serif',
    title-text-size: 16px,
    title-text-weight: 700,
    title-text-line-height: 20px,
    title-text-tracking: 0,
    subtitle-text-font: 'Roboto Condensed, sans-serif',
    subtitle-text-size: 14px,
    subtitle-text-color: var(--app-color-gray-6),
    subtitle-text-weight: 400,
    subtitle-text-tracking: 0,
  ));


  @include mat.menu-overrides((
    container-shape: 3px,
    container-color: var(--app-color-lightnes)
  ));
  .mat-mdc-menu-panel {
    min-width: 100%;
    max-width: 100%;
  }
}

@for $i from 0 through 5 {
    mat-card.mat-elevation-z#{$i} {
        @include mat.elevation($i);
    }
}

// form field
.mat-mdc-form-field {

  // clear bottom margin
  .mat-mdc-form-field-subscript-wrapper {
    line-height: 0;
    height: 0;
  }
}

// dialog
.mat-mdc-dialog-container {
  .mat-mdc-dialog-title {
    margin: 0;
    padding: 0 16px 8px 16px;
  }

  .mat-mdc-dialog-content {
    padding: 16px !important;
  }

  .mat-mdc-dialog-actions {
    padding: 0 16px 16px 16px !important;
  }
}