// --- FACETS ---

@use "app-mixins-entity-color";
@use 'app-variables';

.app-facets {
  //@import "./app-facets-search";
  //@import "./app-facets-used";
  //@import "./app-facets-date";

  /* background-color: var(--app-color-lightnes);
  border-radius: var(--app-border-radius); */
  
  .mat-expansion-panel {
    @extend .mat-elevation-z0, .app-clean-mg, .app-clean-radius, .app-clean-bg !optional;
    border-bottom: 1px solid var(--app-color-gray-3);

    &.app-scroll {
      &.mat-expanded {
        padding-bottom: 16px;
      }

      .mat-expansion-panel-header {
        .app-count {
          font-weight: normal;
          color: var(--app-color-gray-5);
        }
      }

      .mat-expansion-panel-content {
        /* height: auto;
        max-height: 200px;
        overflow-y: auto; */

        .mat-expansion-panel-body {
          padding-bottom: 0;
        }
      }
    }

    &.app-panel-date-range,
    &.app-panel-year-range,
    &.app-panel-filter-by-field {
      .mat-mdc-card {
        @extend .app-clean-bg, .app-clean-pd !optional;
    
        .mat-mdc-card-content {
          .mat-mdc-form-field {
            &.mat-mdc-form-field-appearance-fill {
              .mat-mdc-form-field-wrapper {
                margin-bottom: -1.3437em;
      
                .mat-mdc-form-field-flex {
                  @extend .app-clean-pd !optional;
                  border-radius: var(--app-border-radius);
                  background-color: var(--app-color-lightnes);
                  border: 1px solid var(--app-color-gray-4);
                  padding-left: 16px!important;
                  align-items: center;
    
                  .mat-mdc-form-field-suffix {
                    .mat-icon {
                      margin-top: 3px;
                    }
                  }
                }
      
                .mat-mdc-form-field-underline {
                  &:before {
                    background-color: transparent;
                  }
      
                  .mat-mdc-form-field-ripple {
                    background-color: transparent;
                  } 
                }
              }
            }
    
            &.mat-focused {
              box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    
              .mat-mdc-form-field-ripple {
                background-color: transparent;
              }
            }
          }

          /* .mat-flat-button {
            &:not(.app-apply-filter) {
              background-color: var(--app-color-gray-2);
            }
          } */
        }
      }
    }

    &.app-panel-year-range,
    &.app-panel-filter-by-field {
      .mat-mdc-form-field-infix {
        width: auto;
      }
    }

    &.app-panel-filter-by-field {
      .mat-mdc-form-field {
        .mat-select {
          .mat-select-arrow-wrapper {
            transform: none;

            .mat-select-arrow {
              margin-right: 10px;
            }
          }
        }
      }

      .app-in-facet-dynamic {
        .mat-icon {
          &:not(.app-icon-op) {
            width: 28px;
          }
        }
      }
    }
  }

  .mat-mdc-list {
    @extend .app-clean-pd !optional;

    a {
      color: inherit;
    }

    &:not(.app-list-used-facet) {
      .mat-mdc-list-item {
        &.app-facet-entity {
          @include app-mixins-entity-color.setEntityColor(facet);
          @extend .app-font-family-rc !optional;
          margin-bottom: 8px;
          border-radius: var(--app-border-radius);
          height: $app-facet-entity-height;

          &:hover {
            @extend .app-cursor-pointer !optional;
          }

          .app-fx-wrapper {
            & > div {
              display: flex;
              align-items: center;
            }

            .app-fx-left {
              border-top-left-radius: var(--app-border-radius);
              border-bottom-left-radius: var(--app-border-radius);
              justify-content: center; 

              .mat-icon {
                @include setIcon(24);
                @extend .app-clean-mg !optional;
              }
            }

            .app-fx-right {
              border-top-right-radius: var(--app-border-radius);
              border-bottom-right-radius: var(--app-border-radius);
              border-right: 1px solid;
              border-top: 1px solid;
              border-bottom: 1px solid;
              padding-left: 16px;

              strong {
                font-weight: normal;
              }
    
              span {
                color: inherit !important;
              }
            }
          }
        }

    
        .mat-mdc-list-item-content {
          @extend .app-clean-pd !optional;

          span {
            color: var(--app-color-gray-5);
            font-size: 14px;
            margin-left: calc(16px / 2);  
          }
        }

        &.app-list-table {
          // height: auto;
          // min-height: 22px;
          overflow: hidden;
          
          .mat-mdc-list-item-content {
            display: table;

            .mat-checkbox,
            .app-list-content {
              display: table-cell;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: 270px;
            }
          }
        }
      }
      
    }

    @extend .app-list-view-facet !optional;
  }

  .mat-tree {
    .mat-tree-node {
      & > span {
        color: var(--app-color-gray-5);
        font-size: 14px;
        margin-left: calc(16px / 2);  
      }

      &.app-node-child {
        padding-left: 0 !important;
      }
    }
  }

  .app-apply-filter {
    line-height: 28px;

    &:not(.app-facet-dynamic) {
      margin-left: var(--app-gap-icon);
      margin-top: 8px;
    }

    &.app-facet-dynamic {
      margin-top: 16px;
    }
  }
}