// --- VARIABLES ---

:root {
  --app-color-lightnes: #ffffff;
  --app-color-lightnes-rgb: 255, 255, 255;
  --app-color-darknes: #000000;
  --app-color-darknes-rgb: 0, 0, 0;
  --app-color-primary: #0d47a1;
  --app-color-accent: #ff4081;
  --app-color-lightnes: #ffffff;
  --app-color-darknes: #000000;
  --app-color-warning: #f44336;
  --app-color-info: #ff6f00;
  --app-color-fav: #f9a825;


  // gray pallete
  --app-color-gray-0: #FAFAFA;
  --app-color-gray-1: #F5F5F5;
  --app-color-gray-2: #EEEEEE;
  --app-color-gray-3: #E0E0E0;
  --app-color-gray-4: #BDBDBD;
  --app-color-gray-5: #9E9E9E;
  --app-color-gray-6: #757575;
  --app-color-gray-7: #616161;
  --app-color-gray-8: #424242;
  --app-color-gray-9: #212121;

  --app-default-border-radius: 4px;

  // mobile
  --app-mobile-action-toolbar-height: 46px; 

  // custom
  --app-navbar-height: 80px;
}


// gaps
$gaps: (
  "0": 0,
  "1": 4,
  "2": 8,
  "3": 12,
  "4": 16,
  "5": 20,
  "6": 24,
  "7": 28,
  "8": 32,
);

// icon size
$iconSize: (
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "18": 18,
  "19": 19,
  "20": 20,
  "21": 21,
  "22": 22,
  "23": 23,
);

// alerts
$alerts: (
  warn: (
    color: var(--palette-warn-500),
    bg: var(--palette-warn-50),
    border: var(--palette-warn-100)
  ),
  info: (
    color: #856404,
    bg: #fff3cd,
    border: rgba(var(--app-color-info-no-rgb), .15)
  )
  ,
  success: (
    color: var(--app-color-success),
    bg: rgba(var(--app-color-success-no-rgb), .1),
    border: rgba(var(--app-color-success-no-rgb), .2)
  ),
  message: (
    color: var(--app-color-gray-7),
    bg: rgba(#616161, .1),
    border: rgba(#616161, .2)
  )
);

