// --- MATERIAL OVERRIDE ---

@use "app-mixins";
@use "app-mixins-alert";
@use "app-mixins-icon-size"; 
@use '@angular/material' as mat; 


// icon
.mat-icon {
  @include app-mixins-icon-size.setIconSize();
}


// card
.mat-mdc-card {
  &.app-alert {
    @include app-mixins-alert.setAlertCard();

    .mat-mdc-card-content {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: center;

       .mat-icon {
        @include app-mixins.setIcon(18);
        flex: 1 1 26px;
        box-sizing: border-box;
        max-width: 26px;
        min-width: 26px;
      }

      .app-text {
        word-break: break-all;
      }
    }
  }

  .mat-mdc-card-actions {
    padding: 0 16px 16px 16px;
  }
}


// table
.mat-mdc-table {
  .mat-mdc-header-cell {
    &.mat-column-isLocked {
      padding: 0 8px;
    }
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding-left: 8px;
    padding-right: 4px;

    &.app-col-filter {
      padding-right: 8px !important;
    
      .app-filter-wrapper {
        position: relative;
      
        input {
          width: 100%;
          border-radius: 0 !important;
          border: 0;
          background-color: transparent;
          padding-right: 20px;

          &:focus {
            outline: none;
          }
        }
      
        .app-clear {
          position: absolute;
          top: 2px;
          right: 0;
    
          &.app-select {
            right: 14px;
          }
      
          .mat-icon {
            color: var(--app-color-warn);
            font-size: 16px;
            width: 16px;
            height: 16px;
          }
        }

        .mat-mdc-select {
          width: 100%;

          .mat-mdc-select-value {
            padding-right: 10px;
          }
        }
    
        mat-label {
          position: absolute;
          left: 0;
          top: 0;
          font-weight: initial;
          font-size: 14px;
        }
      }
    }
  }

  .mat-mdc-icon-button {
    &.mat-mdc-button-base {
      border-radius: 0;
      --mat-icon-button-state-layer-size: calc(var(--mat-table-header-container-height) - 1px);
      width: var(--mat-icon-button-state-layer-size);
      height: var(--mat-icon-button-state-layer-size);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center !important;

      .mat-icon {
        &.app-16 {
          @include app-mixins.setIcon(16);
        }

        &.app-18 {
          @include app-mixins.setIcon(18);
        }
      }
    }
    
    .mat-mdc-button-persistent-ripple {
      border-radius: 0;
    }
  }

  .mat-icon {
    @include app-mixins.setIcon(20, $position: sub);
  }

  a {
    &.app-icon-copy {
      color: var(--app-color-primary);
    }

    .mat-icon {
      @include app-mixins.setIcon(16);
    }
  }

  .mat-mdc-row {
    &.app-selected {
      background-color: var(--app-color-item-selected) !important;
    }

    &.app-invalid {
      background-color: rgba(var(--app-color-item-invalid-no-rgb), .1) !important;

      .mat-icon {
        color: var(--app-color-item-invalid);
      }
    }

    &.app-repre {
      font-weight: 700;
    }

    .mat-mdc-cell {
      &.mat-column-actions,
      &.mat-column-action {
        width: 60px;
        text-align: right;
      }

      .app-text-cutter-wrapper {
        display: flex;
      }

      .app-text-cutter {
        //@extend .app-pr-4;
        position: absolute;
        max-width: 100%;
        align-self: center;
      }
    }
  }

  &.app-striped {
    .mat-mdc-row {
      &:nth-child(odd) {
        &:not(.app-selected) {
          background-color: var(--app-color-gray-1);
        }
      }
    }
  }

  &.app-hover {
    .mat-mdc-row {
      &:hover {
        &:not(.app-selected, .app-row-detail) {
          background-color: var(--app-color-gray-2);
        }
      }
    }
  }

  &.app-resize {
    table-layout: fixed;
    min-width: auto;
    width: fit-content;

    &.app-resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }


    .mat-mdc-header-cell {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .mat-sort-header-content {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .app-resize-holder {
        cursor: col-resize;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          border-right: 1px solid var(--app-default-border-color);
        }
      }
    }

    .mat-mdc-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.app-expanded {
    .mat-mdc-row {
      &.app-row-expanded-parent {
        background-color: var(--app-color-item-bg);
      }

      &.app-row-detail {
        height: 0;
    
        td {
          border: 0;
    
          .app-detail {
            overflow: hidden;
          }
        }  
    
        &.app-row-expanded {
          td {
            border-bottom: 1px solid var(--app-table-border-color);
            background-color: var(--app-color-item-bg);
          }
        }
      }
    }

    .app-toggle-button {
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .app-toggle-button-expanded {
      transform: rotate(180deg);
    }
  }

  .mat-mdc-checkbox {
    --mat-checkbox-state-layer-size: calc(30px - 2px * 2) !important;
  }
}


// paginator
.mat-mdc-paginator {
  .app-toolbar & {
    background-color: transparent;
  }

  .app-oa-y & {
    position: sticky;
    bottom: 0;
  }
}

// menu
.mat-mdc-menu-item {
  min-height: var(--app-menu-item-height) !important;
}

// select
.mat-mdc-option {
  min-height: var(--app-menu-item-height) !important;
  line-height: var(--app-menu-item-height) !important;

  .mdc-list-item__primary-text {
    white-space: nowrap !important;
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


// button
.mat-mdc-button-base {
  &.mat-mdc-outlined-button {
    background-color: var(--app-color-gray-1);
  }  
}

.mat-mdc-unelevated-button {
  &:not(:disabled) {
    &.mat-warn {
      --mat-button-filled-label-text-color: var(--app-coloe-lightnes) !important;
    }
  }
}


// radio button
.mat-mdc-radio-group {
  .app-toolbar & {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


// form field
.mat-mdc-form-field {
  .mat-mdc-form-field-icon-suffix {
    display: flex;
    padding-right: 4px;
    @include mat.icon-button-density(-6);

    .mat-mdc-icon-button {
      --mat-icon-button-icon-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        @include app-mixins.setIcon(18);
      }
    }
  }

  .mat-mdc-form-field-bottom-align {
    // --mat-form-field-subscript-text-line-height: 0;
    // height: 8px;

    &::before {
      height: 0;
    }
  }

  &.app-datepicker {
    $app-width: 160px;
    flex: 1 1 $app-width;
    max-width: $app-width;
    min-width: $app-width;
  }
}


/* ::ng-deep .mat-mdc-checkbox {
  min-height: 24px; // or your desired row height
  height: 24px;
}

::ng-deep .mat-mdc-checkbox .mdc-form-field {
  align-items: center;
}

::ng-deep .mat-mdc-checkbox .mdc-label {
  line-height: 24px;
  padding-top: 0;
  padding-bottom: 0;
} */


:root {
  /* .app-form-field-dens-6 {
    @include mat.form-field-density(-6);
  } */

  // mat form field
  @include mat.form-field-density(-6);


  // checkbox
  @include app-mixins.setCheckBoxDensity(2);
  @include mat.checkbox-overrides((
    selected-icon-color: var(--app-color-primary),
    selected-hover-icon-color: var(--app-color-primary),
    selected-focus-icon-color: var(--app-color-primary),
    selected-pressed-state-layer-color: var(--app-color-primary),
    selected-focus-state-layer-color: var(--app-color-primary),
    state-layer-size: 26px
  ));


  // slide toggle
  @include mat.slide-toggle-overrides((
    // handle-height: 16px,
    // handle-width: 16px,
    track-height: 10px,
    track-width: 30px,
    with-icon-handle-size: 2px,
    unselected-icon-size: 12px,
    selected-icon-size: 12px
  ));
  
  .mat-mdc-slide-toggle .mdc-switch__handle:has(.mdc-switch__icons) {
    --mat-slide-toggle-with-icon-handle-size: var(--app-slide-toggle-size);
    --mat-slide-toggle-pressed-handle-size: var(--app-slide-toggle-size);
  }

  .mdc-switch__handle-track {
    --mat-slide-toggle-handle-width: var(--app-slide-toggle-size);
  }


  // dialog
  @include mat.dialog-overrides((
    headline-padding: 0 24px,
    actions-padding: 0 24px 24px 24px
  ));


  
  // radio button
  .mat-mdc-radio-group {
    // .app-toolbar & {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    // }

    .mat-mdc-radio-button {
      --mat-radio-state-layer-size: calc(var(--app-toolbar-radio-button-size) * 2);
      margin-right: 8px;

      .mdc-radio__background::before {
        top: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-toolbar-radio-button-size)) / 2) !important;
        left: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--app-toolbar-radio-button-size)) / 2) !important;
      }
    
      .mdc-radio {
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        .mat-mdc-radio-touch-target {
          height: var(--app-toolbar-height);
          width: var(--app-toolbar-height);
        }
    
        .mdc-radio__background {
          height: var(--app-toolbar-radio-button-size);
          width: var(--app-toolbar-radio-button-size);
    
          .mdc-radio__inner-circle {
            border-width: calc(var(--app-toolbar-radio-button-size) / 2);
          }
        }
      }
    }
  }
  
}
