<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" [class.app-entity-samostatny_nalez]="!isChild && !isDocumentDialogOpen" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a> 
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutGap="16px">
      <div fxFlex>
        <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
        <mat-icon class="app-entity-samostatny_nalez" [matTooltip]="'entities.samostatny_nalez.title' | translate">{{ config.entityIcons["samostatny_nalez"] }}</mat-icon>
        <ng-container [ngSwitch]="isChild">
          <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
          <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
        </ng-container><span class="app-pipe"></span>
        <app-inline-filter [isChild]="isChild" [field]="'f_nalezce'" [value]="result.samostatny_nalez_nalezce"></app-inline-filter><span class="app-pipe"></span>{{ result.samostatny_nalez_datum_nalezu | date : 'yyyy-MM-dd' }}<span class="app-pipe"></span>
      </div>
      <div *ngIf="state.isMapaCollapsed && !isChild || mapDetail" class="app-last-change" [matTooltip]="result.datestamp | date : 'yyyy-MM-dd HH:mm:ss'">{{ 'card.desc.Poslední změna' | translate }}: {{ result.datestamp | date : 'yyyy-MM-dd' }}</div> 
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [class.app-detail-closed]="!detailExpanded">
    <div fxLayout="row" fxLayoutGap="16px" class="app-row-gap-16" fxFlexFill>
      <div *ngIf="imgSrc" class="app-thumb">
        <a (click)="viewFiles()">
          <img [src]="imgSrc" /> 
        </a>
      </div>
      <div *ngIf="!imgSrc && state.itemView === 'col' && !isDocumentDialogOpen" fxFlex class="app-thumb app-thumb-missing" [matTooltip]="'card.tooltip.Obrázek není k dispozici' | translate">
        <mat-icon>image_not_supported</mat-icon>
      </div>
      <div fxFlex class="app-metadata">
        <div *ngIf="result.samostatny_nalez_predano_organizace || result.samostatny_nalez_evidencni_cislo || result.pristupnost">
          <ng-container *ngIf="result.samostatny_nalez_predano_organizace">
            <label class="app-label">{{ 'card.desc.Předáno organizaci' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'predano_organizace'" [value]="result.samostatny_nalez_predano_organizace" [heslar]="'organizace'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.samostatny_nalez_evidencni_cislo">
            <label class="app-label">{{ 'card.desc.Sam. nález - evidenční č.' | translate }}:</label>&#160;{{result.samostatny_nalez_evidencni_cislo}}
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.pristupnost">
            <label class="app-label">{{ 'card.desc.Přístupnost' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'pristupnost'" [value]="result.pristupnost" [heslar]="'pristupnost'"></app-inline-filter> 
          </ng-container>
        </div>
        <div>
          <ng-container *ngIf="result.samostatny_nalez_obdobi"><label class="app-label">{{ 'card.desc.Období' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="result.samostatny_nalez_obdobi" [heslar]="'f_obdobi'"></app-inline-filter>
          </ng-container>
          <ng-container *ngIf="result.samostatny_nalez_presna_datace && result.samostatny_nalez_presna_datace !== ''">({{result.samostatny_nalez_presna_datace}})</ng-container>
          <ng-container>
            <span class="app-pipe"></span>
            <label class="app-label">{{ 'card.desc.Nález' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_druh_nalezu'" [value]="result.samostatny_nalez_druh_nalezu" [heslar]="'f_druh_nalezu'" ></app-inline-filter>
            <ng-container *ngIf="result.samostatny_nalez_specifikace">
              (<app-inline-filter [isChild]="isChild" [field]="'f_specifikace'" 
              [value]="result.samostatny_nalez_specifikace" [heslar]="'specifikace_objektu_druha'" ></app-inline-filter>)
            </ng-container>
          </ng-container>
        </div>
        <div>
          <ng-container *ngIf="result.samostatny_nalez_chranene_udaje">
            <label class="app-label">{{'card.desc.Katastr (okres)' | translate}}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="result.samostatny_nalez_chranene_udaje.katastr.value"></app-inline-filter>&#160;
          (<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="result.samostatny_nalez_okres"></app-inline-filter>)
          </ng-container>
          <ng-container *ngIf="!result.samostatny_nalez_chranene_udaje">
            <label class="app-label">{{'card.desc.Okres' | translate}}:</label>&#160;
            (<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="result.samostatny_nalez_okres"></app-inline-filter>)
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex class="app-metadata">
      <ng-container *ngIf="result.samostatny_nalez_projekt">
        {{'Počet projektů' | translate}}: <strong>1</strong>
        <span class="app-pipe"></span>
      </ng-container>
      <ng-container *ngIf="result.soubor_filepath?.length > 0">
        {{'card.desc.Počet souborů' | translate}}: <strong>{{result.soubor_filepath.length}}</strong>
      </ng-container>
    </div>
    <app-result-actions [inDocument]="inDocument" [result]="result" [bibTex]="bibTex" [isDocumentDialogOpen]="isDocumentDialogOpen" 
      [detailExpanded]="detailExpanded" [mapDetail]="mapDetail" (onToggleDetail)="toggleDetail()"></app-result-actions>
  </mat-card-actions>
  <mat-card-content *ngIf="detailExpanded && !isChild">
    <div class="app-card-detail">
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Popis nálezu' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr *ngIf="result.samostatny_nalez_pocet">
                <th class="app-label">{{ 'card.desc.Sam. nález - počet' | translate }}:</th>
                <td>{{ result.samostatny_nalez_pocet }}</td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_lokalizace">
                <th class="app-label">{{ 'card.desc.Akce - lokalizace' | translate }}:</th>
                <td>{{ result.samostatny_nalez_lokalizace }}</td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_okolnosti">
                <th class="app-label">{{ 'card.desc.Nálezové okolnosti' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_nalezove_okolnosti'" [value]="result.samostatny_nalez_okolnosti" [heslar]="'nalezove_okolnosti'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.hasOwnProperty('samostatny_nalez_hloubka')">
                <th class="app-label">{{ 'card.desc.Sam. nález - hloubka (cm)' | translate }}:</th>
                <td>{{ result.samostatny_nalez_hloubka }} cm</td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_poznamka">
                <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
                <td>{{ result.samostatny_nalez_poznamka }}</td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_geom_system">
                <th class="app-label">{{ 'card.desc.geom_system' | translate }}:</th>
                <td>{{ result.samostatny_nalez_geom_system }}</td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_chranene_udaje?.geom_gml">
                <th class="app-label">{{ 'card.desc.Poloha (GML)' | translate }}:</th>
                <td>{{ result.samostatny_nalez_chranene_udaje?.geom_gml }}<br/>
                  <ng-container *ngIf="result.samostatny_nalez_chranene_udaje?.geom_sjtsk_gml">{{ result.samostatny_nalez_chranene_udaje?.geom_sjtsk_gml }}</ng-container>
                </td>
              </tr>
              <tr *ngIf="result.samostatny_nalez_chranene_udaje?.geom_wkt">
                <th class="app-label">{{ 'card.desc.Poloha (WKT)' | translate }}:</th>
                <td>EPSG:{{ result.samostatny_nalez_chranene_udaje.geom_wkt.epsg }}, {{ result.samostatny_nalez_chranene_udaje?.geom_wkt.value }}<br/>
                  <ng-container *ngIf="result.samostatny_nalez_chranene_udaje?.geom_sjtsk_wkt">EPSG:{{ result.samostatny_nalez_chranene_udaje.geom_sjtsk_wkt.epsg }}, 
                    {{ result.samostatny_nalez_chranene_udaje?.geom_sjtsk_wkt.value }}</ng-container>
                  </td>
              </tr>
              </tbody>
            </table>
        </mat-expansion-panel>
    
        <mat-expansion-panel *ngIf="result.samostatny_nalez_projekt" [expanded]="true" class="app-panel-souvisejici-zaznamy virtual">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Související záznamy' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <cdk-virtual-scroll-viewport *ngIf="vsSize > 0 && !state.printing" [itemSize]="itemSize" [style.height.px]="vsSize"  [style.width]="'100%'" 
            [minBufferPx]="math.min(9*itemSize, numChildren * itemSize)" [maxBufferPx]="math.min(9*itemSize, numChildren * itemSize)*2">
            <app-projekt *ngFor="let projekt of result.valid_projekt" [result]="projekt" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-projekt>
          </cdk-virtual-scroll-viewport>
          <ng-container *ngIf="state.printing">
            <app-projekt *ngFor="let projekt of result.valid_projekt" [result]="projekt" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-projekt>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
