.app-sidenav-container {
  .app-btn {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1092;
    min-width: 0;
    padding: 0 1px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    border: 0;
    height: 28px;
    background-color: var(--app-color-lightnes);
    display: flex;
    align-items: center;
    padding: 0 2px;
    border-radius: var(--app-default-border-radius);
    cursor: pointer;

    .app-btn-text {
      font-weight: 600;
      padding-right: 6px;
    }
  }
}


::ng-deep {
  app-paginator {
    .app-num {
      margin-right: 8px !important;
    }

    .app-sort {
      display: none;
    }

    .mat-mdc-paginator {
      .mat-mdc-paginator-range-label {
        margin: 0;
      }
    }
  }

  .mat-mdc-card {
    &.app-card-result {
      margin-bottom: 0 !important;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid var(--app-color-gray-3);

      .mat-mdc-card-header {
        .mat-mdc-card-title {
          .app-icon-info {
            margin-right: 4px;

            .mat-icon {
              vertical-align: baseline;
              color: var(--app-color-primary-darker-rgb) !important;
            }
          }
        }
      }

      .mat-mdc-card-content,
      .mat-mdc-card-actions {
        display: none !important;
      }
    }
  }
  
  .app-map {
    // .leaflet-control-container {
    //   .leaflet-left {
    //     .leaflet-control {
    //       display: inline-block;
    //       float: none;
    //     }

    //     .leaflet-control-zoom {
    //       a {
    //         border-bottom: 0;
    //         float: left;
    //         line-height: 26px;

    //         &:first-child {
    //           border-right: 1px solid #ccc;
    //         }
    //       }
    //     }

    //     .location-filter {
    //       a {
    //         background-position-x: center;
    //         background-position-y: 2px;
    //       }
    //     }
    //   }
    // }

    .leaflet-right {
      z-index: 1003;

      .leaflet-control {
        .leaflet-control-layers-toggle {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
  

