<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.inovatika.arup.digiarchiv.web.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>cz.inovatika.arup.digiarchiv.web.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleServlet</servlet-name>
        <servlet-class>cz.inovatika.arup.digiarchiv.web.HandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleServlet</servlet-name>
        <url-pattern>/id/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/export/*</url-pattern>
        <url-pattern>/export-mapa/*</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/id2/*</url-pattern>
        <url-pattern>/registrace</url-pattern>
        <url-pattern>/results/*</url-pattern>
        <url-pattern>/map/*</url-pattern>
        <url-pattern>/print/*</url-pattern>
        <url-pattern>/stats</url-pattern>
        <url-pattern>/favorites</url-pattern>
        <url-pattern>/napoveda</url-pattern> 
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
