@if(!inDocument()){
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
}
@if(inDocument()){
  <mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild()">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngTemplateOutlet="titleTmpl"></ng-container>
      </mat-card-title>
    </mat-card-header>
    @if(!isChild()){
      <mat-card-actions class="app-fxLayout app-row app-end-v">
        <div class="app-fxFlex app-metadata">
          @if(_result.dokument?.length > 0){
            <ng-container>
              {{ 'card.desc.Počet dokumentů' | translate }}: <strong>{{_result.dokument?.length}}</strong>
              <span class="app-pipe"></span>
            </ng-container>
          }
          @if(_result.knihovna_3d?.length > 0){
            <ng-container>
              {{ 'card.desc.Počet 3D dokumentů' | translate }}: <strong>{{_result.knihovna_3d.length}}</strong>
              <span class="app-pipe"></span>
            </ng-container>
          }
        </div>
        <app-result-actions [inDocument]="inDocument()" [result]="result" [detailExpanded]="detailExpanded()" [mapDetail]="true"
        (onToggleDetail)="toggleDetail()"></app-result-actions>
      </mat-card-actions>
    }
    @if (detailExpanded) {
      <mat-card-content>
        <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
      </mat-card-content>
    }
  </mat-card>
}
<ng-template #titleTmpl let-panel let-panelHeader>
  @if(panel){
    <mat-icon  (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
  }
  {{ 'card.panelTitle.Komponenta' | translate }}&#160;
  @if (_result.ident_cely) {
    <a
      [routerLink]="'/id/' + _result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank"
      class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ _result.ident_cely }}
      <mat-icon>link</mat-icon></a>&#160;–&#160;
    }
    @if (_result.obdobi) {
      <app-inline-filter [isChild]="isChild()" [field]="'f_obdobi'" [value]="_result.obdobi"
      [heslar]="'obdobi_druha'"></app-inline-filter>
    }
    @if (_result.jistota || _result.presna_datace) {
      (@if (_result.jistota) {
      {{ _result.jistota |
      translate }};
      }{{ _result.presna_datace }})
    }
    @if (_result.areal) {
      &#160;–&#160;<app-inline-filter [isChild]="isChild()" [field]="'f_areal'"
    [value]="_result.areal" [heslar]="'areal_druha'"></app-inline-filter>
  }
  @if (_result.aktivita?.length > 0) {
    &#160;(@for (ak of _result.aktivita; track ak; let last = $last) {
    <app-inline-filter [isChild]="isChild()"
    [field]="'f_aktivita'" [value]="ak" [heslar]="'f_aktivita'"></app-inline-filter>
    @if (!last) {
      <span>,&#160; </span>
    }
    })
  }
</ng-template>

<ng-template #contentTmpl>

  <mat-expansion-panel #panel [expanded]="true" hideToggle class="app-panel-inner" [class.app-mb-4]="inDocument()">
    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader
      (click)="panelHeader._toggle()">
      @if (!inDocument()) {
        <mat-panel-title>
          <ng-container *ngTemplateOutlet="titleTmpl; context:{panel:panel, panelHeader:panelHeader}"></ng-container>
        </mat-panel-title>
      }
    </mat-expansion-panel-header>
    @if (_result.poznamka) {
      {{ _result.poznamka }}
    }
    @if (_result.nalez_dokumentu) {
      <mat-expansion-panel #panel [expanded]="true" hideToggle class="app-panel-inner">
        <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
          <mat-panel-title>
            <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
            {{ 'card.panelTitle.Nálezy' | translate }}:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="app-list-inside">
          @if (_result.nalez_dokumentu.length) {
            @for (nalez_dokumentu of _result.nalez_dokumentu; track nalez_dokumentu) {
              <li>
                <app-nalez [result]="nalez_dokumentu"></app-nalez>
              </li>
            }
          }
          @if (!_result.nalez_dokumentu.length) {
            <li>
              <app-nalez [result]="_result.nalez_dokumentu"></app-nalez>
            </li>
          }
        </ul>
      </mat-expansion-panel>
    }
  </mat-expansion-panel>

  @if ((_result.dokument || _result.knihovna_3d)  && !isChild()) {
    <mat-expansion-panel [expanded]="true"
      class="app-panel-related-items">
      <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']"
        [collapsedHeight]="config.uiVars['panelHeightInCard']">
        <mat-panel-title>
          {{ 'card.panelTitle.Související záznamy' | translate }}:
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (_result.dokument) {
        <app-dokument [result]="_result.dokument[0]" [isChild]="true"
        class="app-related-item"></app-dokument>
      }
      @if (_result.knihovna_3d) {
        <app-dokument [result]="_result.knihovna_3d[0]" [isChild]="true"
        class="app-related-item"></app-dokument>
      }
    </mat-expansion-panel>
  }
</ng-template>