@if (value()) {
  @if (isChild()) {
    @if (!isDocument && !isDate() && !isYear()) {
      <span >{{heslar() ? (value() | translate) : value() }}</span>
    }
    @if (!isDocument && isDate()) {
      <span >{{value() | date : 'yyyy-MM-dd'}} </span>
    }
    @if (!isDocument && isYear()) {
      <span >{{value()}} </span>
    }
    @if (isDocument && !isDate()) {
      {{heslar() ? (value() | translate) : value() }}
    }
    @if (isDocument && isDate()) {
      {{value() | date : 'yyyy-MM-dd'}}
    }
  }
  @if (!isChild()) { 
    @if (!isDocument && !isDate() && !isYear()) {
      <a (click)="addFilter($event)" class="app-filter-badge">{{heslar() ? (value() | translate) : value() }} <mat-icon>filter_alt</mat-icon></a>
    }
    @if (!isDocument && isDate()) {
      <a (click)="addFilter($event)" class="app-filter-badge">{{value() | date : 'yyyy-MM-dd'}} <mat-icon>filter_alt</mat-icon></a>
    }
    @if (!isDocument && isYear()) {
      <a (click)="addFilter($event)" class="app-filter-badge">{{value()}} <mat-icon>filter_alt</mat-icon></a>
    }
    @if (isDocument && !isDate()) {
      {{heslar() ? (value() | translate) : value() }}
    }
    @if (isDocument && isDate()) {
      {{value() | date : 'yyyy-MM-dd'}}
    }
  }
}