<h1 mat-dialog-title>{{ 'dialog.title.licence' | translate}}</h1>
<div mat-dialog-content>
  <p>
    {{'dialog.desc.amcrDatabase' | translate}}, {{'dialog.citation.authoredBy' | translate}}
    <a href="http://www.arup.cas.cz/" [title]="'dialog.desc.arup' | translate" target="_blank">{{'dialog.desc.arup' | translate}}</a>
    {{'a' | translate}}
    <a href="http://www.arub.cz/" [title]="'dialog.desc.arub' | translate" target="_blank">{{'dialog.desc.arub' | translate}}</a>, 
    {{'dialog.citation.licensedUnder' | translate}}
    <a href="http://creativecommons.org/licenses/by-nc/4.0/" [title]="'dialog.license.cc_by_nc' | translate" target="_blank">{{'dialog.license.cc_by_nc' | translate}}</a>. 
    {{'dialog.license.data_and_metadata_usage' | translate}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'dialog.button.close' | translate }}</button>
</div>