<h1 mat-dialog-title>{{ 'dialog.title.Licence' | translate}}</h1>
<div mat-dialog-content>
  <p>
    {{'dialog.desc.Databáze Archeologická mapa České republiky' | translate}}, {{'dialog.desc.jejímž autorem je' | translate}}
    <a href="http://www.arup.cas.cz/" [title]="'dialog.desc.Archeologický ústav AV ČR, Praha, v. v. i.' | translate" target="_blank">{{'dialog.desc.Archeologický ústav AV ČR, Praha, v. v. i.' | translate}}</a>
    {{'a' | translate}}
    <a href="http://www.arub.cz/" [title]="'dialog.desc.Archeologický ústav AV ČR, Brno, v. v. i.' | translate" target="_blank">{{'dialog.desc.Archeologický ústav AV ČR, Brno, v. v. i.' | translate}}</a>, 
    {{'dialog.license.licenced_under' | translate}}
    <a href="http://creativecommons.org/licenses/by-nc/4.0/" [title]="'dialog.license.cc_by_nc' | translate" target="_blank">{{'dialog.license.cc_by_nc' | translate}}</a>. 
    {{'dialog.license.data_and_metadata_usage' | translate}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'dialog.button.Zavřít' | translate }}</button>
</div>