// --- RESULTS ---

// smaller top padding for result page
.app-display-table {
  .app-table-cell {
    padding-top: 24px;
  }
}

.app-mobile-action-toolbar {
  display: none !important;
  height: var(--app-mobile-action-toolbar-height);
  background-color: var(--app-gray-0);
  border-bottom: 1px solid var(--app-gray-3);

  @media only screen and (max-width: 959px) {
    display: flex !important;
  }
}

.app-left {
  @media only screen and (max-width: 959px) {
    &:not(.app-facets-opened) {
      display: none !important;
    }
  }
}

.app-right {
  .app-action-links {
    .app-pipe {
      vertical-align: super;
    }
  }

  @media only screen and (max-width: 959px) {
    &:not(.app-results-opened),
    .app-action-links {
      display: none !important;
    }
  }
}