<div>
    <div>
      <h2>Nastavení cookies</h2>
      <p>Tato webová stránka používá soubory cookies pro účely přihlášení, uchování
        uživatelských voleb, dílčí uživatelské funcionality a analýzu návštěvnosti. V souladu s platnou legislativou
        prosíme o potvrzení souhlasu. <br><br> Pamatujte, že soubory cookies jsou
        užitečné pro různá uživatelská nastavení a jejich odmítnutím se může snížit Váš uživatelský komfort.
        Analytická cookies jsou též důležitá pro vykazování využití infrastruktury AIS CR.</p>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="consent($event)">Přijmout</button>
      <button mat-flat-button (click)="reject($event)">Odmitnout</button> 
    </div>
</div>