<footer>
  <div class="app-container">
    <div fxLayout="row" class="app-footer-wrapper">
      <div fxFlex class="app-fx-left">
        <p>
          {{ 'footer.desc.Archeologický ústav AV ČR, Praha, v. v. i.' | translate }} © {{ currentYear }}.
        </p>
        <p>
          {{'footer.desc.Kontakt' | translate}} <a (click)="showKontakt()"><mat-icon>info</mat-icon></a><span class="app-pipe"></span>Created by 
          <a href="http://www.inovatika.cz" title="Inovatika" target="_blank">
            <img src="./assets/img/logo-inovatika.png" alt="Inovatika" class="app-logo" />
          </a>
          <span class="app-pipe"></span>
          <a href="http://creativecommons.org/licenses/by-nc/4.0/" [title]="'footer.license.cc_by_nc' | translate" target="_blank">
            <img src="assets/img/logo-cc.png" [alt]="'footer.license.cc_by_nc' | translate" />
          </a>&#160;
          <a (click)="showLicence()"><mat-icon>info</mat-icon></a>
        </p>
        <p>
          {{ 'footer.desc.Verze' | translate }} 3.0.0
        </p>
      </div>
      <div fxFlex class="app-fx-right">
        <p>
          <a href="https://opvvv.msmt.cz/" [title]="'footer.desc.Operační program Výzkum, vývoj a vzdělávání' | translate" target="_blank">
            <img src="assets/img/logo-eu.png" [alt]="'footer.desc.Operační program  Výzkum, vývoj a vzdělávání' | translate" class="app-logo-eu" />
          </a>
          <a href="http://www.msmt.cz/" [title]="'footer.desc.Ministerstvo školství, mládeže a tělovýchovy České republiky' | translate" target="_blank">
            <img src="assets/img/logo-msmt.png" [alt]="'footer.desc.Ministerstvo školství, mládeže a tělovýchovy České republiky' | translate" class="app-logo-msmt" />
          </a>
          <a href="http://www.aiscr.cz/" [title]="'footer.desc.Archeologický informační systém České republiky' | translate" target="_blank">
            <img src="assets/img/logo-ais.png" [alt]="'footer.desc.Archeologický informační systém České republiky' | translate" class="app-logo-ais" />
          </a>
          <a href="http://www.ariadne-infrastructure.eu/" [title]="'footer.desc.Ariadne' | translate" target="_blank">
            <img src="assets/img/logo-ariadne.png" [alt]="'footer.desc.Ariadne' | translate" class="app-logo-adriane" />
          </a>
          <a href="http://av21.avcr.cz/" [title]="'footer.desc.Programy strategie AV21' | translate" target="_blank">
            <img src="assets/img/logo-avcr.png" [alt]="'footer.desc.Programy strategie AV21' | translate" class="app-logo-avcr" />
          </a>
          <a href="https://www.re3data.org/repository/r3d100013576" [title]="'footer.desc.Digitální archiv archeologické mapy České republiky' | translate" target="_blank">
            <img src="https://www.re3data.org/public/badges/s/dark/100013576.svg" [alt]="'footer.desc.Digitální archiv archeologické mapy České republiky' | translate" class="app-logo-re3data" />
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
