@use "../../../scss/app-mixins-icon" as *;

footer {
  width: calc(100% - #{32px});
  padding: 32px 16px;
  background-color: var(--app-footer-color-bg);
  color: var(--app-footer-color);;

  a {
    color: currentColor;
  }

  img {
    vertical-align: middle;
  }

  .app-logo {
    height: 16px;
    vertical-align: text-top;
  }

  .mat-icon {
    @include setIcon($size: 20, $position: sub);
  }

  .app-logos-wrapper {
    img {
      margin-bottom: 20px;

      &.app-logo-re3 {
        height: 44px;
      }
      &.app-logo-eu,
      &.app-logo-msmt  {
        filter: invert(75%);
        height: 34px; 
      }
      &.app-logo-avcr {
        filter: invert(25%);
        height: 39px;
      }
      &.app-logo-arub {
        filter: invert(75%);
        height: 34px;
      }
      &.app-logo-aru {
        filter: invert(75%);
        height: 39px;
      }
      &.app-logo-ais {
        height: 49px;
      }
      &.app-logo-vvi {
        filter: invert(75%);
        height: 39px;
      }
    }
  }
}