@if (!inDocument()) {
  <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
}
@if (inDocument()) {
  <mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild()">
    <mat-card-header>
      <mat-card-title>
        <span class="app-ident-format">{{ _result.ident_cely }}</span>
        @if (_result.dj_typ) {
          <span class="app-pipe"></span>
        }
        <app-inline-filter [field]="'f_dj_typ'" [value]="_result.dj_typ.id ? _result.dj_typ.id : _result.dj_typ" [heslar]="'typ_dj'"></app-inline-filter>
        @if (_result.dj_nazev) {
          &#160;({{_result.dj_nazev}})
        }
        <span class="app-pipe"></span>
      </mat-card-title>
    </mat-card-header>
    @if (_detailExpanded) {
      <mat-card-content >
        <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
      </mat-card-content>
    }
    @if (!isChild()) {
      <mat-card-actions fxLayout="row" fxLayoutAlign="start end">
        <div fxFlex class="app-metadata">
          @if (_result.akce?.length > 0) {
            {{ 'card.desc.Počet akcí' | translate }}: <strong>{{_result.akce?.length}}</strong>
            <span class="app-pipe"></span>
          }
          @if (_result.lokalita?.length > 0) {
            {{ 'card.desc.Počet lokalit' | translate }}: <strong>{{_result.lokalita.length}}</strong>
            <span class="app-pipe"></span>
          }
        </div>
        <app-result-actions [inDocument]="inDocument()" [result]="result()" [detailExpanded]="_detailExpanded" [mapDetail]="false" (onToggleDetail)="toggleDetail()"
          [bibTex]="bibTex"
        [ident_cely_api]="_result.ident_cely.substr(0, _result.ident_cely.lastIndexOf('-'))"></app-result-actions>
      </mat-card-actions>
    }
    @if (_detailExpanded) {
      <mat-card-content >
        @if (_result.akce || _result.lokalita) {
          <mat-expansion-panel [expanded]="true" class="app-panel-souvisejici-zaznamy">
            <mat-expansion-panel-header [expandedHeight]="config.uiVars['panelHeightInCard']"
              [collapsedHeight]="config.uiVars['panelHeightInCard']">
              <mat-panel-title>
                {{ 'card.panelTitle.Související záznamy' | translate }}:
              </mat-panel-title>
            </mat-expansion-panel-header>
            @for (akce of _result.akce; track akce.ident_cely) {
              <app-akce [result]="akce" [isChild]="true" class="app-related-item"></app-akce>
            }
            @for (lok of _result.lokalita; track lok.ident_cely) {
              <app-lokalita [result]="lok" [isChild]="true" class="app-related-item"></app-lokalita>
            }
          </mat-expansion-panel>
        }
      </mat-card-content>
    }
  </mat-card>
}

<ng-template #contentTmpl>
  <mat-expansion-panel #panel [expanded]="true" hideToggle class="app-panel-inner" [class.app-mb-4]="inDocument()">
    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader
      (click)="panelHeader._toggle()">
      @if (!inDocument()) {
        <mat-panel-title>
          <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
          {{ 'card.panelTitle.Dokumentační jednotka' | translate }}&#160;<a [routerLink]="'/id/' + _result.ident_cely"
          [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge"
          [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ _result.ident_cely }}
          <mat-icon>link</mat-icon></a>–&#160;
          <app-inline-filter [field]="'f_dj_typ'" [value]="_result.dj_typ.id" [heslar]="'typ_dj'"></app-inline-filter>
          @if (_result.dj_nazev) {
            &#160;({{_result.dj_nazev}})
          }
        </mat-panel-title>
      }
    </mat-expansion-panel-header>
    @if (_detailExpanded || !inDocument()) {
      <!--*ngIf="result.dj_negativni_jednotka"-->
      <label class="app-label">{{ 'card.desc.Dok. jednotka - negativní zjištění' | translate }}:</label>&#160;
      {{ _result.dj_negativni_jednotka ? ('negativní' | translate) : ('pozitivní' | translate) }}
    }
    @if (_detailExpanded || !inDocument()) {
      <mat-accordion multi="true">
        @if (_result.dj_pian) {
          <app-pian [result]="_result.dj_pian" [isChild]="true"></app-pian>
        }
        @if (_result.adb_ident_cely) {
          <app-adb [result]="_result.adb_ident_cely" [isChild]="true"></app-adb>
        }
        @for (komponenta of _result.dj_komponenta; track komponenta.ident_cely) {
          <app-komponenta [result]="komponenta"></app-komponenta>
        }
      </mat-accordion>
    }
  </mat-expansion-panel>


</ng-template>