<form class="app-timeline">
  <div class="app-timeline-middle">
    <div class="app-timeline-body" #container>
      <button type="button" class="btn app-timeline-btn-circle app-btn-left app-clean-pd app-bg-blue-pastel" 
        [title]="titleOd"
        #handleLeft
        [style.marginLeft]="leftPosStr"
        (mousedown)="onMousedown($event, true)">
        <div class="app-timeline-period"><i class="fa fa-caret-right app-clean-pd" aria-hidden="true"></i>&#160;{{titleOd | translate}}</div><!-- period -->
        <span> </span>
      </button>
      <div class="app-timeline-in"><div> </div></div>
      <button type="button" class="btn app-timeline-btn-circle app-btn-right app-clean-pd app-bg-blue-pastel"
        [title]="titleDo"
        #handleRight
        [style.marginRight]="rightPosStr"
        (mousedown)="onMousedown($event, false)">
        <div class="app-timeline-period">{{titleDo | translate}}&#160;<i class="fa fa-caret-left app-clean-pd" aria-hidden="true"></i></div><!-- period -->
        <span> </span>
      </button>
      <div class="app-timeline-out"> </div>
    </div>
    <div class="app-timeline-body">
      <div class="app-timeline-in"> </div>
    </div>
  </div>
  <div *ngIf="button_is_down_"  (window:mousemove)="onMousemove($event)" (window:mouseup)="onMouseup($event)"></div>
</form>
