<mat-nav-list class="app-sidenav-list">
  <a mat-list-item routerLink="home" (click)="onSidenavClose($event)" routerLinkActive="app-active">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-list-item [href]="config.helpUrl" (click)="onSidenavClose($event)" target="_blank">
    <mat-icon>help_outline</mat-icon>
    {{ 'navbar.desc.Nápověda' | translate }}
  </a>
  <a mat-list-item routerLink="stats" (click)="onSidenavClose($event)" routerLinkActive="app-active">
    <mat-icon>query_stats</mat-icon>
    {{ 'navbar.desc.stats' | translate }}
  </a>
  <mat-divider></mat-divider>
  @if (!state.logged) {
    <a mat-list-item (click)="showLogin(); onSidenavClose($event)">
      <mat-icon>login</mat-icon>
      {{ 'navbar.desc.Přihlásit uživatele' | translate }}
    </a>
  }
  @if (!state.logged) {
    <a mat-list-item [href]="config.registrationUrl" target="_blank">
      <mat-icon>how_to_reg</mat-icon>
      {{ 'navbar.desc.Registrovat uživatele' | translate }}
    </a>
  }
  <mat-divider></mat-divider>
  @if (state.logged) {
    <a mat-list-item (click)="showLogin(); onSidenavClose($event)">
      <mat-icon>face</mat-icon>
      {{state.user.jmeno}} {{state.user.prijmeni}} ({{state.user.skupina[0].value | translate}})
    </a>
  }
  @if (state.currentLang !== 'en') {
    <a mat-list-item (click)="changeLang('en'); onSidenavClose($event)">English</a>
  }
  @if (state.currentLang !== 'cs') {
    <a mat-list-item (click)="changeLang('cs'); onSidenavClose($event)">Čeština</a>
  }
  <a mat-list-item (click)="onSidenavClose($event)">
    <mat-icon>close</mat-icon>
    {{ 'navbar.desc.Close' | translate }}
  </a>
</mat-nav-list>