<div *ngIf="docs.length > 0">
  <table *ngIf="docs.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <ng-container *ngIf="format">
          <th *ngIf="hasPian">{{'export.desc.Pian'| translate}}</th>
          <th *ngIf="hasPian">{{'export.desc.Přesnost'| translate}}</th>
          <th *ngIf="hasPian">{{'export.desc.PIAN - typ'| translate}}</th>
          <th *ngIf="hasPian">{{'export.desc.PIAN - Základní mapa 1:10 000'| translate}}</th>
          <th>{{'export.desc.Definiční bod (WGS-84)' | translate}}</th>
          <th *ngIf="hasPian">{{'export.desc.' + format | translate}}</th>
        </ng-container>
        <th *ngFor="let field of config.exportFields[state.entity]">{{ 'export.field.' + (field.label ? field.label : field.name) | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of docs; let idx = index">
        <td>{{idx + 1}}</td>
        <ng-container *ngIf="format">
          <td *ngIf="hasPian">{{r.pian.ident_cely}}</td>
          <td *ngIf="hasPian">{{r.pian.presnost | translateHeslar : 'presnost'}}</td>
          <td *ngIf="hasPian">{{r.pian.typ | translateHeslar : 'typ_pian'}}</td>
          <td *ngIf="hasPian">{{r.pian.zm10}}</td>
          <td>{{ r.lat }} : {{ r.lng }}</td>
          <td *ngIf="hasPian">{{r.geometrie}}</td>
        </ng-container>

        <td *ngFor="let field of config.exportFields[state.entity]">
          <ng-container *ngIf="field.byPath">
            <ng-container *ngIf="field.heslar">
              {{ getByPath(r, field.name) | translateHeslar : field.heslar}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type === 'date'">
              {{ getByPath(r, field.name) | date : 'yyyy-MM-dd'}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type !== 'date'">
              {{ getByPath(r, field.name) }}
            </ng-container>
          </ng-container>      
          <ng-container *ngIf="!field.byPath">
            <ng-container *ngIf="field.type === 'boolean'">
             {{r[field.name] + '' | translate}}
            </ng-container>
            <ng-container *ngIf="field.heslar">
              {{r[field.name] | translateHeslar : field.heslar}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type === 'date'">
              {{r[field.name] | date : 'yyyy-MM-dd'}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type !== 'date' && field.type !== 'boolean'">
              {{r[field.name]}}
            </ng-container>
          </ng-container>      
        </td>
<!--         
        <td *ngFor="let field of config.exportFields[state.entity]">
          <ng-container *ngIf="!field.secured || hasRights(r)">
            <ng-container *ngIf="field.heslar">
              {{r[field.name] | translateHeslar : field.heslar}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type === 'date'">
              {{r[field.name] | date : 'yyyy-MM-dd'}}
            </ng-container>
            <ng-container *ngIf="!field.heslar && field.type !== 'date'">
              {{r[field.name]}}
            </ng-container>
          </ng-container>
          
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
