<mat-card *ngIf="result" class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" [class.app-entity-dokument]="!isChild && !isDocumentDialogOpen">
  <a *ngIf="mapDetail" (click)="service.setMapResult(null, true)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutGap="16px">
      <div fxFlex (click)="service.showInMap(result, false, false, isChild)">    
        <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
        <mat-icon class="app-entity-dokument" [matTooltip]="'entities.dokument.title' | translate">{{ config.entityIcons[result.entity] }}</mat-icon>
        <ng-container [ngSwitch]="isChild">
          <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
          <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
        </ng-container><span class="app-pipe"></span>
        <ng-container *ngIf="result.dokument_autor">
          <ng-container *ngFor="let a of result.dokument_autor; let last = last;">
            <app-inline-filter [isChild]="isChild" [field]="'f_autor'" [value]="a"></app-inline-filter><span *ngIf="!last">; </span>
          </ng-container><span class="app-pipe"></span>
        </ng-container>
        <app-inline-filter [isChild]="isChild" [field]="'dokument_rok_vzniku'" [value]="result.dokument_rok_vzniku" [isYear]="true"></app-inline-filter>
        <span class="app-pipe"></span>
      </div>
      <div *ngIf="state.isMapaCollapsed && !isChild || mapDetail" class="app-last-change" [matTooltip]="result.datestamp | date : 'yyyy-MM-dd HH:mm:ss'">{{ 'card.desc.Poslední změna' | translate }}: {{ result.datestamp | date : 'yyyy-MM-dd' }}</div> 
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [class.app-detail-closed]="!detailExpanded">
    <div fxLayout="row" fxLayoutGap="16px" class="app-row-gap-16" fxFlexFill>
      <div *ngIf="imgSrc" class="app-thumb">
        <a *ngIf="isChild" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank">
          <img [src]="imgSrc" (load)="imageLoaded()" />
        </a>
        <a *ngIf="!isChild" (click)="viewFiles()">
          <img [src]="imgSrc" />
        </a>
      </div>
      <div *ngIf="!imgSrc && state.itemView === 'col' && !isDocumentDialogOpen" fxFlex class="app-thumb app-thumb-missing" [matTooltip]="'card.tooltip.Obrázek není k dispozici' | translate">
        <mat-icon>image_not_supported</mat-icon>
      </div>
      <div fxFlex *ngIf="mapDetail || state.isMapaCollapsed" class="app-metadata">
        <div *ngIf="result.dokument_typ_dokumentu || result.dokument_material_originalu || result.dokument_rada || result.pristupnost">
          <ng-container *ngIf="result.dokument_typ_dokumentu">
            <label class="app-label">{{ 'card.desc.Dokument - typ' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_typ_dokumentu'" [value]="result.dokument_typ_dokumentu" [heslar]="'typ_dokumentu'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.dokument_material_originalu">
            <label class="app-label">{{ 'card.desc.Materiál' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_material_dokumentu'" [value]="result.dokument_material_originalu" [heslar]="'material_dokumentu'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.dokument_rada">
            <label class="app-label">{{ 'card.desc.Dokument - řada' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_rada'" [value]="result.dokument_rada" [heslar]="'f_rada'"></app-inline-filter>
            <span class="app-pipe"></span>
          </ng-container>
          <ng-container *ngIf="result.pristupnost">
            <label class="app-label">{{ 'card.desc.Přístupnost' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'pristupnost'" [value]="result.pristupnost" [heslar]="'pristupnost'"></app-inline-filter>
          </ng-container>
        </div>

        

        <ng-container *ngIf="result.entity === 'knihovna_3d'">

        <div *ngIf="result.dokument_cast?.[0].komponenta?.[0].komponenta_obdobi || result.dokument_cast?.[0].komponenta?.[0].komponenta_presna_datace || result.dokument_cast?.[0].komponenta?.[0].komponenta_areal">
          <ng-container *ngIf="result.dokument_cast?.[0].komponenta?.[0].komponenta_obdobi || result.dokument_cast?.[0].komponenta?.[0].komponenta_presna_datace">
            <label class="app-label">{{ 'card.desc.Období' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_obdobi'" [value]="result.dokument_cast?.[0].komponenta?.[0].komponenta_obdobi.id" [heslar]="'obdobi_druha'"></app-inline-filter>
            <ng-container *ngIf="result.dokument_cast?.[0].komponenta?.[0].komponenta_presna_datace">&#160;({{ result.dokument_cast?.[0].komponenta?.[0].komponenta_presna_datace }})</ng-container> 
          </ng-container><span class="app-pipe"></span>
          <ng-container *ngIf="result.dokument_cast?.[0].komponenta?.[0].komponenta_areal">
            <label class="app-label">{{ 'card.desc.Komponenta - areál' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_areal'" [value]="result.dokument_cast?.[0].komponenta?.[0].komponenta_areal.id" [heslar]="'areal_druha'"></app-inline-filter>
          </ng-container><span class="app-pipe"></span>
        </div>
        
        <div *ngIf="result.dokument_extra_data.odkaz">
          <label class="app-label">{{'card.desc.Odkaz' | translate}}:</label>&#160;
            <a [href]="result.dokument_extra_data.odkaz" target="_blank">{{ result.dokument_extra_data.odkaz }}</a> 
        </div>
        </ng-container>


        <div *ngIf="result.dokument_doi">
          <ng-container>
            <label class="app-label">{{ 'DOI' | translate }}:</label>&#160;{{ result.dokument_doi }}
          </ng-container>
        </div>


        <div *ngIf="result.dokument_organizace">
          <ng-container>
            <label class="app-label">{{ 'card.desc.Organizace' | translate }}:</label>&#160;
            <app-inline-filter [isChild]="isChild" [field]="'f_organizace'" [value]="result.dokument_organizace" [heslar]="'organizace'"></app-inline-filter>
          </ng-container>
        </div>

        <div *ngIf="result.location_info && result.location_info.length > 0">
          <label class="app-label">{{ 'card.desc.Katastr (okres)' | translate }}:</label>&#160;
          
          <ng-container *ngFor="let item of result.location_info; let last = last">
            
              <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="item.katastr"></app-inline-filter>
           <span *ngIf="!last && item.katastr">,&#160;</span>
          </ng-container>

          (<ng-container *ngFor="let okres of okresy; let last = last">
          <app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="okres"></app-inline-filter><span *ngIf="!last">,&#160;</span>
          </ng-container>)

        </div>
        <div *ngIf="result.dokument_popis" class="app-truncate-text">
          <ng-container>
            <label class="app-label">{{ 'card.desc.Popis' | translate }}:</label>&#160;{{ result.dokument_popis }}
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex class="app-metadata">
      <ng-container *ngIf="result.dokument_cast_archeologicky_zaznam?.length > 0">
        {{ 'card.desc.Počet archeologickych zaznamu' | translate }}: <strong>{{result.dokument_cast_archeologicky_zaznam?.length}}</strong>
        <span class="app-pipe"></span>
      </ng-container> 
      <ng-container *ngIf="result.dokument_cast_projekt?.length > 0">
        {{'card.desc.Počet projektů' | translate}}: <strong>{{result.dokument_cast_projekt?.length}}</strong>
        <span class="app-pipe"></span>
      </ng-container> 
      <ng-container *ngIf="result.soubor_filepath?.length > 0">
        {{'card.desc.Počet souborů' | translate}}: <strong>{{result.soubor_filepath.length}}</strong>
      </ng-container>
    </div>
    <app-result-actions [inDocument]="inDocument" [result]="result" [bibTex]="bibTex" [isDocumentDialogOpen]="isDocumentDialogOpen" 
      [detailExpanded]="detailExpanded" [mapDetail]="mapDetail" (onToggleDetail)="toggleDetail()"></app-result-actions>
  </mat-card-actions>
  <mat-card-content *ngIf="detailExpanded && !isChild">
    <div class="app-card-detail">
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Popis dokumentu' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr *ngIf="result.dokument_jazyk_dokumentu?.length > 0 && result.entity !== 'knihovna_3d'">
                <th class="app-label">{{ 'card.desc.Jazyk' | translate }}:</th>
                <td>
                  <ng-container *ngFor="let jazyk of result.dokument_jazyk_dokumentu; let last = last">
                    <app-inline-filter [isChild]="isChild" [field]="'f_jazyk_dokumentu'" [value]="jazyk" [heslar]="'jazyk_dokumentu'"></app-inline-filter>
                    <span *ngIf="!last">,&#160;</span>
                  </ng-container>
                  
                </td>
              </tr>
              <tr *ngIf="result.dokument_popis">
                <th class="app-label">{{ 'card.desc.Popis obsahu' | translate }}:</th>
                <td>{{ result.dokument_popis }}</td>
              </tr>
              <tr *ngIf="result.dokument_poznamka">
                <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
                <td>{{ result.dokument_poznamka }}</td>
              </tr>
              <tr *ngIf="result.dokument_posudek">
                <th class="app-label">{{ 'card.desc.Zahrnuje posudky' | translate }}:</th>
                <td><ng-container *ngFor="let p of result.dokument_posudek; let last = last;">
                  <app-inline-filter [isChild]="isChild" [field]="'f_typ_dokumentu_posudek'" [value]="p" [heslar]="'posudek'"></app-inline-filter>
                  <span *ngIf="!last">, </span>
                </ng-container></td>
              </tr>
              <tr *ngIf="result.dokument_ulozeni_originalu">
                <th class="app-label">{{ 'card.desc.Dokument - uložení originálu' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'f_ulozeni_originalu'" [value]="result.dokument_ulozeni_originalu" [heslar]="'ulozeni_originalu'"></app-inline-filter></td>
              </tr>
              <tr *ngIf="result.dokument_oznaceni_originalu">
                <th class="app-label">{{ 'card.desc.Původní označení' | translate }}:</th>
                <td>{{ result.dokument_oznaceni_originalu }}</td>
              </tr>
              <tr *ngIf="result.dokument_datum_zverejneni && result.entity !== 'knihovna_3d'">
                <th class="app-label">{{ 'card.desc.Dokument - datum zveřejnění' | translate }}:</th>
                <td>{{ result.dokument_datum_zverejneni | date : 'yyyy-MM-dd' }}</td>
              </tr>
              <ng-container *ngIf="result.dokument_extra_data">
                <tr *ngIf="result.dokument_extra_data.cislo_objektu">
                  <th class="app-label">{{ 'card.desc.Objekt/kontext' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.cislo_objektu }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.geom_system">
                  <th class="app-label">{{ 'card.desc.geom_system' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.geom_system }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.geom_gml">
                  <th class="app-label">{{ 'card.desc.Poloha (GML)' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.geom_gml }}<br/>
                    <ng-container *ngIf="result.dokument_extra_data.geom_sjtsk_gml">
                      {{ result.dokument_extra_data.geom_sjtsk_gml }}
                    </ng-container>
                  </td>
                </tr>

                <tr *ngIf="result.dokument_extra_data.geom_wkt">
                  <th class="app-label">{{ 'card.desc.Poloha (WKT)' | translate }}:</th>
                  <td>
                    EPSG:{{ result.dokument_extra_data.geom_wkt.epsg }}, {{ result.dokument_extra_data.geom_wkt.value }}<br/>
                    <ng-container *ngIf="result.dokument_extra_data.geom_sjtsk_wkt">
                      EPSG:{{ result.dokument_extra_data.geom_sjtsk_wkt.epsg }}, {{ result.dokument_extra_data.geom_sjtsk_wkt.value }}
                    </ng-container>
                  </td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.format">
                  <th class="app-label">{{ 'card.desc.Dokument - formát' | translate }}:</th>
                  <td><app-inline-filter [isChild]="isChild" [field]="'f_format'" [value]="result.dokument_extra_data.format.id" [heslar]="'format'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.vyska">
                  <th class="app-label">{{ 'card.desc.Výška (cm)' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.vyska }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.sirka">
                  <th class="app-label">{{ 'card.desc.Šířka (cm)' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.sirka }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.meritko">
                  <th class="app-label">{{ 'card.desc.Měřítko' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.meritko }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.zachovalost">
                  <th class="app-label">{{ 'card.desc.Dokument - zachovalost' | translate }}:</th>
                  <td><app-inline-filter [isChild]="isChild" [field]="'f_zachovalost'" [value]="result.dokument_extra_data.zachovalost.id" [heslar]="'zachovalost'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.nahrada">
                  <th class="app-label">{{ 'card.desc.Náhrada' | translate }}:</th>
                  <td><app-inline-filter [isChild]="isChild" [field]="'f_nahrada'" [value]="result.dokument_extra_data.nahrada.id" [heslar]="'nahrada'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.pocet_variant_originalu">
                  <th class="app-label">{{ 'card.desc.Počet variant' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.pocet_variant_originalu }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.odkaz && result.entity !== 'knihovna_3d'">
                  <th class="app-label">{{ 'card.desc.Odkaz' | translate }}:</th>
                  <td><a [href]="result.dokument_extra_data.odkaz" target="_blank">{{result.dokument_extra_data.odkaz}}</a></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.datum_vzniku">
                  <th class="app-label">{{ 'card.desc.Dokument - datum vzniku' | translate }}:</th>
                  <td>
                    {{ result.dokument_extra_data.datum_vzniku | date : 'yyyy-MM-dd' }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.zeme">
                  <th class="app-label">{{ 'card.desc.Země' | translate }}:</th>
                  <td><app-inline-filter [isChild]="isChild" [field]="'f_zeme'" [value]="result.dokument_extra_data.zeme.id" [heslar]="'zeme'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.region">
                  <th class="app-label">{{ 'card.desc.Region' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.region }}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.udalost_typ">
                  <th class="app-label">{{ 'card.desc.Typ události' | translate }}:</th>
                  <td><app-inline-filter [isChild]="isChild" [field]="'f_udalost_typ'" [value]="result.dokument_extra_data.udalost_typ.id" [heslar]="'udalost_typ'"></app-inline-filter></td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.udalost">
                  <th class="app-label">{{ 'card.desc.Událost' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.udalost}}</td>
                </tr>
                <tr *ngIf="result.dokument_extra_data.rok_od || result.dokument_extra_data.rok_do">
                  <th class="app-label">{{ 'card.desc.Rok od-do' | translate }}:</th>
                  <td>{{ result.dokument_extra_data.rok_od }}-{{ result.dokument_extra_data.rok_do }}</td>
                </tr>
              </ng-container>
              <tr *ngIf="result.dokument_osoba">
                <th class="app-label">{{ 'card.desc.Osoby' | translate }}:</th>
                <td>{{ result.dokument_osoba }}</td>
              </tr>
              <tr *ngIf="result.dokument_extra_data && result.dokument_extra_data.duveryhodnost">
                <th class="app-label">{{ 'card.desc.Důvěryhodnost' | translate }}:</th>
                <td>{{ result.dokument_extra_data.duveryhodnost }}</td>
              </tr>
              <tr *ngIf="result.dokument_licence">
                <th class="app-label">{{ 'card.desc.Licence' | translate }}:</th>
                <td><app-inline-filter [isChild]="isChild" [field]="'dokument_licence'" [value]="result.dokument_licence" [heslar]="'dokument_licence'"></app-inline-filter></td>
              </tr>
            </tbody>
          </table>
          
          <mat-accordion multi="true">
            <app-let *ngIf="result.dokument_let" [result]="result.dokument_let"></app-let>
            <mat-expansion-panel #panel *ngIf="result.dokument_tvar" [expanded]="true" hideToggle class="app-panel-inner">
              <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                <mat-panel-title>
                  <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                  {{ 'card.panelTitle.Dokumentované tvary' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="app-list-inside">
                <li *ngFor="let tvar of result.dokument_tvar">
                  <app-inline-filter [isChild]="isChild" [field]="'f_tvar'" [value]="tvar.tvar.id" [heslar]="'tvar'"></app-inline-filter>
                  <ng-container *ngIf="tvar.poznamka">({{ tvar.poznamka }})</ng-container>
                </li>
              </ul>
            </mat-expansion-panel>

            <mat-expansion-panel #panel *ngFor="let dokument_cast of result.dokument_cast" [expanded]="true" hideToggle class="app-panel-inner">
              <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto" #panelHeader (click)="panelHeader._toggle()">
                <mat-panel-title>
                  <mat-icon (click)="panelHeader._toggle()">{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                  {{ 'card.panelTitle.Část dokumentu' | translate }}&#160;<a [routerLink]="'/id/' + dokument_cast.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ dokument_cast.ident_cely }} <mat-icon>link</mat-icon></a>

                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container *ngIf="dokument_cast.archeologicky_zaznam || dokument_cast.projekt">
                <label class="app-label">{{ 'card.desc.Dokumentovaná akce/lokalita' | translate }}:</label>&#160;
                <ng-container *ngIf="dokument_cast.archeologicky_zaznam">
                  <a [routerLink]="'/id/' + dokument_cast.archeologicky_zaznam.id" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ dokument_cast.archeologicky_zaznam.id }} <mat-icon>link</mat-icon></a>
                </ng-container>
                <ng-container *ngIf="dokument_cast.projekt">
                  <a [routerLink]="'/id/' + dokument_cast.projekt.id" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge app-inbody" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ dokument_cast.projekt.id }} <mat-icon>link</mat-icon></a>
                </ng-container>
              </ng-container>

              <mat-accordion multi="true">
                <app-komponenta *ngFor="let kd of dokument_cast.komponenta"  [result]="kd"></app-komponenta>
                <mat-expansion-panel #panel *ngIf="dokument_cast.neident_akce" [expanded]="true" hideToggle class="app-panel-inner">
                  <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                    <mat-panel-title>
                      <mat-icon>{{ panel.expanded ? 'remove' : 'add' }}</mat-icon>
                      {{ 'card.panelTitle.Neidentifikovaná akce' | translate }}:
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table>
                    <tr *ngIf="dokument_cast.neident_akce.katastr || dokument_cast.neident_akce.okres">
                      <th class="app-label">{{ 'card.desc.Katastr (okres)' | translate }}:</th>
                      <td>
                        <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="dokument_cast.neident_akce.katastr.value"></app-inline-filter>
                        <ng-container *ngIf="dokument_cast.neident_akce.okres">
                          &#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="dokument_cast.neident_akce.okres.value"></app-inline-filter>)
                        </ng-container></td>
                    </tr>
                    <tr *ngFor="let v of dokument_cast.neident_akce.vedouci">
                      <th class="app-label">{{ 'card.desc.Vedoucí akce' | translate }}:</th>
                      <td><app-inline-filter [isChild]="isChild" [field]="'f_vedouci'" [value]="v.value"></app-inline-filter></td>
                    </tr>
                    <tr *ngIf="dokument_cast.neident_akce.rok_zahajeni || dokument_cast.neident_akce.rok_ukonceni">
                      <th class="app-label">{{ 'card.desc.Rok od-do' | translate }}:</th>
                      <td>{{ dokument_cast.neident_akce.rok_zahajeni }}<ng-container *ngIf="dokument_cast.neident_akce.rok_ukonceni">-{{ dokument_cast.neident_akce.rok_ukonceni }}</ng-container></td>
                    </tr>
                    <tr *ngIf="dokument_cast.neident_akce.lokalizace">
                      <th class="app-label">{{ 'card.desc.Akce - lokalizace' | translate }}:</th>
                      <td>{{ dokument_cast.neident_akce.lokalizace }}</td>
                    </tr>
                    <tr *ngIf="dokument_cast.neident_akce.popis">
                      <th class="app-label">{{ 'card.desc.Popis' | translate }}:</th>
                      <td>{{ dokument_cast.neident_akce.popis }}</td>
                    </tr>
                    <tr *ngIf="dokument_cast.neident_akce.poznamka">
                      <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
                      <td>{{ dokument_cast.neident_akce.poznamka }}</td>
                    </tr>
                    <tr *ngIf="dokument_cast.neident_akce.pian">
                      <th class="app-label">{{ 'card.desc.Pian' | translate }}:</th>
                      <td>{{ dokument_cast.neident_akce.pian }}</td>
                    </tr>
                  </table> 
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>

        <app-related [related]="related"></app-related>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
