// --- SIDENAV CONTAINER ---

.app-sidenav-container {
  height: calc(100vh - 217px);

  .mat-mdc-sidenav {
    @extend .app-clean-bg, .app-clean-border;
    width: calc(#{$app-table-cell-left-width} + 40px);

    .mat-mdc-drawer-inner-container {
      background-color: $app-color-lightnes;
      width: $app-table-cell-left-width;
      box-shadow: 0 -1px 24px rgb(0 0 0 / 40%);

      .app-btn {
        right: 0 !important;
        left: unset !important;
      }
    }

    @media #{$lt-sm} { 
      width: 100%;

      .mat-mdc-drawer-inner-container {
        width: 100%;
      }
    }

    .mat-mdc-tab-group {
      /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      .mat-mdc-tab-label {
        min-width: 50%;
      }
    }

    .app-result-item {
      @extend .app-clean-shadow, .app-clean-radius;
      border-bottom: 1px solid $app-gray-2;
      padding-top: calc(#{$app-gap} / 2);
      padding-bottom: calc(#{$app-gap} / 2);

      &:hover {
        background-color: $app-gray-2;
      }

      &.app-row-gap-16 {
        @extend .app-clean-mg;
      }

      .mat-mdc-card-header {
        .mat-mdc-card-title {
          @extend .app-clean-mg;
          font-size: 14px;
         
          a {
            .mat-mdc-icon {
              @include setIcon(20);
            }
          }
        }
      }
      .mat-mdc-card-content,
      .mat-mdc-card-actions {
        display: none !important;
      }
    }

    app-paginator {
      & > div {
        border-bottom: 1px solid $app-gray-3;
      }

      .mat-mdc-paginator-container {
        width: auto;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-mdc-paginator-page-size,
      .app-sorting,
      .mat-mdc-form-field-label {
        display: none !important;
      }

      .app-page-num {
        $val: 50px;
        flex: 1 1 $val !important;
        max-width: $val !important;
        min-width: $val !important;
      }
    }
  }

  .app-btn {
    position: absolute;
    top: $app-gap-map;
    left: $app-gap-map;
    z-index: 1092;
    min-width: 0;
    line-height: 28px;
    padding: 0 1px;

    .app-btn-text {
      @extend .app-pr-2;

      @media (max-width: 360px) {
        display: none;
      } 
    }
  }

  .app-view-card-info {
    position: absolute;
    top: $app-gap-top-card-info;
    right: $app-gap-map;
    z-index: 1002;
    width: 850px;
    margin-left: 142px;
    max-height: calc(100% - #{$app-gap-top-card-info});
    overflow-y: auto;

    .mat-mdc-card-title {
      max-width: calc(100% - 35px);
    }

    @media #{$lt-md} {
      width: calc(100% - (16px + #{$app-gap-map}));
    }
  }

  .app-active-pian-facet {
    @extend .app-clean-shadow;
    position: absolute;
    top: calc(#{$app-gap-map} - 2px);
    right: 170px;
    z-index: 1002;
    padding: 0 $app-gap-icon;
    min-height: 30px;
    line-height: 30px;
    border: 2px solid #ccc;

    a {
      .mat-mdc-icon {
        @extend .app-mr-1;
        color: $app-color-warning;
        @include setIcon($size: 18, $position: middle);
      }
    }
  }
}

