// --- FILE VIEWER ---

app-file-viewer {
  .mat-dialog-title {
    position: relative;

    .app-close-icon {
      position: absolute;
      top: 5px;
      right: 0;
      color: $app-color-darknes;
    }
  }

  .mat-dialog-content {
    overflow: unset;

   .app-controls {
      .mat-icon {
      @include setIcon($position: middle);  
      }
     
      .mat-form-field {
        width: 30px;
        font-weight: bold;
      }
    }

    .app-metadata {
      .mat-icon {
        @include setIcon($position: middle);
      }
    }

    .ngucarousel {
      & > .ngu-touch-container {
        & > .ngucarousel-items {
          & > .item {
            text-align: center !important;
          }
        }
      }
    }
  }
}