// --- HOME ---

app-home {
  .app-entities-wrapper {
    .mat-mdc-card {
      @extend .app-row-gap-32, .app-font-family-rc;
    
      &.app-card-entity {
        @include setEntityColor(home_card);
        flex: 1 1 100%;
        min-width: 100%;
        box-sizing: border-box;
        margin-right: $app-gap-double;
        color: $app-color-lightnes;
  
        &:nth-child(6) {
          margin-right: 0;
        }

        // mq
        @media #{$xxs} {
          $flex-width: 50%;
          flex: 1 1 calc(#{$flex-width} - #{$app-gap-double});
          min-width: calc(#{$flex-width} - #{$app-gap-double});

          &:nth-child(2),
          &:nth-child(4) {
            margin-right: 0 !important;
          }
        }

        @media #{$sm} {
          $flex-width: 33.3333%;
          flex: 1 1 calc(#{$flex-width} - #{$app-gap-double});
          min-width: calc(#{$flex-width} - #{$app-gap-double});

          &:nth-child(3) {
            margin-right: 0;
          }
        }

        @media #{$gt-sm} {
          $flex-width: 16.6666%;
          flex: 1 1 calc(#{$flex-width} - #{$app-gap-double});
          min-width: calc(#{$flex-width} - #{$app-gap-double});
        }

        a {
          @include setLinkColor($app-color-lightnes);
        }
  
        .mat-mdc-card-title {
          min-height: 48px;

          span {
            margin-top: 4px;
          }
        }
  
        .mat-mdc-card-subtitle {
          @extend .app-clean-mg;
        }
  
        .mat-mdc-card-title {
          .mat-mdc-icon {
            @include setIcon(28);
          }
        }
  
        .mat-mdc-card-actions {
          position: relative;
  
          span {
            font-weight: bold;
          }
          
          @include setEntityColor(ico);

          .app-icon-inside {
            position: absolute;
            right: 0;
            bottom: -3px;
            background-color: $app-color-lightnes;
            //border: 1px solid rgba($app-color-lightnes, .6);
            min-height: 20px;
            min-width: 20px;
            border-radius: 50%;
            display: inline-flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
          }
        }
      } 
    }

    .app-doctype {
      padding-bottom: 0;
      
      .app-card-doctype {
        $flex-width: 100%;
        flex: 1 1 $flex-width;
        min-width: $flex-width;
        box-sizing: border-box;
        margin-bottom: $app-gap !important;
        margin-right: $app-gap;
        background-color: $app-gray-2;

        &:nth-child(5) {
          margin-right: 0 !important;
        }

        // mq
        @media #{$sm} {
          $flex-width: 50%;
          flex: 1 1 calc(#{$flex-width} - #{$app-gap});
          min-width: calc(#{$flex-width} - #{$app-gap});

          &:nth-child(-n+3) {
            $flex-width: 33.3333%;
            flex: 1 1 calc(#{$flex-width} - #{$app-gap});
            min-width: calc(#{$flex-width} - #{$app-gap});
          }

          &:nth-child(3) {
            margin-right: 0 !important;
          }
        }

        @media #{$gt-sm} {
          $flex-width: 20%;
          flex: 1 1 calc(#{$flex-width} - #{$app-gap});
          min-width: calc(#{$flex-width} - #{$app-gap});
        }

        .mat-mdc-card-title {
          a {
            @include setLinkColor($app-color-darknes);
          }
        }
        
        .mat-mdc-card-subtitle {
          @extend .app-clean-mg;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  
  .app-desc-wrapper {
    flex-flow: wrap;

    @media #{$gt-xs} {
      flex-flow: nowrap;
    }

    .app-fx-left,
    .app-fx-right {
      $flex-width: 100%;
      flex: 1 1 $flex-width !important;
      min-width: $flex-width;
      margin-right: $app-gap-double;

      &:last-child {
        margin-right: 0;
      }

      @media #{$gt-xs} {
        $flex-width: 50%;
        flex: 1 1 calc(#{$flex-width} - #{$app-gap-double});
        min-width: calc(#{$flex-width} - #{$app-gap-double});
      }
    }

    .app-fx-left {
      margin-bottom: $app-gap-double;

      @media #{$gt-xs} {
        margin-bottom: 0;  
      }
    }

    .app-fx-right {
      position: relative;

      .mat-mdc-card {
        position: unset;
        height: calc(100% - #{$app-gap-double});
        overflow: hidden;

        @media #{$gt-xs} {
          position: absolute;
        }

        .mat-mdc-card-content {
          height: 87%;
          overflow: auto;
        }
      }
    }
  } 
}