<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" [class.app-entity-lokalita]="!isChild && !isDocumentDialogOpen" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutGap="16px">
      <div fxFlex>
        <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
        <mat-icon class="app-entity-lokalita" [matTooltip]="'entities.lokalita.title' | translate">{{ config.entityIcons["lokalita"] }}</mat-icon>
        <ng-container [ngSwitch]="isChild">
          <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
          <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
        </ng-container><span class="app-pipe"></span>
        <ng-container *ngIf="result.az_chranene_udaje">
          <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="result.az_chranene_udaje.hlavni_katastr.value"></app-inline-filter>
        </ng-container>&#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="result.az_okres"></app-inline-filter>)
        <span class="app-pipe"></span><ng-container *ngIf="result.az_chranene_udaje?.nazev">{{ result.az_chranene_udaje.nazev }}<span class="app-pipe"></span></ng-container>
      </div>
      <div *ngIf="state.isMapaCollapsed && !isChild || mapDetail" class="app-last-change" [matTooltip]="result.datestamp | date : 'yyyy-MM-dd hh:mm:ss'">{{ 'card.desc.Poslední změna' | translate }}: {{ result.datestamp | date : 'yyyy-MM-dd' }}</div> 
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [class.app-detail-closed]="!detailExpanded">
    <div *ngIf="state.itemView === 'col' && !isDocumentDialogOpen && !isChild" class="app-thumb" fxLayout="row" fxFlexFill fxLayoutAlign="center center" [matTooltip]="'card.tooltip.Obrázek není k dispozici' | translate">
      <mat-icon>image_not_supported</mat-icon>
    </div>
    <div class="app-metadata app-row-gap-16">
      <div>
        <ng-container *ngIf="result.lokalita_typ_lokality || result.lokalita_druh || result.pristupnost">
          <label class="app-label">{{ 'card.desc.Dokument - typ' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'f_typ_lokality'" [value]="result.lokalita_typ_lokality" [heslar]="'typ_lokality'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.lokalita_druh">
          <label class="app-label">{{ 'card.desc.Druh lokality' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'f_druh_lokality'" [value]="result.lokalita_druh" [heslar]="'druh_lokality_druha'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.lokalita_zachovalost">
          <label class="app-label">{{ 'card.desc.lokalita_zachovalost' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'lokalita_zachovalost'" [value]="result.lokalita_zachovalost" [heslar]="'lokalita_zachovalost'"></app-inline-filter>
          <!-- <span>{{ result.lokalita_zachovalost | translateHeslar : 'lokalita_zachovalost' }}</span>  -->
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.lokalita_jistota">
          <label class="app-label">{{ 'card.desc.lokalita_jistota' | translate }}:</label>&#160;
          <span>{{ result.lokalita_jistota | translateHeslar : 'f_jistota' }}</span> 
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.pristupnost">
          <label class="app-label">{{ 'card.desc.Přístupnost' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'pristupnost'" [value]="result.pristupnost" [heslar]="'pristupnost'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
      </div>
      <div *ngIf="result.az_chranene_udaje?.dalsi_katastr?.length > 0">
        <label class="app-label">{{ 'card.desc.Další katastry' | translate }}:</label>&#160;
        <ng-container *ngFor="let k of result.az_chranene_udaje.dalsi_katastr; let last = last">
          <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="k.value"></app-inline-filter>
          <!-- &#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="service.getOkres(k)"></app-inline-filter>) -->
          <span *ngIf="!last">;&#160;</span>
        </ng-container>
      </div>
      <div *ngIf="result.lokalita_chranene_udaje?.popis" class="app-truncate-text">
        <label class="app-label">{{ 'card.desc.Popis' | translate }}:</label>&#160;{{ result.lokalita_chranene_udaje.popis }}<!-- {{ cropped(result.popis) }} -->
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex class="app-metadata">
      <ng-container *ngIf="result.dokument?.length > 0">
        {{'card.desc.Počet dokumentů' | translate}}: <strong>{{ result.dokument.length }}</strong>
        <span class="app-pipe"></span>
      </ng-container>
    </div>
    <app-result-actions [result]="result" [bibTex]="bibTex" [isDocumentDialogOpen]="isDocumentDialogOpen" 
      [detailExpanded]="detailExpanded" [mapDetail]="mapDetail" (onToggleDetail)="toggleDetail()"></app-result-actions>
  </mat-card-actions>
  <mat-card-content *ngIf="detailExpanded && !isChild">
    <div class="app-card-detail">
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Popis lokality' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr *ngIf="result.az_chranene_udaje?.uzivatelske_oznaceni">
                <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
                <td>{{ result.az_chranene_udaje?.uzivatelske_oznaceni }}</td>
              </tr>
              <tr *ngIf="result.lokalita_chranene_udaje?.popis">
                <th class="app-label">{{ 'card.desc.Popis' | translate }}:</th>
                <td>{{ result.lokalita_chranene_udaje?.popis }}</td>
              </tr>
              <tr *ngIf="result.lokalita_chranene_udaje?.poznamka">
                <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
                <td>{{ result.lokalita_chranene_udaje?.poznamka }}</td>
              </tr>
            </tbody>
          </table>
          <mat-accordion multi="true">
            <app-dok-jednotka *ngFor="let dok_jednotka of result.dokumentacni_jednotka" [result]="dok_jednotka" [pians]="result.pian" [adbs]="result.adb"></app-dok-jednotka> 
          </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="result.ext_zdroj?.length > 0" [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Externí zdroje' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="app-clean-mg">
            <app-externi-zdroj *ngFor="let extZdroj of result.ext_zdroj" [result]="extZdroj" ></app-externi-zdroj>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="result.dokument?.length > 0" [expanded]="true" class="app-panel-souvisejici-zaznamy virtual">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Související záznamy' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <cdk-virtual-scroll-viewport *ngIf="vsSize > 0 && !state.printing" [itemSize]="itemSize" [style.height.px]="vsSize"  [style.width]="'100%'" 
            [minBufferPx]="math.min(9*itemSize, numChildren * itemSize)" [maxBufferPx]="math.min(9*itemSize, numChildren * itemSize)*2">
            <app-dokument *cdkVirtualFor="let dok of result.valid_dokument" [result]="dok" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-dokument>
          </cdk-virtual-scroll-viewport>
          <ng-container *ngIf="state.printing">
            <app-dokument *ngFor="let dok of result.valid_dokument" [result]="dok" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-dokument>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>