<mat-card class="app-result-item app-row-gap-16" [class.app-card-child]="isChild" [class.app-entity-lokalita]="!isChild && !isDocumentDialogOpen" (click)="state.setMapResult(result, mapDetail)">
  <a *ngIf="mapDetail" (click)="state.setMapResult(null, false)" class="app-link-close" [matTooltip]="'card.tooltip.Zavřít' | translate">
    <mat-icon>clear</mat-icon>
  </a>
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutGap="16px">
      <div fxFlex>
        <a *ngIf="!state.isMapaCollapsed && !isChild && !mapDetail"><mat-icon>info</mat-icon></a>
        <mat-icon class="app-entity-lokalita" [matTooltip]="'entities.lokalita.title' | translate">{{ config.entityIcons["lokalita"] }}</mat-icon>
        <ng-container [ngSwitch]="isChild">
          <a *ngSwitchCase="true" [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank" class="app-ident-badge" [matTooltip]="'card.tooltip.Persistentní odkaz' | translate">{{ result.ident_cely }} <mat-icon>link</mat-icon></a>
          <span *ngSwitchDefault class="app-ident-format">{{ result.ident_cely }}</span>
        </ng-container><span class="app-pipe"></span>
        <ng-container *ngIf="hasRights">
          <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="result.katastr"></app-inline-filter>
        </ng-container>&#160;(<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="result.okres"></app-inline-filter>)
        <span class="app-pipe"></span><ng-container *ngIf="hasRights">{{ result.nazev }}<span class="app-pipe"></span></ng-container>
      </div>
      <div *ngIf="state.isMapaCollapsed && !isChild || mapDetail" class="app-last-change">{{ 'card.desc.Poslední změna' | translate }}: {{ result.datestamp | date : 'yyyy-MM-dd' }}</div> 
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [class.app-detail-closed]="!detailExpanded">
    <div *ngIf="state.itemView === 'col' && !isDocumentDialogOpen && !isChild" class="app-thumb" fxLayout="row" fxFlexFill fxLayoutAlign="center center" [matTooltip]="'card.tooltip.Obrázek není k dispozici' | translate">
      <mat-icon>image_not_supported</mat-icon>
    </div>
    <div class="app-metadata app-row-gap-16">
      <div *ngIf="result.typ_lokality">
        <ng-container *ngIf="result.typ_lokality || result.druh || result.pristupnost">
          <label class="app-label">{{ 'card.desc.Dokument - typ' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'f_typ_lokality'" [value]="result.typ_lokality" [heslar]="'typ_lokality'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.druh">
          <label class="app-label">{{ 'card.desc.Druh lokality' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'f_druh_lokality'" [value]="result.druh" [heslar]="'druh_lokality_druha'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
        <ng-container *ngIf="result.pristupnost">
          <label class="app-label">{{ 'card.desc.Přístupnost' | translate }}:</label>&#160;
          <app-inline-filter [isChild]="isChild" [field]="'pristupnost'" [value]="result.pristupnost" [heslar]="'pristupnost'"></app-inline-filter>
          <span class="app-pipe"></span>
        </ng-container>
      </div>
      <div *ngIf="result.dalsi_katastry && hasRights">
        <label class="app-label">{{ 'card.desc.Další katastry' | translate }}:</label>&#160;
        <ng-container *ngFor="let k of result.dalsi_katastry; let last = last">
          <app-inline-filter [isChild]="isChild" [field]="'f_katastr'" [value]="service.getKatastr(k)"></app-inline-filter>&#160;
          (<app-inline-filter [isChild]="isChild" [field]="'f_okres'" [value]="service.getOkres(k)"></app-inline-filter>)<span *ngIf="!last">;&#160;</span>
        </ng-container>
      </div>
      <div *ngIf="result.popis && hasRights" class="app-truncate-text">
        <label class="app-label">{{ 'card.desc.Popis' | translate }}:</label>&#160;{{ result.popis }}<!-- {{ cropped(result.popis) }} -->
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isChild" fxLayout="row" fxLayoutAlign="start end">
    <div fxFlex class="app-metadata">
      <ng-container *ngIf="result.child_dokument?.length > 0">
        {{'card.desc.Počet dokumentů' | translate}}: <strong>{{ result.child_dokument.length }}</strong>
        <span class="app-pipe"></span>
      </ng-container>
    </div>
    <div>
      <button *ngIf="!mapDetail && hasRights && result.loc" mat-flat-button (click)="service.showInMap(result)" [matTooltip]="'card.tooltip.Zobrazit na mapě' | translate">
        <mat-icon>map</mat-icon>
      </button>
      <button mat-flat-button [matTooltip]="'card.tooltip.Odkazy' | translate" [matMenuTriggerFor]="links">
        <mat-icon>link</mat-icon>
      </button>
      <mat-menu #links="matMenu">
        <a mat-menu-item [routerLink]="'/id/' + result.ident_cely" [queryParams]="{lang: state.currentLang}" target="_blank">
          {{ 'card.menu.Persistentní odkaz' | translate }}
        </a>
        <a mat-menu-item *ngFor="let item of config.choiceApi" [href]="'https://api.aiscr.cz/dapro/oai?verb=GetRecord&identifier=https://api.aiscr.cz/id/' + result.ident_cely + '&metadataPrefix=' + item.metadataPrefix" target="_blank">
          {{ 'card.menu.api_prefix' | translate }} - {{ item.label }}
        </a>
      </mat-menu>
      <button mat-flat-button (click)="service.showBiBText(result.ident_cely, bibTex)" [matTooltip]="'BibTeX'">
        <mat-icon>menu_book</mat-icon>
      </button>
      <button *ngIf="inDocument" mat-flat-button (click)="service.print()" [matTooltip]="'card.tooltip.Vytisknout' | translate">
        <mat-icon>print</mat-icon>
      </button>
      <a *ngIf="!inDocument" mat-flat-button target="_blank" [href]="'print/'+result.ident_cely+'?lang='+state.currentLang" [matTooltip]="'card.tooltip.Vytisknout' | translate">
        <mat-icon>print</mat-icon>
      </a>
      <button mat-flat-button *ngIf="state.logged" (click)="toggleFav()" [class.app-color-fav]="result.isFav" [matTooltip]="result.isFav ? ('card.tooltip.Odebrat z oblíbených' | translate)  : ('card.tooltip.Uložit do oblíbených' | translate)">
        <mat-icon>grade</mat-icon>
      </button>
      <button mat-flat-button (click)="openFeedback()" [matTooltip]="'card.tooltip.Odeslat komentář' | translate">
        <mat-icon>feedback</mat-icon>
      </button>
      <button mat-flat-button *ngIf="hasRights && !isDocumentDialogOpen" (click)="toggleDetail()" [ngClass]="detailExpanded ? 'app-rotate-up' : 'app-rotate-down'">
        {{(detailExpanded ? 'card.button.Skrýt detail' : 'card.button.Zobrazit detail') | translate }}<mat-icon>expand_more</mat-icon>
      </button>
      <button mat-flat-button class="app-col-detail" *ngIf="state.itemView === 'col' && !isDocumentDialogOpen" (click)="openDocument()">
        {{ 'card.button.Zobrazit detail' | translate }}
      </button>
      <button mat-flat-button class="app-col-detail" [mat-dialog-close]="false" *ngIf="state.itemView === 'col' && isDocumentDialogOpen">
        {{ 'card.button.Skrýt detail' | translate }}
      </button>
    </div>
  </mat-card-actions>
  <mat-card-content *ngIf="detailExpanded && !isChild && hasRights">
    <div class="app-card-detail">
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Popis lokality' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <tr *ngIf="result.uzivatelske_oznaceni">
                <th class="app-label">{{ 'card.desc.Uživatelské označení' | translate }}:</th>
                <td>{{ result.uzivatelske_oznaceni }}</td>
              </tr>
              <tr *ngIf="result.popis">
                <th class="app-label">{{ 'card.desc.Popis' | translate }}:</th>
                <td>{{ result.popis }}</td>
              </tr>
              <tr *ngIf="result.poznamka">
                <th class="app-label">{{ 'card.desc.Poznámka' | translate }}:</th>
                <td>{{ result.poznamka }}</td>
              </tr>
            </tbody>
          </table>
          <mat-accordion multi="true">
            <app-dok-jednotka *ngFor="let dok_jednotka of result.dok_jednotka" [result]="dok_jednotka" [pians]="result.pian" [adbs]="result.adb"></app-dok-jednotka>
          </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="result.ext_zdroj?.length > 0" [expanded]="true">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Externí zdroje' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="app-clean-mg">
            <app-externi-zdroj *ngFor="let extZdroj of result.ext_zdroj" [result]="extZdroj" ></app-externi-zdroj>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="result.child_dokument?.length > 0" [expanded]="true" class="app-panel-souvisejici-zaznamy">
          <mat-expansion-panel-header [expandedHeight]="config.uiVars.panelHeightInCard" [collapsedHeight]="config.uiVars.panelHeightInCard">
            <mat-panel-title>
              {{ 'card.panelTitle.Související záznamy' | translate }}:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-dokument *ngFor="let dok of result.dokument" [result]="dok" [isChild]="true" [mapDetail]="mapDetail" class="app-related-item"></app-dokument>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>