@if (state.loading()) {
  <div class="app-display-table app-loading">
    <div class="app-table-cell app-clean-pd">
      <mat-progress-bar mode="determinate" [value]="state.documentProgress"></mat-progress-bar>
    </div>
  </div>
}

@if (!state.loading() && state.printing()) {
  <div class="app-display-table app-loading">
    <div class="app-table-cell app-clean-pd">
      <mat-progress-bar mode="determinate" [value]="(this.state.imagesLoaded * 100.0 / this.state.numImages)"></mat-progress-bar>
    </div>
  </div>
}

@if (state.loading()) {
  <div class="app-loading-progress">{{ 'loading' | translate }} {{ state.documentProgress | number : '1.0-0' }}% ... </div>
}

@if (!state.loading() && state.imagesLoading && state.printing()) {
  <div class="app-loading-progress">{{ 'loading images' | translate }}: {{ (this.state.imagesLoaded * 100.0 / this.state.numImages) | number : '1.0-0' }}% ...</div>
}

@if (!loading) {
  <div class="app-display-table app-container">
    @if (state.isMapaCollapsed) {
      <div class="app-table-cell">
        <mat-card class="app-card-info app-row-gap-16">
          <mat-card-content>
            @if (!isResultEmpty(result)) {
              <strong>{{ 'card.desc.Persistentní odkaz' | translate }}: </strong> {{link}}
              <app-citation [result]="result" [link]="link"></app-citation>
            }
            @if (isResultEmpty(result)) {
              {{ 'card.note.idnotfound' | translate }}
            }
          </mat-card-content>
        </mat-card>
        @if (!isResultEmpty(result)) {
          <app-entity-container [result]="result" [detailExpanded]="true" [inDocument]="true" [isChild]="false"></app-entity-container>
      	}
    	</div>
  	}
	</div>
}