<mat-list role="list">
  <h3 mat-subheader class="app-fxLayout app-row app-center-v app-color-primary">
    <div class="app-fxFlex">{{ 'facet.title.Aktivní filtry' | translate }}</div>
    <div>
      <a class="app-fxLayout app-row app-center-v app-color-warn" [matTooltip]="'facet.tooltip.Odstranit všechny filtry' | translate" matTooltipPosition="above" (click)="clean()">
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </h3>
  @for (facet of state.breadcrumbs; track facet) {
    <mat-list-item role="listitem" >
      @if (facet.field === 'separator') {
        <div class="app-fxLayout app-row app-center-v app-gap-1 app-separator-and">
          <mat-icon></mat-icon>
          <span>-- AND --</span>
        </div>
      }
      @if (facet.field === 'cf') {
        <div>
          <a [matTooltip]="'facet.tooltip.Odstranit tento filtr' | translate" matTooltipPosition="above" (click)="removeCommonFacet(facet.display)">
            <mat-icon>close</mat-icon>{{ 'commonFacets.' + facet.display | translate}}
          </a>
        </div> 
      }
      @if (facet.field !== 'separator' && facet.field !== 'cf') {
        <div class="app-fxLayout app-row app-start-v app-gap-1 app-item-wrapper">
          <a class="app-fxLayout app-row app-center-v" [matTooltip]="'facet.tooltip.Odstranit tento filtr' | translate" matTooltipPosition="above" (click)="removeFacet(facet)">
            <mat-icon>close</mat-icon>
          </a>
          <span>
            @if (facet.operator && facet.operator !== 'or') {
              <span [class]="'app-badge-op app-in-facet-dynamic ' + facet.operator">
                <mat-icon class="app-icon-op">{{ 'facet.icon.' + facet.operator | translate }}</mat-icon>
              </span>
            }
            @if (facet.field !== 'q') {
              {{ 'facet.field.' + facet.field | translate}}:&#160;
            }
            @if (facet.display) {
              <span class="app-font-bold">{{ facet.display }}</span>
            }
            @if (facet.field === 'az_dj_negativni_jednotka') {
              <span class="app-font-bold">
                {{ facet.value === '1' ? ('negativní' | translate) : ('pozitivní' | translate) }}
              </span>
            }
            @if (facet.field === 'dokument_cast_komponenta_dokument_jistota') {
              <span class="app-font-bold">
                {{ facet.value === '1' ? ('Ano' | translate) : ('Ne' | translate) }}
              </span>
            }
            @if (!facet.display && facet.field !== 'az_dj_negativni_jednotka' && facet.field !== 'dokument_cast_komponenta_dokument_jistota') {
              <span class="app-font-bold">{{ facet.value | translate}}</span>
            }
          </span>
        </div>
      }
    </mat-list-item>
  }
</mat-list>