// --- MDC OVERRIDE ---

// card
.mat-mdc-card {
  padding: 16px;

  .mat-mdc-card-header {
    padding: 0;

    .mat-mdc-card-title {
      margin-bottom: 12px;
    }

    .mat-mdc-card-header-text {
      .mat-icon {
        margin-right: 5px;
      }
    }
  }

  .mdc-card__actions {
    padding: 0;
    display: block;
    min-height: auto;
    font-size: 14px;
  }
}