// --- APP RESULT ITEM ---

.app-result-item {
  .mat-mdc-card-title {
    @media #{$lt-sm} {
      flex-wrap: wrap !important;

      div {
        &:first-child {
          flex: 1 1 100% !important;
          margin-bottom: 12px;
        }
      }
    }
  }
}